<table>
<tbody>
<tr>
<td class="destaque" style="text-align: center;">
<p>A&ccedil;&atilde;o</p>
</td>
<td class="destaque" style="text-align: center;">
<p>P&uacute;blico Alvo</p>
</td>
<td class="destaque" style="text-align: center;">
<p>Quantidade</p>
</td>
<td class="destaque" style="text-align: center;">
<p>Investimentos <br /> em 2015 (R$)</p>
</td>
<td class="destaque" style="text-align: center;">
<p>Economia de Energia (MWh/ano)</p>
</td>
<td class="destaque" style="text-align: center;">
<p>Redu&ccedil;&atilde;o dedemanda na ponta (kW)</p>
</td>
<td class="destaque" style="text-align: center;">
<p>CO<sub>2</sub> evitado<br /> (toneladas)</p>
</td>
</tr>
<tr>
<td>
<p>Substitui&ccedil;&atilde;o de Chuveiros el&eacute;tricos por Aquecimento Solar</p>
</td>
<td>
<p>Conjuntos Habitacionais de baixa renda</p>
</td>
<td>
<p>&nbsp;8.820 Sistemas e 44.100 l&acirc;mpadas</p>
</td>
<td style="text-align: right;">
<p>24.384.264,61</p>
</td>
<td style="text-align: right;">
<p>3.780</p>
</td>
<td style="text-align: right;">
<p>2.998</p>
</td>
<td style="text-align: right;">
<p>336</p>
</td>
</tr>
<tr>
<td>
<p>Projeto Conviver - Orienta&ccedil;&atilde;o sobre medidas de efici&ecirc;ncia energ&eacute;tica e troca de equipamentos</p>
</td>
<td>
<p>Clientes de baixa renda</p>
</td>
<td>
<p>5.323 fam&iacute;lias 2.711 geladeiras 26.160 l&acirc;mpadas&nbsp;</p>
</td>
<td style="text-align: right;">
<p>5.327.967,07</p>
</td>
<td style="text-align: right;">
<p>1.117</p>
</td>
<td style="text-align: right;">
<p>402</p>
</td>
<td style="text-align: right;">
<p>99</p>
</td>
</tr>
<tr>
<td>
<p>Substitui&ccedil;&atilde;o de Chuveiros el&eacute;tricos por Aquecimento Solar</p>
</td>
<td>
<p>Institui&ccedil;&otilde;es de longa Perman&ecirc;ncia de Idosos</p>
</td>
<td>
<p>&nbsp;31 Institui&ccedil;&otilde;es</p>
</td>
<td style="text-align: right;">
<p>5.624.021,28</p>
</td>
<td style="text-align: right;">
<p>545</p>
</td>
<td style="text-align: right;">
<p>240</p>
</td>
<td style="text-align: right;">
<p>49</p>
</td>
</tr>
<tr>
<td>
<p>Substitui&ccedil;&atilde;o de Chuveiros el&eacute;tricos por Aquecimento Solar</p>
</td>
<td>
<p>Hospitais p&uacute;blicos e entidades filantr&oacute;picos</p>
</td>
<td>
<p>7 Hospitais</p>
</td>
<td style="text-align: right;">
<p>2.121.293,18</p>
</td>
<td style="text-align: right;">
<p>498</p>
</td>
<td style="text-align: right;">
<p>1.463</p>
</td>
<td style="text-align: right;">
<p>44</p>
</td>
</tr>
<tr>
<td>
<p>Usina Solar Fotovoltaica</p>
</td>
<td>
<p>Ind&uacute;stria</p>
</td>
<td>
<p>1 Edifica&ccedil;&atilde;o</p>
</td>
<td style="text-align: right;">
<p>5.776,20</p>
</td>
<td style="text-align: right;">
<p>90</p>
</td>
<td style="text-align: right;">
<p>-</p>
</td>
<td style="text-align: right;">
<p>8</p>
</td>
</tr>
<tr>
<td>
<p>Moderniza&ccedil;&atilde;o de Ilumina&ccedil;&atilde;o</p>
</td>
<td>
<p>Ind&uacute;stria</p>
</td>
<td>
<p>1 Edifica&ccedil;&atilde;o</p>
</td>
<td style="text-align: right;">
<p>429.250,80</p>
</td>
<td style="text-align: right;">
<p>287</p>
</td>
<td style="text-align: right;">
<p>89</p>
</td>
<td style="text-align: right;">
<p>26</p>
</td>
</tr>
<tr>
<td>
<p>Substitui&ccedil;&atilde;o do Sistema de Ilumina&ccedil;&atilde;o</p>
</td>
<td>
<p>Ind&uacute;stria</p>
</td>
<td>
<p>1 Edifica&ccedil;&atilde;o</p>
</td>
<td style="text-align: right;">
<p>2.000,00</p>
</td>
<td style="text-align: right;">
<p>268</p>
</td>
<td style="text-align: right;">
<p>43</p>
</td>
<td style="text-align: right;">
<p>24</p>
</td>
</tr>
<tr>
<td>
<p>Usina Solar Fotovoltaica</p>
</td>
<td>
<p>Prestador de Servi&ccedil;o</p>
</td>
<td>
<p>1 Edifica&ccedil;&atilde;o</p>
</td>
<td style="text-align: right;">
<p>1.204.724,54</p>
</td>
<td style="text-align: right;">
<p>466</p>
</td>
<td style="text-align: right;">
<p>-</p>
</td>
<td style="text-align: right;">
<p>41</p>
</td>
</tr>
<tr>
<td class="highlight" colspan="3">
<p>TOTAL</p>
</td>
<td class="highlight" style="text-align: right;">
<p>39.099.297,68</p>
</td>
<td class="highlight" style="text-align: right;">
<p>7.051</p>
</td>
<td class="highlight" style="text-align: right;">
<p>5.235</p>
</td>
<td class="highlight" style="text-align: right;">
<p>627</p>
</td>
</tr>
</tbody>
</table>