<table width="554">
<tbody>
<tr>
<td class="destaque" style="text-align: center;" colspan="7" width="176">
<p>&nbsp;Quadro pr&oacute;prio Cemig</p>
</td>
</tr>
<tr>
<td class="subtitulo" style="text-align: center;" rowspan="2" width="90">
<p>Anos</p>
</td>
<td class="subtitulo" style="text-align: center;" colspan="2" width="176">
<p>Cargo de Lideran&ccedil;a</p>
</td>
<td class="subtitulo" style="text-align: center;" colspan="2" width="176">
<p>N&iacute;vel Universit&aacute;rio</p>
</td>
<td class="subtitulo" style="text-align: center;" colspan="2" width="176">
<p>N&iacute;vel t&eacute;cnico</p>
</td>
</tr>
<tr>
<td class="highlight" style="text-align: center;" width="176">
<p>Homem</p>
</td>
<td class="highlight" style="text-align: center;" width="176">
<p>&nbsp;Mulher</p>
</td>
<td class="highlight" style="text-align: center;" width="176">
<p>Homem</p>
</td>
<td class="highlight" style="text-align: center;" width="176">
<p>&nbsp;Mulher</p>
</td>
<td class="highlight" style="text-align: center;" width="176">
<p>Homem</p>
</td>
<td class="highlight" style="text-align: center;" width="176">
<p>&nbsp;Mulher</p>
</td>
</tr>
<tr>
<td style="text-align: center;" rowspan="2" width="90">
<p><strong>2015</strong></p>
</td>
<td style="text-align: center;" width="176">
<p>229</p>
</td>
<td style="text-align: center;" width="176">
<p>33</p>
</td>
<td style="text-align: center;" width="176">
<p>1.099</p>
</td>
<td style="text-align: center;" width="176">
<p>293</p>
</td>
<td style="text-align: center;" width="176">
<p>5.459</p>
</td>
<td style="text-align: center;" width="176">
<p>747</p>
</td>
</tr>
<tr>
<td class="highlight_2" style="text-align: center;" colspan="2" width="176">
<p>262</p>
</td>
<td class="highlight_2" style="text-align: center;" colspan="2" width="176">
<p>1.392</p>
</td>
<td class="highlight_2" style="text-align: center;" colspan="2" width="176">
<p>6.206</p>
</td>
</tr>
<tr>
<td style="text-align: center;" rowspan="2" width="90">
<p><strong>2014</strong></p>
</td>
<td style="text-align: center;" width="176">
<p>212</p>
</td>
<td style="text-align: center;" width="176">
<p>29</p>
</td>
<td style="text-align: center;" width="176">
<p>1.050</p>
</td>
<td style="text-align: center;" width="176">
<p>288</p>
</td>
<td style="text-align: center;" width="176">
<p>5.572</p>
</td>
<td style="text-align: center;" width="176">
<p>770</p>
</td>
</tr>
<tr>
<td class="highlight_2" style="text-align: center;" colspan="2" width="176">
<p>241</p>
</td>
<td class="highlight_2" style="text-align: center;" colspan="2" width="176">
<p>1.338</p>
</td>
<td class="highlight_2" style="text-align: center;" colspan="2" width="176">
<p>6.342</p>
</td>
</tr>
<tr>
<td style="text-align: center;" rowspan="2" width="90">
<p><strong>2013</strong></p>
</td>
<td style="text-align: center;" width="176">
<p>212</p>
</td>
<td style="text-align: center;" width="176">
<p>31</p>
</td>
<td style="text-align: center;" width="176">
<p>1.053</p>
</td>
<td style="text-align: center;" width="176">
<p>290</p>
</td>
<td style="text-align: center;" width="176">
<p>5.614</p>
</td>
<td style="text-align: center;" width="176">
<p>721</p>
</td>
</tr>
<tr>
<td class="highlight_2" style="text-align: center;" colspan="2" width="176">
<p>243</p>
</td>
<td class="highlight_2" style="text-align: center;" colspan="2" width="176">
<p>1.343</p>
</td>
<td class="highlight_2" style="text-align: center;" colspan="2" width="176">
<p>6.335</p>
</td>
</tr>
<tr>
<td class="subtitulo" rowspan="2" width="90">
<p style="text-align: center;">Anos&nbsp;</p>
</td>
<td class="subtitulo" colspan="6">
<p style="text-align: center;">Total</p>
</td>
</tr>
<tr>
<td class="highlight" style="text-align: center;" colspan="3" width="176">
<p>Homem</p>
</td>
<td class="highlight" style="text-align: center;" colspan="3" width="176">
<p>Mulher</p>
</td>
</tr>
<tr>
<td style="text-align: center;" rowspan="2" width="90">
<p><strong>2015</strong></p>
</td>
<td style="text-align: center;" colspan="3" width="176">
<p>6.787</p>
</td>
<td style="text-align: center;" colspan="3" width="176">
<p>1.073</p>
</td>
</tr>
<tr>
<td class="highlight_2" style="text-align: center;" colspan="6" width="176">
<p>7.860</p>
</td>
</tr>
<tr>
<td style="text-align: center;" rowspan="2" width="90">
<p><strong>2014</strong></p>
</td>
<td style="text-align: center;" colspan="3" width="176">
<p>6.835</p>
</td>
<td style="text-align: center;" colspan="3" width="176">
<p>1.087</p>
</td>
</tr>
<tr>
<td class="highlight_2" style="text-align: center;" colspan="6" width="176">
<p>7.922</p>
</td>
</tr>
<tr>
<td style="text-align: center;" rowspan="2" width="90">
<p><strong>2013</strong></p>
</td>
<td style="text-align: center;" colspan="3" width="176">
<p>6.880</p>
</td>
<td style="text-align: center;" colspan="3" width="176">
<p>1.042</p>
</td>
</tr>
<tr>
<td class="highlight_2" style="text-align: center;" colspan="6" width="176">
<p>7.922</p>
</td>
</tr>
<tr>
<td class="destaque" style="text-align: center;" colspan="7" width="176">
<p>&nbsp;Tempor&aacute;rio</p>
</td>
</tr>
<tr>
<td class="subtitulo" style="text-align: center;" rowspan="2" width="90">
<p>Anos</p>
</td>
<td class="subtitulo" style="text-align: center;" colspan="2" width="176">
<p>M&atilde;o de Obra Tempor&aacute;ria</p>
</td>
<td class="subtitulo" style="text-align: center;" colspan="2" width="176">
<p>Estagi&aacute;rio</p>
</td>
<td class="subtitulo" style="text-align: center;" colspan="2" width="176">
<p>Menor aprendiz</p>
</td>
</tr>
<tr>
<td class="highlight" style="text-align: center;" width="176">
<p>Homem</p>
</td>
<td class="highlight" style="text-align: center;" width="176">
<p>&nbsp;Mulher</p>
</td>
<td class="highlight" style="text-align: center;" width="176">
<p>Homem</p>
</td>
<td class="highlight" style="text-align: center;" width="176">
<p>&nbsp;Mulher</p>
</td>
<td class="highlight" style="text-align: center;" width="176">
<p>Homem</p>
</td>
<td class="highlight" style="text-align: center;" width="176">
<p>&nbsp;Mulher</p>
</td>
</tr>
<tr>
<td style="text-align: center;" rowspan="2" width="90">
<p><strong>2015</strong></p>
</td>
<td style="text-align: center;" width="176">
<p>33</p>
</td>
<td style="text-align: center;" width="176">
<p>44</p>
</td>
<td style="text-align: center;" width="176">
<p>162</p>
</td>
<td style="text-align: center;" width="176">
<p>164</p>
</td>
<td style="text-align: center;" width="176">
<p>102</p>
</td>
<td style="text-align: center;" width="176">
<p>153</p>
</td>
</tr>
<tr>
<td class="highlight_2" style="text-align: center;" colspan="2" width="176">
<p>77</p>
</td>
<td class="highlight_2" style="text-align: center;" colspan="2" width="176">
<p>326</p>
</td>
<td class="highlight_2" style="text-align: center;" colspan="2" width="176">
<p>255</p>
</td>
</tr>
<tr>
<td style="text-align: center;" rowspan="2" width="90">
<p><strong>2014</strong></p>
</td>
<td style="text-align: center;" width="176">
<p>149</p>
</td>
<td style="text-align: center;" width="176">
<p>252</p>
</td>
<td style="text-align: center;" width="176">
<p>171</p>
</td>
<td style="text-align: center;" width="176">
<p>165</p>
</td>
<td style="text-align: center;" width="176">
<p>117</p>
</td>
<td style="text-align: center;" width="176">
<p>138</p>
</td>
</tr>
<tr>
<td class="highlight_2" style="text-align: center;" colspan="2" width="176">
<p>401</p>
</td>
<td class="highlight_2" style="text-align: center;" colspan="2" width="176">
<p>336</p>
</td>
<td class="highlight_2" style="text-align: center;" colspan="2" width="176">
<p>255</p>
</td>
</tr>
<tr>
<td style="text-align: center;" rowspan="2" width="90">
<p><strong>2013</strong></p>
</td>
<td style="text-align: center;" width="176">
<p>204</p>
</td>
<td style="text-align: center;" width="176">
<p>271</p>
</td>
<td style="text-align: center;" width="176">
<p>257</p>
</td>
<td style="text-align: center;" width="176">
<p>248</p>
</td>
<td style="text-align: center;" width="176">
<p>123</p>
</td>
<td style="text-align: center;" width="176">
<p>132</p>
</td>
</tr>
<tr>
<td class="highlight_2" style="text-align: center;" colspan="2" width="176">
<p>475</p>
</td>
<td class="highlight_2" style="text-align: center;" colspan="2" width="176">
<p>505</p>
</td>
<td class="highlight_2" style="text-align: center;" colspan="2" width="176">
<p>255</p>
</td>
</tr>
</tbody>
</table>