<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td class="subtitulo destaque" style="text-align: center;" colspan="2">
<p><strong>Dados Gerais&nbsp;</strong></p>
</td>
<td class="subtitulo destaque" style="text-align: center;">
<p><strong>2011</strong></p>
</td>
<td class="subtitulo destaque" style="text-align: center;">
<p><strong>2012</strong></p>
</td>
<td class="subtitulo destaque" style="text-align: center;">
<p><strong>2013</strong></p>
</td>
<td class="subtitulo destaque" style="text-align: center;">
<p><strong>2014</strong></p>
</td>
<td class="subtitulo destaque" style="text-align: center;">
<p><strong>2015</strong></p>
</td>
</tr>
<tr>
<td colspan="2">
<p>N&uacute;mero de consumidores - em milhares&nbsp;<sup>1</sup></p>
</td>
<td style="text-align: right;">
<p>7.336</p>
</td>
<td style="text-align: right;">
<p>7.535</p>
</td>
<td style="text-align: right;">
<p>7.781</p>
</td>
<td style="text-align: right;">
<p>8.008</p>
</td>
<td style="text-align: right;">
<p>8.078</p>
</td>
</tr>
<tr>
<td colspan="2">
<p>N&uacute;mero de empregados (LA1)</p>
</td>
<td style="text-align: right;">
<p>8.706</p>
</td>
<td style="text-align: right;">
<p>8.368</p>
</td>
<td style="text-align: right;">
<p>7.922</p>
</td>
<td style="text-align: right;">
<p>7.922</p>
</td>
<td style="text-align: right;">
<p>7.860</p>
</td>
</tr>
<tr>
<td colspan="2">
<p>N&uacute;mero de munic&iacute;pios atendidos</p>
</td>
<td style="text-align: right;">
<p>774</p>
</td>
<td style="text-align: right;">
<p>774</p>
</td>
<td style="text-align: right;">
<p>774</p>
</td>
<td style="text-align: right;">
<p>774</p>
</td>
<td style="text-align: right;">
<p>774</p>
</td>
</tr>
<tr>
<td colspan="2">
<p>&Aacute;rea de concess&atilde;o - km&sup2;&nbsp;<sup>2</sup></p>
</td>
<td style="text-align: right;">
<p>567.740</p>
</td>
<td style="text-align: right;">
<p>567.740</p>
</td>
<td style="text-align: right;">
<p>567.478</p>
</td>
<td style="text-align: right;">
<p>567.478</p>
</td>
<td style="text-align: right;">
<p>567.478</p>
</td>
</tr>
<tr>
<td colspan="2">
<p>FEC - n&uacute;mero de interrup&ccedil;&otilde;es (EU28)</p>
</td>
<td style="text-align: right;">
<p>7,00</p>
</td>
<td style="text-align: right;">
<p>7,05</p>
</td>
<td style="text-align: right;">
<p>6,26</p>
</td>
<td style="text-align: right;">
<p>5,58</p>
</td>
<td style="text-align: right;">
<p>5,87</p>
</td>
</tr>
<tr>
<td colspan="2">
<p>DEC - horas (EU29)</p>
</td>
<td style="text-align: right;">
<p>14,32</p>
</td>
<td style="text-align: right;">
<p>14,74</p>
</td>
<td style="text-align: right;">
<p>12,49</p>
</td>
<td style="text-align: right;">
<p>10,77</p>
</td>
<td style="text-align: right;">
<p>11,53</p>
</td>
</tr>
<tr>
<td colspan="2">
<p>N&uacute;mero de usinas em opera&ccedil;&atilde;o&nbsp;<sup>3</sup></p>
</td>
<td style="text-align: right;">
<p>66</p>
</td>
<td style="text-align: right;">
<p>70</p>
</td>
<td style="text-align: right;">
<p>70</p>
</td>
<td style="text-align: right;">
<p>70</p>
</td>
<td style="text-align: right;">
<p>84</p>
</td>
</tr>
<tr>
<td colspan="2">
<p>Capacidade instalada - MW (EU1)&nbsp;<sup>4</sup></p>
</td>
<td style="text-align: right;">
<p>6.964</p>
</td>
<td style="text-align: right;">
<p>7.038</p>
</td>
<td style="text-align: right;">
<p>7.038</p>
</td>
<td style="text-align: right;">
<p>7.717</p>
</td>
<td style="text-align: right;">
<p>7.800</p>
</td>
</tr>
<tr>
<td colspan="2">
<p>Extens&atilde;o das linhas de transmiss&atilde;o - km (EU4) <sup>4</sup></p>
</td>
<td style="text-align: right;">
<p>8.794</p>
</td>
<td style="text-align: right;">
<p>9.413</p>
</td>
<td style="text-align: right;">
<p>9.748</p>
</td>
<td style="text-align: right;">
<p>9.748</p>
</td>
<td style="text-align: right;">
<p>9.748</p>
</td>
</tr>
<tr>
<td colspan="2">
<p>Extens&atilde;o das linhas de subtransmiss&atilde;o - km (EU4)</p>
</td>
<td style="text-align: right;">
<p>16.915</p>
</td>
<td style="text-align: right;">
<p>17.594</p>
</td>
<td style="text-align: right;">
<p>17.218</p>
</td>
<td style="text-align: right;">
<p>16.160</p>
</td>
<td style="text-align: right;">
<p>16.160</p>
</td>
</tr>
<tr>
<td>
<p>Extens&atilde;o da rede de distribui&ccedil;&atilde;o - km (EU4) &nbsp; &nbsp;</p>
</td>
<td>
<p style="text-align: center;">Total</p>
</td>
<td style="text-align: right;">
<p>467.679</p>
</td>
<td style="text-align: right;">
<p>480.932</p>
</td>
<td style="text-align: right;">
<p>486.045</p>
</td>
<td style="text-align: right;">
<p>491.848</p>
</td>
<td style="text-align: right;">
<p>494.550</p>
</td>
</tr>
<tr>
<td>
<p>&nbsp;</p>
</td>
<td>
<p style="text-align: center;">Urbana</p>
</td>
<td style="text-align: right;">
<p>93.823</p>
</td>
<td style="text-align: right;">
<p>96.182</p>
</td>
<td style="text-align: right;">
<p>98.175</p>
</td>
<td style="text-align: right;">
<p>99.818</p>
</td>
<td style="text-align: right;">
<p>101.454</p>
</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>
<p style="text-align: center;">Rural</p>
</td>
<td style="text-align: right;">
<p>373.856</p>
</td>
<td style="text-align: right;">
<p>384.750</p>
</td>
<td style="text-align: right;">
<p>387.870</p>
</td>
<td style="text-align: right;">
<p>392.030</p>
</td>
<td style="text-align: right;">
<p>363.096</p>
</td>
</tr>
<tr>
<td class="subtitulo destaque" style="text-align: center;" colspan="2">
<p><strong>Dimens&atilde;o Ec&ocirc;nomica</strong></p>
</td>
<td class="subtitulo destaque" style="text-align: center;">
<p><strong>2011</strong></p>
</td>
<td class="subtitulo destaque" style="text-align: center;">
<p><strong>2012</strong></p>
</td>
<td class="subtitulo destaque" style="text-align: center;">
<p><strong>2013</strong></p>
</td>
<td class="subtitulo destaque" style="text-align: center;">
<p><strong>2014</strong></p>
</td>
<td class="subtitulo destaque" style="text-align: center;">
<p><strong>2015</strong></p>
</td>
</tr>
<tr>
<td colspan="2">
<p>Receita operacional l&iacute;quida - R$ milh&otilde;es</p>
</td>
<td style="text-align: right;">
<p>15.749</p>
</td>
<td style="text-align: right;">
<p>14.137</p>
</td>
<td style="text-align: right;">
<p>14.627</p>
</td>
<td style="text-align: right;">
<p>19.540</p>
</td>
<td style="text-align: right;">
<p>21.292</p>
</td>
</tr>
<tr>
<td colspan="2">
<p>Lajida ou Ebitda - R$ milh&otilde;es</p>
</td>
<td style="text-align: right;">
<p>5.351</p>
</td>
<td style="text-align: right;">
<p>5.084</p>
</td>
<td style="text-align: right;">
<p>5.186</p>
</td>
<td style="text-align: right;">
<p>6.382</p>
</td>
<td style="text-align: right;">
<p>4.955</p>
</td>
</tr>
<tr>
<td colspan="2">
<p>Lucro l&iacute;quido (preju&iacute;zo) - R$ milh&otilde;es</p>
</td>
<td style="text-align: right;">
<p>2.415</p>
</td>
<td style="text-align: right;">
<p>4.272</p>
</td>
<td style="text-align: right;">
<p>3.104</p>
</td>
<td style="text-align: right;">
<p>3.137</p>
</td>
<td style="text-align: right;">
<p>2.492</p>
</td>
</tr>
<tr>
<td colspan="2">
<p>Patrim&ocirc;nio l&iacute;quido - R$ milh&otilde;es</p>
</td>
<td style="text-align: right;">
<p>11.745</p>
</td>
<td style="text-align: right;">
<p>12.044</p>
</td>
<td style="text-align: right;">
<p>12.638</p>
</td>
<td style="text-align: right;">
<p>11.285</p>
</td>
<td style="text-align: right;">
<p>12.995</p>
</td>
</tr>
<tr>
<td colspan="2">
<p>Valor de mercado - R$ milh&otilde;es</p>
</td>
<td style="text-align: right;">
<p>22.694</p>
</td>
<td style="text-align: right;">
<p>19.292</p>
</td>
<td style="text-align: right;">
<p>17.629</p>
</td>
<td style="text-align: right;">
<p>16.812</p>
</td>
<td style="text-align: right;">
<p>7.843</p>
</td>
</tr>
<tr>
<td colspan="2">
<p>Dividendos pagos - R$ milh&otilde;es <sup>5</sup></p>
</td>
<td style="text-align: right;">
<p>2.036</p>
</td>
<td style="text-align: right;">
<p>2.918</p>
</td>
<td style="text-align: right;">
<p>2.818</p>
</td>
<td style="text-align: right;">
<p>797</p>
</td>
<td style="text-align: right;">
<p>633</p>
</td>
</tr>
<tr>
<td colspan="2">
<p>Dividend Yield (%)</p>
</td>
<td style="text-align: right;">
<p>10,4</p>
</td>
<td style="text-align: right;">
<p>12,4</p>
</td>
<td style="text-align: right;">
<p>22</p>
</td>
<td style="text-align: right;">
<p>9,2</p>
</td>
<td style="text-align: right;">
<p>4,5</p>
</td>
</tr>
<tr>
<td class="subtitulo destaque" style="text-align: center;" colspan="2">
<p><strong>Dimens&atilde;o Ambiental</strong></p>
</td>
<td class="subtitulo destaque" style="text-align: center;">
<p><strong>2011</strong></p>
</td>
<td class="subtitulo destaque" style="text-align: center;">
<p><strong>2012</strong></p>
</td>
<td class="subtitulo destaque" style="text-align: center;">
<p><strong>2013</strong></p>
</td>
<td class="subtitulo destaque" style="text-align: center;">
<p><strong>2014</strong></p>
</td>
<td class="subtitulo destaque" style="text-align: center;">
<p><strong>2015</strong></p>
</td>
</tr>
<tr>
<td colspan="2">
<p>Recursos aplicados em meio ambiente - R$ milh&otilde;es (EN31) <sup>6</sup></p>
</td>
<td style="text-align: right;">
<p>53,4</p>
</td>
<td style="text-align: right;">
<p>59,4</p>
</td>
<td style="text-align: right;">
<p>52,4</p>
</td>
<td style="text-align: right;">
<p>52,8</p>
</td>
<td style="text-align: right;">
<p>53,8</p>
</td>
</tr>
<tr>
<td colspan="2">
<p>Consumo de combust&iacute;vel frota (GJ)&nbsp;</p>
</td>
<td style="text-align: right;">
<p>198.640</p>
</td>
<td style="text-align: right;">
<p>180.407</p>
</td>
<td style="text-align: right;">
<p>169.470</p>
</td>
<td style="text-align: right;">
<p>144.780</p>
</td>
<td style="text-align: right;">
<p>152.944</p>
</td>
</tr>
<tr>
<td colspan="2">
<p>Capacidade instalada livre de emiss&otilde;es de GEE (%)&nbsp;</p>
</td>
<td style="text-align: right;">
<p>97,2</p>
</td>
<td style="text-align: right;">
<p>97,3</p>
</td>
<td style="text-align: right;">
<p>97,3</p>
</td>
<td style="text-align: right;">
<p>97,3</p>
</td>
<td style="text-align: right;">
<p>98,1</p>
</td>
</tr>
<tr>
<td colspan="2">
<p>Consumo total de &aacute;gua - m&sup3; (EN8) <sup>7</sup></p>
</td>
<td style="text-align: right;">
<p>1.597.078</p>
</td>
<td style="text-align: right;">
<p>1.449.756</p>
</td>
<td style="text-align: right;">
<p>1.313.486</p>
</td>
<td style="text-align: right;">
<p>1.424.540</p>
</td>
<td style="text-align: right;">
<p>698.049</p>
</td>
</tr>
<tr>
<td colspan="2">
<p>Emiss&otilde;es diretas de CO<sub>2</sub> - t m&eacute;tricas (EN15)&nbsp;</p>
</td>
<td style="text-align: right;">
<p>24.506</p>
</td>
<td style="text-align: right;">
<p>53.573</p>
</td>
<td style="text-align: right;">
<p>146.101</p>
</td>
<td style="text-align: right;">
<p>617.717</p>
</td>
<td style="text-align: right;">
<p>164.537</p>
</td>
</tr>
<tr>
<td colspan="2">
<p>Investimentos em P&amp;D meio ambiente - R$ milh&otilde;es&nbsp;</p>
</td>
<td style="text-align: right;">
<p>2,5</p>
</td>
<td style="text-align: right;">
<p>6,6</p>
</td>
<td style="text-align: right;">
<p>10</p>
</td>
<td style="text-align: right;">
<p>11,7</p>
</td>
<td style="text-align: right;">
<p>8,5</p>
</td>
</tr>
<tr>
<td class="subtitulo destaque" style="text-align: center;" colspan="2">
<p><strong>Dimens&atilde;o Social</strong></p>
</td>
<td class="subtitulo destaque" style="text-align: center;">
<p><strong>2011</strong></p>
</td>
<td class="subtitulo destaque" style="text-align: center;">
<p><strong>2012</strong></p>
</td>
<td class="subtitulo destaque" style="text-align: center;">
<p><strong>2013</strong></p>
</td>
<td class="subtitulo destaque" style="text-align: center;">
<p><strong>2014</strong></p>
</td>
<td class="subtitulo destaque" style="text-align: center;">
<p><strong>2015</strong></p>
</td>
</tr>
<tr>
<td colspan="2">
<p>M&eacute;dia de horas de treinamento por empregado (LA10)</p>
</td>
<td style="text-align: right;">
<p>43,18</p>
</td>
<td style="text-align: right;">
<p>35,50</p>
</td>
<td style="text-align: right;">
<p>69,60</p>
</td>
<td style="text-align: right;">
<p>49,37</p>
</td>
<td style="text-align: right;">
<p>37,26</p>
</td>
</tr>
<tr>
<td colspan="2">
<p>Total de recursos aplicados em responsabilidade social - R$ mil&nbsp;<sup>8</sup></p>
</td>
<td style="text-align: right;">
<p>75.074</p>
</td>
<td style="text-align: right;">
<p>115.023</p>
</td>
<td style="text-align: right;">
<p>83.234</p>
</td>
<td style="text-align: right;">
<p>109.622</p>
</td>
<td style="text-align: right;">
<p>75.751</p>
</td>
</tr>
<tr>
<td colspan="2">
<p>Taxa de frequ&ecirc;ncia de acidentes - empregados pr&oacute;prios (LA7)&nbsp;<sup>9</sup></p>
</td>
<td style="text-align: right;">
<p>0,25</p>
</td>
<td style="text-align: right;">
<p>0,23</p>
</td>
<td style="text-align: right;">
<p>0,34</p>
</td>
<td style="text-align: right;">
<p>0,34</p>
</td>
<td style="text-align: right;">
<p>0,41</p>
</td>
</tr>
<tr>
<td colspan="2">
<p>Taxa de frequ&ecirc;ncia de acidentes - empregados contratados (LA7)&nbsp;<sup>9</sup></p>
</td>
<td style="text-align: right;">
<p>0,79</p>
</td>
<td style="text-align: right;">
<p>0,51</p>
</td>
<td style="text-align: right;">
<p>0,45</p>
</td>
<td style="text-align: right;">
<p>0,42</p>
</td>
<td style="text-align: right;">
<p>0,55</p>
</td>
</tr>
</tbody>
</table>