<table>
<tbody>
<tr>
<td class="destaque" style="text-align: center;">
<p>Objetivo<br />Estrat&eacute;gico</p>
</td>
<td class="destaque" style="text-align: center;">
<p>Aspecto<br /> material</p>
</td>
<td class="destaque" style="text-align: center;">
<p>Meta</p>
</td>
<td class="destaque" style="text-align: center;">
<p>Status</p>
</td>
<td class="destaque" style="text-align: center;">
<p>Prazo</p>
</td>
<td class="destaque" style="text-align: center;">
<p>Indicadores<br /> GRI</p>
</td>
</tr>
<tr>
<td rowspan="3">
<p>Maximizar valor <br /> para os <br /> acionistas <br /> de forma sustent&aacute;vel e atendendo <br /> ao Plano Diretor</p>
</td>
<td rowspan="2">
<p>Desempenho econ&ocirc;mico</p>
</td>
<td>
<p>Manter o endividamento consolidado da Companhia em valor igual ou inferior a 2 (duas) vezes o Lajida (lucro antes de juros, impostos, deprecia&ccedil;&atilde;o e amortiza&ccedil;&atilde;o) da Companhia.</p>
</td>
<td>
<p>Conforme delibera&ccedil;&atilde;o da AGE de 29/12/2015, o Conselho de Administra&ccedil;&atilde;o autorizou que excepcionalmente em 2015, por motivos conjunturais, o limite da rela&ccedil;&atilde;o entre endividamento l&iacute;quido e Lajida fosse no m&aacute;ximo de 2,6 vezes. Ao final de 2015, o endividamento l&iacute;quido chegou a 2,4 vezes o Lajida do exerc&iacute;cio, portanto dentro dos novos limites estabelecidos.</p>
</td>
<td style="text-align: center;">
<p>anualmente</p>
</td>
<td style="text-align: center;" rowspan="3">
<p>G4-45, G4-47, <br /> G4-14</p>
</td>
</tr>
<tr>
<td>
<p>Manter uma rela&ccedil;&atilde;o consolidada de endividamento medida por d&iacute;vida l&iacute;quida / (d&iacute;vida l&iacute;quida + patrim&ocirc;nio l&iacute;quido), limitada a 40%.</p>
</td>
<td>
<p>Conforme delibera&ccedil;&atilde;o da AGE de 29/12/2015, o Conselho de Administra&ccedil;&atilde;o autorizou que excepcionalmente em 2015, por motivos conjunturais, a rela&ccedil;&atilde;o de endividamento fosse de no m&aacute;ximo 51%. Ao final de 2015, o endividamento l&iacute;quido chegou a 47,4%.</p>
</td>
<td style="text-align: center;">
<p>anualmente</p>
</td>
</tr>
<tr>
<td>
<p>Valor das a&ccedil;&otilde;es</p>
</td>
<td>
<p>Distribuir pelo menos 50% do lucro l&iacute;quido <br /> na forma de dividendos.</p>
</td>
<td>
<p>A proposta de distribui&ccedil;&atilde;o do resultado do exerc&iacute;cio 2015, sujeita &agrave; aprova&ccedil;&atilde;o da AGO de 30/04/2016, consiste no pagamento de R$ 200 milh&otilde;es a serem pagos em duas etapas (at&eacute; 30/06/2016 e at&eacute; 30/12/2016) sob a forma de juros sobre o capital pr&oacute;prio e R$ 434 milh&otilde;es sob a forma de dividendos de 2015, a serem pagos at&eacute; 30/12/2016. Conforme a proposta, a parte restante dos dividendos de 2015, R$ 634 milh&otilde;es, ser&aacute; mantida como reserva de dividendos obrigat&oacute;rios n&atilde;o distribu&iacute;dos, para serem pagos assim que a situa&ccedil;&atilde;o financeira da Cemig o permitir.</p>
</td>
<td style="text-align: center;">
<p>anualmente</p>
</td>
</tr>
<tr>
<td class="highlight" rowspan="4">
<p>Aumentar <br /> a gera&ccedil;&atilde;o<br /> de caixa</p>
</td>
<td class="highlight" rowspan="3">
<p>Investimentos <br /> para crescimento</p>
</td>
<td class="highlight">
<p>Realizar investimentos na Cemig Gera&ccedil;&atilde;o e Transmiss&atilde;o de R$ 1,6 bilh&atilde;o</p>
</td>
<td class="highlight">
<p>Em 2015, foram realizados investimentos no montante de R$ 578,95 milh&otilde;es.</p>
</td>
<td class="highlight" style="text-align: center;">
<p>2017</p>
</td>
<td class="highlight" style="text-align: center;" rowspan="3">
<p>EC1, EC2, EC8, EU26</p>
</td>
</tr>
<tr>
<td class="highlight">
<p>Realizar investimentos na Cemig Distribui&ccedil;&atilde;o <br /> de R$ 4,9 bilh&otilde;es</p>
</td>
<td class="highlight">
<p>Em 2015, foram realizados investimentos da ordem de R$ 1.108 milh&otilde;es.</p>
</td>
<td class="highlight" style="text-align: center;">
<p>2017</p>
</td>
</tr>
<tr>
<td class="highlight">
<p>Atender 1,2 milh&atilde;o de novos consumidores <br /> na &aacute;rea urbana</p>
</td>
<td class="highlight">
<p>Foram realizadas 809.229 novas liga&ccedil;&otilde;es</p>
</td>
<td class="highlight" style="text-align: center;">
<p>2017</p>
</td>
</tr>
<tr>
<td class="highlight">
<p>Desempenho econ&ocirc;mico</p>
</td>
<td class="highlight">
<p>Aumentar a gera&ccedil;&atilde;o de caixa: apresentar Lajida de pelo menos R$ 6.447 milh&otilde;es</p>
</td>
<td class="highlight">
<p>Em 2015, o Lajida consolidado chegou a R$ 4.955 milh&otilde;es.</p>
</td>
<td class="highlight" style="text-align: center;">
<p>2017</p>
</td>
<td class="highlight" style="text-align: center;">
<p>EC1, EC2, EC8</p>
</td>
</tr>
<tr>
<td rowspan="14">
<p>Garantir a <br /> sustentabilidade</p>
</td>
<td rowspan="2">
<p>&Aacute;gua</p>
</td>
<td>
<p>Reduzir o consumo de &aacute;gua em 4% tendo como base o consumo em 2011</p>
</td>
<td>
<p>Reduziu-se 56,3% em rela&ccedil;&atilde;o ao consumo de 2011</p>
</td>
<td style="text-align: center;">
<p>2020</p>
</td>
<td style="text-align: center;">
<p>EN8, EN9, EN10</p>
</td>
</tr>
<tr>
<td>
<p class="p1">Ter o IEPE - &Iacute;ndice de Efici&ecirc;ncia no Planejamento Energ&eacute;tico das Usinas maior que 94%. *</p>
</td>
<td>
<p class="p1">O IEPE atingiu 94,9% em 2015</p>
</td>
<td style="text-align: center;">
<p>2016</p>
</td>
<td style="text-align: center;">
<p class="p1">EN8, EN9</p>
</td>
</tr>
<tr>
<td>
<p>Energia</p>
</td>
<td>
<p>Reduzir o consumo de energia el&eacute;trica em 4% tendo como base o consumo em 2011</p>
</td>
<td>
<p>Reduziu-se 5,2% em rela&ccedil;&atilde;o ao consumo de 2011</p>
</td>
<td style="text-align: center;">
<p>2020</p>
</td>
<td style="text-align: center;">
<p>EN3, EN4, EN5, EN6,EN7</p>
</td>
</tr>
<tr>
<td rowspan="2">
<p>Mudan&ccedil;as <br /> Clim&aacute;ticas</p>
</td>
<td>
<p>Reduzir a intensidade de emiss&otilde;es de gases de efeito estufa em (tCO2eq/MWh) em 8%, tendo como base as emiss&otilde;es verificadas em 2008</p>
</td>
<td>
<p class="p1">Aumentou 11%, em rela&ccedil;&atilde;o as emiss&otilde;es em 2008. Isso se deve ao fato de terem sido gerados 33.412.535 MWh em 2008 contra 18.989.539 MWh em 2015</p>
</td>
<td style="text-align: center;">
<p>2015</p>
</td>
<td style="text-align: center;" rowspan="2">
<p>EN15, EN16, EN17, EN18, EN19, EN20, EN21</p>
</td>
</tr>
<tr>
<td>
<p class="p1">Reduzir a intensidade de emiss&otilde;es diretas de gases de efeito estufa em (tCO<span class="s1">2</span>e) em 8%, tendo como base as emiss&otilde;es verificadas em 2014</p>
</td>
<td>
<p>Reduziu-se 73,4% em rela&ccedil;&atilde;o as emiss&otilde;es de 2014.</p>
</td>
<td style="text-align: center;">
<p>2021</p>
</td>
</tr>
<tr>
<td>
<p>Res&iacute;duos</p>
</td>
<td>
<p>Ter 99% dos res&iacute;duos industriais reciclados/regenerados ou alienados</p>
</td>
<td>
<p>Em 2015, 99,8% dos res&iacute;duos industriais foram reciclados,&nbsp;regenerados ou alienados</p>
</td>
<td style="text-align: center;">
<p>2020</p>
</td>
<td style="text-align: center;">
<p>EN23, EN24</p>
</td>
</tr>
<tr>
<td rowspan="4">
<p>Biodiversidade</p>
</td>
<td>
<p>Ter no m&aacute;ximo 1.772kg de biomassa afetada</p>
</td>
<td>
<p>No ano de 2015, a biomassa afetada foi de 2.706,2 kg. Detalhes est&atilde;o dispon&iacute;veis no item Biodiversidade.</p>
</td>
<td style="text-align: center;">
<p>2017</p>
</td>
<td style="text-align: center;" rowspan="4">
<p>EN11, EN12, <br /> EN13, EU13</p>
</td>
</tr>
<tr>
<td>
<p>Concluir o estudo da efetividade e Sustentabilidade da Mata Ciliar da UHE Volta Grande, MG na Conserva&ccedil;&atilde;o de Processos Ecol&oacute;gicos e Biodiversidade</p>
</td>
<td>
<p>A elabora&ccedil;&atilde;o do estudo se encontra dentro do cronograma estabelecido</p>
</td>
<td style="text-align: center;">
<p>2016</p>
</td>
</tr>
<tr>
<td>
<p>Concluir o invent&aacute;rio de arboriza&ccedil;&atilde;o urbana em Belo Horizonte, e inserir o produto como ferramenta rotineira de planejamento e programa&ccedil;&atilde;o de trabalho</p>
</td>
<td>
<p>At&eacute; dezembro de 2015 foram inventariadas aproximadamente 290 mil &aacute;rvores, restando cerca de 190 mil para a conclus&atilde;o dos trabalhos. OBS:&nbsp; no decorrer do trabalho a estimativa do total de &aacute;rvores a serem inventariadas foi revista.</p>
</td>
<td style="text-align: center;">
<p>2017</p>
</td>
</tr>
<tr>
<td>
<p>Incorporar a metodologia de Manejo Integrado de Vegeta&ccedil;&atilde;o como procedimento padr&atilde;o de abertura de faixas de passagem de LT</p>
</td>
<td>
<p>O projeto de P&amp;D de elabora&ccedil;&atilde;o da metodologia de Manejo Integrado de Vegeta&ccedil;&atilde;o (MIV) em faixas de passagem de linhas de transmiss&atilde;o foi conclu&iacute;do em 2014. Est&aacute; previsto para o 2&deg; semestre de 2016 o in&iacute;cio da utiliza&ccedil;&atilde;o da metodologia (aguarda-se apenas a libera&ccedil;&atilde;o de uso dos produtos n&atilde;o agr&iacute;colas).</p>
</td>
<td style="text-align: center;">
<p>2017</p>
</td>
</tr>
<tr>
<td>
<p>Atender <br /> &agrave; legisla&ccedil;&atilde;o</p>
</td>
<td>
<p>Revisar a Declara&ccedil;&atilde;o de Princ&iacute;pios &Eacute;ticos e C&oacute;digo de Conduta Profissional</p>
</td>
<td>
<p>A empresa foi contratada para realizar o servi&ccedil;o. A conclus&atilde;o do trabalho ocorrer&aacute; em 2016.</p>
</td>
<td style="text-align: center;">
<p>2016</p>
</td>
<td style="text-align: center;">
<p>HR3, HR5, HR6</p>
</td>
</tr>
<tr>
<td>
<p>Comunidades</p>
</td>
<td>
<p>Elaborar a vers&atilde;o reduzida e simplificada do Relat&oacute;rio Anual e de Sustentabilidade *</p>
</td>
<td>
<p>Elaborado e disponibilizado para as partes interessadas.&nbsp;</p>
</td>
<td style="text-align: center;">
<p>2015</p>
</td>
<td style="text-align: center;">
<p>HR3, EU24</p>
</td>
</tr>
<tr>
<td rowspan="2">
<p>Gest&atilde;o de Fornecedores</p>
</td>
<td rowspan="2">
<p>Ter o &Iacute;ndice de Qualidade <br /> dos Servi&ccedil;os Contratados maior que 80% *</p>
</td>
<td>
<p>Em 2015, o resultado do &Igrave;ndice de Qualidade dos Servi&ccedil;os Contratados foi 67,8%.&nbsp;</p>
</td>
<td style="text-align: center;">
<p>2015</p>
</td>
<td style="text-align: center;" rowspan="2">
<p>HR1, HR5, HR6</p>
</td>
</tr>
<tr>
<td>
<p>A meta para 2016 continua em 80%.</p>
</td>
<td style="text-align: center;">
<p>2016</p>
</td>
</tr>
<tr>
<td class="highlight" rowspan="4">
<p>Assegurar <br /> os n&iacute;veis de qualidade <br /> definidos pelo regulador</p>
</td>
<td class="highlight" rowspan="2">
<p>Qualidade <br /> da energia</p>
</td>
<td class="highlight">
<p>Ter o DEC abaixo de 10,83h</p>
</td>
<td class="highlight">
<p>Foram apuradas 11,5 horas em 2015, devido ao aumento do DEC acidental. Esfor&ccedil;os em novos avan&ccedil;os no DEC programado ser&atilde;o feitos para trazer novamente o DEC para dentro da meta.</p>
</td>
<td class="highlight" style="text-align: center;">
<p>2017</p>
</td>
<td class="highlight" style="text-align: center;">
<p>EU6, EU29</p>
</td>
</tr>
<tr>
<td class="highlight">
<p>Ter o FEC abaixo de 7,56</p>
</td>
<td class="highlight">
<p>O &iacute;ndice apurado foi 5,86.</p>
</td>
<td class="highlight" style="text-align: center;">
<p>2017</p>
</td>
<td class="highlight" style="text-align: center;">
<p>EU6, EU28</p>
</td>
</tr>
<tr>
<td class="highlight">
<p>Gest&atilde;o <br /> de Perdas</p>
</td>
<td class="highlight">
<p>Ter perdas totais menores que 10,68%</p>
</td>
<td class="highlight">
<p>As perdas totais foram de 11,69% em 2015</p>
</td>
<td class="highlight" style="text-align: center;">
<p>2017</p>
</td>
<td class="highlight" style="text-align: center;">
<p>EU6, EU12</p>
</td>
</tr>
<tr>
<td class="highlight">
<p>Clientes e Consumidores</p>
</td>
<td class="highlight">
<p>&Iacute;ndice de Satisfa&ccedil;&atilde;o com a Qualidade Percebida maior que 82%</p>
</td>
<td class="highlight">
<p>O &Iacute;ndice de Satisfa&ccedil;&atilde;o com a Qualidade Percebida em 2015 manteve-se em 81,3%</p>
</td>
<td class="highlight" style="text-align: center;">
<p>2017</p>
</td>
<td class="highlight" style="text-align: center;">
<p>PR5</p>
</td>
</tr>
<tr>
<td rowspan="3">
<p>&nbsp;</p>
</td>
<td>
<p>Empregados</p>
</td>
<td>
<p>Ter &iacute;ndice de efici&ecirc;ncia em treinamento maior que 95% *</p>
</td>
<td>
<p>Alcan&ccedil;ada, atingindo 99,8%</p>
</td>
<td style="text-align: center;">
<p>2015</p>
</td>
<td style="text-align: center;">
<p>LA9, LA10</p>
</td>
</tr>
<tr>
<td>
<p>Empregados</p>
</td>
<td>
<p>Ter mais de 47 horas de treinamento por empregado *</p>
</td>
<td>
<p>Abaixo do previsto, com 38,18 horas. Detalhes e justificativa no item Treinamentos</p>
</td>
<td style="text-align: center;">
<p>2015</p>
</td>
<td style="text-align: center;">
<p>LA9, LA10</p>
</td>
</tr>
<tr>
<td>
<p>Empregados</p>
</td>
<td>
<p>Realizar o treinamento sobre a nova instru&ccedil;&atilde;o de servi&ccedil;os &ndash; Requisitos M&iacute;nimos Ambientais *</p>
</td>
<td>
<p>O treinamento foi desenvolvido em formato &agrave; dist&acirc;ncia e est&aacute; passando por adequa&ccedil;&otilde;es. Ser&aacute; lan&ccedil;ado em 2016.</p>
</td>
<td style="text-align: center;">
<p>2015</p>
</td>
<td style="text-align: center;">
<p>LA9, LA10</p>
</td>
</tr>
<tr>
<td class="highlight" rowspan="2">
<p>Efetivar a seguran&ccedil;a como valor na cultura empresarial</p>
</td>
<td class="highlight" rowspan="2">
<p>Sa&uacute;de e <br /> seguran&ccedil;a</p>
</td>
<td class="highlight" rowspan="2">
<p>Na busca da meta Zero acidentes, ter a taxa de frequ&ecirc;ncia de acidentes da for&ccedil;a de trabalho menor que 2,14. *</p>
</td>
<td class="highlight">
<p>Em 2015, a taxa de frequ&ecirc;ncia de acidentes da for&ccedil;a de trabalho foi de 2,56.&nbsp;</p>
</td>
<td class="highlight" style="text-align: center;">
<p>2015</p>
</td>
<td class="highlight" style="text-align: center;" rowspan="2">
<p>LA7</p>
</td>
</tr>
<tr>
<td class="highlight">
<p>A meta pra 2016 e 2017 se mant&eacute;m em 2,14.</p>
</td>
<td class="highlight" style="text-align: center;">
<p>2016/2017</p>
</td>
</tr>
<tr>
<td rowspan="2">
<p>Ser inovadora <br /> na busca de solu&ccedil;&otilde;es tecnol&oacute;gicas <br /> para os neg&oacute;cios</p>
</td>
<td>
<p>Inova&ccedil;&atilde;o</p>
</td>
<td>
<p>Desembolsar em pesquisa e desenvolvimento R$ 290 milh&otilde;es</p>
</td>
<td>
<p>Em 2015 foram desenvolvidos mais de 156 projetos em desenvolvimento e um investimento de mais de R$ 89 milh&otilde;es.</p>
</td>
<td style="text-align: center;">
<p>2018</p>
</td>
<td style="text-align: center;">
<p>EU8</p>
</td>
</tr>
<tr>
<td>
<p>Inova&ccedil;&atilde;o</p>
</td>
<td>
<p>Realizar Leitura e Impress&atilde;o Simult&acirc;nea de Faturas de Energia em 7 milh&otilde;es de clientes. *</p>
</td>
<td>
<p>Em 2015, a Leitura e Impress&atilde;o Simult&acirc;nea de Faturas de Energia atingiu mais de 5 milh&otilde;es de clientes, correspondendo a quase 72% da meta.</p>
</td>
<td style="text-align: center;">
<p>2016</p>
</td>
<td style="text-align: center;">
<p>EU8</p>
</td>
</tr>
</tbody>
</table>
<pre>* Metas anuais, estabelecidas em 2015, com prazos de cumprimento para 2015 em diante.</pre>