<table>
<tbody>
<tr>
<td class=" destaque" style="text-align: center;">
<p><strong>Gera&ccedil;&atilde;o</strong></p>
</td>
<td class=" destaque" style="text-align: center;">
<p><strong>Transmiss&atilde;o</strong></p>
</td>
<td class=" destaque" style="text-align: center;">
<p><strong>Distribui&ccedil;&atilde;o</strong></p>
</td>
<td class=" destaque" style="text-align: center;">
<p><strong>G&aacute;s</strong></p>
</td>
<td class=" destaque" style="text-align: center;">
<p><strong>Outros Neg&oacute;cios</strong></p>
</td>
</tr>
<tr>
<td>
<p>Cemig Gera&ccedil;&atilde;o <br />e Transmiss&atilde;o S.A. <br />100%</p>
</td>
<td>
<p>Cemig Gera&ccedil;&atilde;o e Transmiss&atilde;o S.A.<br />100%</p>
</td>
<td>
<p>Cemig<br />Distribui&ccedil;&atilde;o S.A.<br />100%</p>
</td>
<td>
<p>Cia de G&aacute;s de Minas Gerais (Gasmig)<br />98,71% CV*<br />99,57% CT**<br /><a href="http://www.gasmig.com.br" target="_blank">www.gasmig.com.br</a></p>
</td>
<td>
<p>Axxiom Solu&ccedil;&otilde;es Tecnol&oacute;gicas S.A. <br />51% Light <br />49% Cemig <a href="http://www.axxiom.com.br" target="_blank">www.axxiom.com.br</a></p>
</td>
</tr>
<tr>
<td>
<p>Light S.A. <br />26,06%<br /><a href="http://www.light.com.br" target="_blank">www.light.com.br</a></p>
</td>
<td>
<p>Transmissora Alian&ccedil;a de Energia El&eacute;trica S.A. (Taesa) <br />45,74% CV*<br />43,36% CT**<br /><a href="http://www.taesa.com.br" target="_blank">www.taesa.com.br</a></p>
</td>
<td>
<p>Light S.A.<br />26,06%&nbsp;<br /><a href="http://www.light.com.br" target="_blank">www.light.com.br</a></p>
</td>
<td>
<p>Blocos de explora&ccedil;&atilde;o de g&aacute;s natural<br />24,5%<br />Bacia do S&atilde;o Francisco, Bacia do <br />Rec&ocirc;ncavo Bahiano e Bacia Potiguar</p>
</td>
<td>
<p>Efficientia S.A. <br />100%<br /><a href="http://www.efficientia.com.br/" target="_blank">www.efficientia.com.br</a></p>
</td>
</tr>
<tr>
<td>
<p>Norte Energia S.A.<br />(UHE Belo Monte)<br />11,69%<br /><a href="http://norteenergiasa.com.br/">www.norteenergiasa.com.br</a></p>
</td>
<td>
<p>&nbsp;</p>
</td>
<td>
<p>&nbsp;</p>
</td>
<td>
<p>&nbsp;</p>
</td>
<td>
<p>Cemig Telecom S.A.<br />100%<br /><a href="http://www.cemigtelecom.com" target="_blank">www.cemigtelecom.com</a></p>
</td>
</tr>
<tr>
<td>
<p>Santo Ant&ocirc;nio<br />18,05%&nbsp;<br /><a href="http://www.santoantonioenergia.com.br" target="_blank">www.santoantonioenergia.com.br</a></p>
</td>
<td>
<p>&nbsp;</p>
</td>
<td>
<p>&nbsp;</p>
</td>
<td>
<p>&nbsp;</p>
</td>
<td>
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td>
<p>Renova Energia S.A.<br /> 36,8% CV*<br />27,35% CT**<br /><a href="http://www.renovaenergia.com.br" target="_blank">www.renovaenergia.com.br</a></p>
</td>
<td>
<p><strong>&nbsp;</strong></p>
</td>
<td>
<p>&nbsp;</p>
</td>
<td>
<p>&nbsp;</p>
</td>
<td>
<p>&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<pre>*CV - Capital Votante  **CT - Capital Total</pre>