<table>
<tbody>
<tr>
<td><img style="display: block; margin-left: auto; margin-right: auto;" src="uploads/icon_geracao.png" alt="" width="90" height="90" /></td>
<td><img style="display: block; margin-left: auto; margin-right: auto;" src="uploads/icon_transmissao.png" alt="" width="90" height="90" /></td>
<td><img style="display: block; margin-left: auto; margin-right: auto;" src="uploads/icon_distribuicao.png" alt="" width="90" height="90" /></td>
<td><img style="display: block; margin-left: auto; margin-right: auto;" src="uploads/icon_gas.png" alt="" width="90" height="90" /></td>
<td><img style="display: block; margin-left: auto; margin-right: auto;" src="uploads/icon_comercializacao.png" alt="" width="90" height="90" /></td>
</tr>
<tr>
<td class="destaque" style="text-align: center;">
<p><strong>Gera&ccedil;&atilde;o</strong></p>
</td>
<td class="destaque" style="text-align: center;">
<p><strong>Transmiss&atilde;o</strong></p>
</td>
<td class="destaque" style="text-align: center;">
<p><strong>Distribui&ccedil;&atilde;o</strong></p>
</td>
<td class="destaque" style="text-align: center;">
<p><strong>G&aacute;s</strong></p>
</td>
<td class="destaque" style="text-align: center;">
<p><strong>Comercializa&ccedil;&atilde;o</strong></p>
</td>
</tr>
<tr>
<td rowspan="2">
<p>Capacidade instalada: 7.800 MW</p>
</td>
<td rowspan="2">
<p>Extens&atilde;o das linhas: 9.748 km</p>
</td>
<td rowspan="2">
<p>Extens&atilde;o das redes: 494.550 km</p>
</td>
<td rowspan="2">
<p>1.440 milh&otilde;es de m<sup>3</sup> de g&aacute;s vendidos em 2015</p>
</td>
<td rowspan="2">
<p>22% de participa&ccedil;&atilde;o no mercado</p>
</td>
</tr>
</tbody>
</table>
<pre class="p1">*N&uacute;meros consolidados da Cemig, incluindo proporcionalmente as participa&ccedil;&otilde;es em sociedades controladas/coligadas.</pre>