<h2>Composi&ccedil;&atilde;o do fornecimento de energia el&eacute;trica</h2>
<table>
<tbody>
<tr>
<td class="destaque" rowspan="2">
<p>Discrimina&ccedil;&atilde;o</p>
</td>
<td class="destaque" style="text-align: center;" colspan="2">
<p>Energia (GWh)</p>
</td>
<td class="destaque" style="text-align: center;" rowspan="2">
<p>Varia&ccedil;&atilde;o (2014/2015)</p>
</td>
</tr>
<tr>
<td class="destaque" style="text-align: center;">
<p>2014</p>
</td>
<td class="destaque" style="text-align: center;">
<p>2015</p>
</td>
</tr>
<tr>
<td>
<p>Venda a Consumidores Finais</p>
</td>
<td style="text-align: right;">
<p>49.287</p>
</td>
<td style="text-align: right;">
<p>46.035</p>
</td>
<td style="text-align: right;">
<p>-6,6%</p>
</td>
</tr>
<tr>
<td>
<p>&nbsp; &nbsp; Residencial</p>
</td>
<td style="text-align: right;">
<p>10.014</p>
</td>
<td style="text-align: right;">
<p>9.820</p>
</td>
<td style="text-align: right;">
<p>-1,9%</p>
</td>
</tr>
<tr>
<td>
<p>&nbsp; &nbsp; Industrial</p>
</td>
<td style="text-align: right;">
<p>26.025</p>
</td>
<td style="text-align: right;">
<p>22.969</p>
</td>
<td style="text-align: right;">
<p>-11,7%</p>
</td>
</tr>
<tr>
<td>
<p>&nbsp; &nbsp; &nbsp; &nbsp; Cativo</p>
</td>
<td style="text-align: right;">
<p>4.076</p>
</td>
<td style="text-align: right;">
<p>3.757</p>
</td>
<td style="text-align: right;">
<p>-7,8%</p>
</td>
</tr>
<tr>
<td>
<p>&nbsp; &nbsp; &nbsp; &nbsp; Livre</p>
</td>
<td style="text-align: right;">
<p>21.949</p>
</td>
<td style="text-align: right;">
<p>19.212</p>
</td>
<td style="text-align: right;">
<p>-12,5%</p>
</td>
</tr>
<tr>
<td>
<p>&nbsp; &nbsp; Comercial</p>
</td>
<td style="text-align: right;">
<p>6.395</p>
</td>
<td style="text-align: right;">
<p>6.434</p>
</td>
<td style="text-align: right;">
<p>0,6%</p>
</td>
</tr>
<tr>
<td>
<p>&nbsp; &nbsp; &nbsp; &nbsp; Cativo</p>
</td>
<td style="text-align: right;">
<p>6.031</p>
</td>
<td style="text-align: right;">
<p>6.026</p>
</td>
<td style="text-align: right;">
<p>-0,1%</p>
</td>
</tr>
<tr>
<td>
<p>&nbsp; &nbsp; &nbsp; &nbsp; Livre</p>
</td>
<td style="text-align: right;">
<p>364</p>
</td>
<td style="text-align: right;">
<p>407</p>
</td>
<td style="text-align: right;">
<p>11,8%</p>
</td>
</tr>
<tr>
<td>
<p>&nbsp; &nbsp; Rural</p>
</td>
<td style="text-align: right;">
<p>3.390</p>
</td>
<td style="text-align: right;">
<p>3.380</p>
</td>
<td style="text-align: right;">
<p>-0,3%</p>
</td>
</tr>
<tr>
<td>
<p>Demais Classes</p>
</td>
<td style="text-align: right;">
<p>3.462</p>
</td>
<td style="text-align: right;">
<p>3.422</p>
</td>
<td style="text-align: right;">
<p>-1,2%</p>
</td>
</tr>
<tr>
<td>
<p>Consumo Pr&oacute;prio</p>
</td>
<td style="text-align: right;">
<p>38</p>
</td>
<td style="text-align: right;">
<p>38</p>
</td>
<td style="text-align: right;">
<p>0,0%</p>
</td>
</tr>
<tr>
<td>
<p>Vendas no Atacado</p>
</td>
<td style="text-align: right;">
<p>14.146</p>
</td>
<td style="text-align: right;">
<p>10.831</p>
</td>
<td style="text-align: right;">
<p>-23,4%</p>
</td>
</tr>
<tr>
<td>
<p>&nbsp; &nbsp; &nbsp; &nbsp; CCEEAR-ACR</p>
</td>
<td style="text-align: right;">
<p>5.347</p>
</td>
<td style="text-align: right;">
<p>4.252</p>
</td>
<td style="text-align: right;">
<p>-20,5%</p>
</td>
</tr>
<tr>
<td>
<p>&nbsp; &nbsp; Contratos Livres e Bilaterais</p>
</td>
<td style="text-align: right;">
<p>8.799</p>
</td>
<td style="text-align: right;">
<p>6.579</p>
</td>
<td style="text-align: right;">
<p>-25,2%</p>
</td>
</tr>
<tr>
<td>
<p>Vendas no CEEE</p>
</td>
<td style="text-align: right;">
<p>3.946</p>
</td>
<td style="text-align: right;">
<p>&nbsp;</p>
</td>
<td style="text-align: right;">
<p>-100,0%</p>
</td>
</tr>
<tr>
<td class="highlight">
<p>Energia Transacionada</p>
</td>
<td class="highlight" style="text-align: right;">
<p>67.417</p>
</td>
<td class="highlight" style="text-align: right;">
<p>56.904</p>
</td>
<td class="highlight" style="text-align: right;">
<p>-15,6%</p>
</td>
</tr>
<tr>
<td>
<p>Energia Tansportada (Carga)</p>
</td>
<td style="text-align: right;">
<p>17.448</p>
</td>
<td style="text-align: right;">
<p>15.671</p>
</td>
<td style="text-align: right;">
<p>-10,2%</p>
</td>
</tr>
</tbody>
</table>