<h2>N&uacute;mero de consumidores</h2>
<table>
<tbody>
<tr>
<td class="destaque" rowspan="2">
<p>Discrimina&ccedil;&atilde;o</p>
</td>
<td class="destaque" style="text-align: center;" colspan="2">
<p>Unidades (milhares)</p>
</td>
<td class="destaque" style="text-align: center;" rowspan="2">
<p>Varia&ccedil;&atilde;o (2014/2015)</p>
</td>
</tr>
<tr>
<td class="destaque" style="text-align: center;">
<p>2014</p>
</td>
<td class="destaque" style="text-align: center;">
<p>2015</p>
</td>
</tr>
<tr>
<td>
<p>Venda a Consumidores Finais</p>
</td>
<td align="right">
<p>&nbsp;8.007</p>
</td>
<td align="right">
<p>&nbsp;8.080</p>
</td>
<td style="text-align: right;">
<p>0,9%</p>
</td>
</tr>
<tr>
<td>
<p>&nbsp; &nbsp; Residencial</p>
</td>
<td align="right">
<p>&nbsp;6.446</p>
</td>
<td align="right">
<p>&nbsp;6.532</p>
</td>
<td style="text-align: right;">
<p>1,3%</p>
</td>
</tr>
<tr>
<td>
<p>&nbsp; &nbsp; Industrial</p>
</td>
<td align="right">
<p>&nbsp;77</p>
</td>
<td align="right">
<p>&nbsp;75</p>
</td>
<td style="text-align: right;">
<p>-2,6%</p>
</td>
</tr>
<tr>
<td>
<p>&nbsp; &nbsp; &nbsp; &nbsp; Cativo</p>
</td>
<td align="right">
<p>&nbsp;77</p>
</td>
<td align="right">
<p>&nbsp;75</p>
</td>
<td style="text-align: right;">
<p>-2,6%</p>
</td>
</tr>
<tr>
<td>
<p>&nbsp; &nbsp; &nbsp; &nbsp; Livre</p>
</td>
<td align="right">
<p>&nbsp;0,40</p>
</td>
<td align="right">
<p>&nbsp;0,39</p>
</td>
<td style="text-align: right;">
<p>-2,5%</p>
</td>
</tr>
<tr>
<td>
<p>&nbsp; &nbsp; Comercial</p>
</td>
<td align="right">
<p>&nbsp;720</p>
</td>
<td align="right">
<p>&nbsp;714</p>
</td>
<td style="text-align: right;">
<p>-0,8%</p>
</td>
</tr>
<tr>
<td>
<p>&nbsp; &nbsp; &nbsp; &nbsp; Cativo</p>
</td>
<td align="right">
<p>&nbsp;720</p>
</td>
<td align="right">
<p>&nbsp;714</p>
</td>
<td style="text-align: right;">
<p>-0,8%</p>
</td>
</tr>
<tr>
<td>
<p>&nbsp; &nbsp; &nbsp; &nbsp; Livre</p>
</td>
<td align="right">
<p>&nbsp;0,08</p>
</td>
<td align="right">
<p>&nbsp;0,11</p>
</td>
<td style="text-align: right;">
<p>37,5%</p>
</td>
</tr>
<tr>
<td>
<p>&nbsp; &nbsp; Rural</p>
</td>
<td align="right">
<p>&nbsp;688</p>
</td>
<td align="right">
<p>&nbsp;679</p>
</td>
<td style="text-align: right;">
<p>-1,3%</p>
</td>
</tr>
<tr>
<td>
<p>Demais Classes</p>
</td>
<td align="right">
<p>&nbsp;76</p>
</td>
<td align="right">
<p>&nbsp;78</p>
</td>
<td style="text-align: right;">
<p>2,6%</p>
</td>
</tr>
<tr>
<td>
<p>Consumo Pr&oacute;prio</p>
</td>
<td align="right">
<p>&nbsp;0,75</p>
</td>
<td align="right">
<p>&nbsp;0,76</p>
</td>
<td style="text-align: right;">
<p>1,3%</p>
</td>
</tr>
<tr>
<td>
<p>Vendas no Atacado</p>
</td>
<td align="right">
<p>&nbsp;0,05</p>
</td>
<td align="right">
<p>&nbsp;0,05</p>
</td>
<td style="text-align: right;">
<p>0,0%</p>
</td>
</tr>
<tr>
<td>
<p>&nbsp; &nbsp; CCEEAR-ACR</p>
</td>
<td align="right">
<p>&nbsp;0,03</p>
</td>
<td align="right">
<p>&nbsp;0,04</p>
</td>
<td style="text-align: right;">
<p>33,3%</p>
</td>
</tr>
<tr>
<td>
<p>&nbsp; &nbsp; Cintratos Livres e Bilaterais</p>
</td>
<td align="right">
<p>&nbsp;0,01</p>
</td>
<td align="right">
<p>&nbsp;0,01</p>
</td>
<td style="text-align: right;">
<p>-40,0%</p>
</td>
</tr>
<tr>
<td>
<p>Energia Tansportada (Carga)</p>
</td>
<td align="right">
<p>&nbsp;0,48</p>
</td>
<td align="right">
<p>&nbsp;0,42</p>
</td>
<td style="text-align: right;">
<p>-12,5%</p>
</td>
</tr>
<tr>
<td class="highlight">
<p>Total</p>
</td>
<td class="highlight" align="right">
<p>&nbsp;8.008</p>
</td>
<td class="highlight" align="right">
<p>&nbsp;8.081</p>
</td>
<td class="highlight" style="text-align: right;">
<p>0,9%</p>
</td>
</tr>
</tbody>
</table>