<table>
<tbody>
<tr>
<td class="destaque" style="text-align: center;">
<p>Empresa</p>
</td>
<td class="destaque" style="text-align: center;">
<p>Cemig H</p>
</td>
<td class="destaque" style="text-align: center;">
<p>Cemig GT</p>
</td>
<td class="destaque" style="text-align: center;">
<p>Cemig D</p>
</td>
</tr>
<tr>
<td>
<p>Menor sal&aacute;rio-base/sal&aacute;rio m&iacute;nimo vigente em 31/12/2015</p>
</td>
<td style="text-align: right;">
<p>3,38</p>
</td>
<td style="text-align: right;">
<p>2,02</p>
</td>
<td style="text-align: right;">
<p>2,02</p>
</td>
</tr>
<tr>
<td>
<p>Menor remunera&ccedil;&atilde;o/sal&aacute;rio m&iacute;nimo vigente em 31/12/2015</p>
</td>
<td style="text-align: right;">
<p>3,38</p>
</td>
<td style="text-align: right;">
<p>2,62</p>
</td>
<td style="text-align: right;">
<p>2,37</p>
</td>
</tr>
</tbody>
</table>