<table>
<tbody>
<tr>
<td class="destaque" style="text-align: center;" colspan="6">
<p>Empregados que reunir&atilde;o condi&ccedil;&otilde;es para se aposentar (%)</p>
</td>
</tr>
<tr>
<td class="destaque" style="text-align: center;" colspan="3">
<p>De 2016 a 2020</p>
</td>
<td class="destaque" style="text-align: center;" colspan="3">
<p>De 2021 a 2025</p>
</td>
</tr>
<tr>
<td class="destaque" style="text-align: center;">
<p>Cargo de lideran&ccedil;a</p>
</td>
<td class="destaque" style="text-align: center;">
<p>N&iacute;vel universit&aacute;rio</p>
</td>
<td class="destaque" style="text-align: center;">
<p>N&iacute;vel t&eacute;cnico-operacional</p>
</td>
<td class="destaque" style="text-align: center;">
<p>Cargo de lideran&ccedil;a</p>
</td>
<td class="destaque" style="text-align: center;">
<p>N&iacute;vel universit&aacute;rio</p>
</td>
<td class="destaque" style="text-align: center;">
<p>N&iacute;vel t&eacute;cnico-operacional</p>
</td>
</tr>
<tr>
<td style="text-align: center;">
<p>1,35</p>
</td>
<td style="text-align: center;">
<p>3,97</p>
</td>
<td style="text-align: center;">
<p>17,67</p>
</td>
<td style="text-align: center;">
<p>0,97</p>
</td>
<td style="text-align: center;">
<p>3,45</p>
</td>
<td style="text-align: center;">
<p>21,35</p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>