<table>
<tbody>
<tr>
<td class="destaque" style="text-align: center;" colspan="3">
<p><strong>OUTRAS EMPRESAS</strong></p>
</td>
</tr>
<tr>
<td class="destaque" style="text-align: center;">
<p><strong>CURSOS</strong></p>
</td>
<td class="destaque" style="text-align: center;">
<p><strong>PARTICIPA&Ccedil;&Otilde;ES</strong></p>
</td>
<td class="destaque" style="text-align: center;">
<p><strong>HHT</strong></p>
</td>
</tr>
<tr>
<td>
<p>Habilita&ccedil;&atilde;o na Norma IO-DDC-0001</p>
</td>
<td style="text-align: center;">
<p>185</p>
</td>
<td>
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td>
<p>Revalida&ccedil;&atilde;o Habilita&ccedil;&atilde;o na Norma IO-DDC-0001</p>
</td>
<td style="text-align: center;">
<p>128</p>
</td>
<td>
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td>
<p>Comunica&ccedil;&atilde;o Operativa para Distribui&ccedil;&atilde;o</p>
</td>
<td style="text-align: center;">
<p>118</p>
</td>
<td>
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td>
<p>Revelida&ccedil;&atilde;o Habilita&ccedil;&atilde;o na Norma 01000-DGT-1B</p>
</td>
<td style="text-align: center;">
<p>118</p>
</td>
<td>
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td>
<p>T&eacute;cnicas Supervis&atilde;o Equipes Contratadas</p>
</td>
<td style="text-align: center;">
<p>112</p>
</td>
<td>
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td class="destaque" style="text-align: center;" colspan="3">
<p><strong>CEMIG</strong></p>
</td>
</tr>
<tr>
<td class="destaque" style="text-align: center;">
<p><strong>CURSOS</strong></p>
</td>
<td class="destaque" style="text-align: center;">
<p><strong>PARTICIPA&Ccedil;&Otilde;ES</strong></p>
</td>
<td class="destaque" style="text-align: center;">
<p><strong>HHT</strong></p>
</td>
</tr>
<tr>
<td>
<p>Revalida&ccedil;&atilde;o Habilita&ccedil;&atilde;o na Norma IO-DDC- 0001</p>
</td>
<td style="text-align: center;">
<p>1.481</p>
</td>
<td>
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td>
<p>Revalida&ccedil;&atilde;o Habilita&ccedil;&atilde;o na Norma 01000-DGT-1B</p>
</td>
<td style="text-align: center;">
<p>1.352</p>
</td>
<td>
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td>
<p>Dire&ccedil;&atilde;o Defensiva Ve&iacute;culos Leves/Camionetes</p>
</td>
<td style="text-align: center;">
<p>1.117</p>
</td>
<td>
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td>
<p>Comunica&ccedil;&atilde;o Operativa para Distribui&ccedil;&atilde;o</p>
</td>
<td style="text-align: center;">
<p>963</p>
</td>
<td>
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td>
<p>Preven&ccedil;&atilde;o Acidente de Trabalho para membro CIPA</p>
</td>
<td style="text-align: center;">
<p>705</p>
</td>
<td>
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td>
<p>Trein. Desenvolvimento da Lideran&ccedil;a - SOAR</p>
</td>
<td style="text-align: center;">
<p>395</p>
</td>
<td>
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td>
<p>Reciclagem NR 33</p>
</td>
<td style="text-align: center;">
<p>367</p>
</td>
<td>
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td>
<p>Prud&ecirc;ncia Invest. Despesa SAP - Mod. Inicial</p>
</td>
<td>
<p style="text-align: center;">331</p>
</td>
<td>
<p>&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>