<table>
<tbody>
<tr>
<td class="destaque" style="text-align: center;">
<p>Tipo de acidente</p>
</td>
<td class="destaque" style="text-align: center;">
<p>Categoria</p>
</td>
<td class="destaque" style="text-align: center;">
<p>2012</p>
</td>
<td class="destaque" style="text-align: center;">
<p>2013</p>
</td>
<td class="destaque" style="text-align: center;">
<p>2014</p>
</td>
<td class="destaque" style="text-align: center;">
<p>2015</p>
</td>
</tr>
<tr>
<td rowspan="3">
<p>Acidentes do trabalho sem afastamento</p>
</td>
<td style="text-align: center;">
<p>Empregados</p>
</td>
<td style="text-align: right;">
<p>&nbsp; 47</p>
</td>
<td style="text-align: right;">
<p>&nbsp; 38</p>
</td>
<td style="text-align: right;">
<p>&nbsp; 36</p>
</td>
<td style="text-align: right;">
<p>39</p>
</td>
</tr>
<tr>
<td style="text-align: center;">
<p>Contratados</p>
</td>
<td style="text-align: right;">
<p>&nbsp; 194</p>
</td>
<td style="text-align: right;">
<p>&nbsp; 159</p>
</td>
<td style="text-align: right;">
<p>&nbsp; 119</p>
</td>
<td style="text-align: right;">
<p>175</p>
</td>
</tr>
<tr>
<td class="highlight" style="text-align: center;">
<p>Total</p>
</td>
<td class="highlight" style="text-align: right;">
<p>&nbsp; 241</p>
</td>
<td class="highlight" style="text-align: right;">
<p>&nbsp; 197</p>
</td>
<td class="highlight" style="text-align: right;">
<p>&nbsp; 155</p>
</td>
<td class="highlight" style="text-align: right;">
<p>214</p>
</td>
</tr>
<tr>
<td rowspan="3">
<p>Acidentes do trabalho com afastamento</p>
</td>
<td style="text-align: center;">
<p>Empregados</p>
</td>
<td style="text-align: right;">
<p>&nbsp; 16</p>
</td>
<td style="text-align: right;">
<p>&nbsp; 23</p>
</td>
<td style="text-align: right;">
<p>&nbsp; 24</p>
</td>
<td style="text-align: right;">
<p>28</p>
</td>
</tr>
<tr>
<td style="text-align: center;">
<p>Contratados</p>
</td>
<td style="text-align: right;">
<p>&nbsp; 169</p>
</td>
<td style="text-align: right;">
<p>&nbsp; 90</p>
</td>
<td style="text-align: right;">
<p>&nbsp; 75</p>
</td>
<td style="text-align: right;">
<p>106</p>
</td>
</tr>
<tr>
<td class="highlight" style="text-align: center;">
<p>Total</p>
</td>
<td class="highlight" style="text-align: right;">
<p>&nbsp; 185</p>
</td>
<td class="highlight" style="text-align: right;">
<p>&nbsp; 113</p>
</td>
<td class="highlight" style="text-align: right;">
<p>&nbsp; 99</p>
</td>
<td class="highlight" style="text-align: right;">
<p>134</p>
</td>
</tr>
<tr>
<td rowspan="3">
<p>Doen&ccedil;as ocupacionais</p>
</td>
<td style="text-align: center;">
<p>Empregados</p>
</td>
<td style="text-align: right;">
<p>&nbsp; 1</p>
</td>
<td style="text-align: right;">
<p>-</p>
</td>
<td style="text-align: right;">
<p>-</p>
</td>
<td style="text-align: right;">
<p>3</p>
</td>
</tr>
<tr>
<td style="text-align: center;">
<p>Contratados</p>
</td>
<td style="text-align: right;">
<p>&nbsp;ND</p>
</td>
<td style="text-align: right;">
<p>&nbsp;ND</p>
</td>
<td style="text-align: right;">
<p>&nbsp;ND</p>
</td>
<td style="text-align: right;">
<p>ND</p>
</td>
</tr>
<tr>
<td class="subtitulo highlight" style="text-align: center;">
<p>Total</p>
</td>
<td class="subtitulo highlight" style="text-align: right;">
<p>&nbsp;ND</p>
</td>
<td class="subtitulo highlight" style="text-align: right;">
<p>&nbsp;ND</p>
</td>
<td class="subtitulo highlight" style="text-align: right;">
<p>&nbsp;ND</p>
</td>
<td class="subtitulo highlight" style="text-align: right;">
<p>ND</p>
</td>
</tr>
<tr>
<td rowspan="3">
<p>Dias perdidos</p>
</td>
<td style="text-align: center;">
<p>Empregados</p>
</td>
<td style="text-align: right;">
<p>&nbsp; 639</p>
</td>
<td style="text-align: right;">
<p>&nbsp; 411</p>
</td>
<td style="text-align: right;">
<p>&nbsp; 886</p>
</td>
<td style="text-align: right;">
<p>398</p>
</td>
</tr>
<tr>
<td style="text-align: center;">
<p>Contratados</p>
</td>
<td style="text-align: right;">
<p>1.627</p>
</td>
<td style="text-align: right;">
<p>2.427</p>
</td>
<td style="text-align: right;">
<p>1.937</p>
</td>
<td style="text-align: right;">
<p>2.387</p>
</td>
</tr>
<tr>
<td class="highlight" style="text-align: center;">
<p>Total</p>
</td>
<td class="highlight" style="text-align: right;">
<p>2.266</p>
</td>
<td class="highlight" style="text-align: right;">
<p>2.838</p>
</td>
<td class="highlight" style="text-align: right;">
<p>2.823</p>
</td>
<td class="highlight" style="text-align: right;">
<p>2.789</p>
</td>
</tr>
<tr>
<td rowspan="3">
<p>Taxa de absente&iacute;smo</p>
</td>
<td style="text-align: center;">
<p>Empregados</p>
</td>
<td style="text-align: right;">
<p>&nbsp;1,50&nbsp;</p>
</td>
<td style="text-align: right;">
<p>&nbsp; 1,26</p>
</td>
<td style="text-align: right;">
<p>&nbsp; 1,05</p>
</td>
<td style="text-align: right;">
<p>1,23</p>
</td>
</tr>
<tr>
<td style="text-align: center;">
<p>Contratados</p>
</td>
<td style="text-align: right;">
<p>&nbsp;ND</p>
</td>
<td style="text-align: right;">
<p>&nbsp;ND</p>
</td>
<td style="text-align: right;">
<p>&nbsp;ND</p>
</td>
<td style="text-align: right;">
<p>ND</p>
</td>
</tr>
<tr>
<td class="highlight" style="text-align: center;">
<p>Total</p>
</td>
<td class="highlight" style="text-align: right;">
<p>&nbsp;ND</p>
</td>
<td class="highlight" style="text-align: right;">
<p>&nbsp;ND</p>
</td>
<td class="highlight" style="text-align: right;">
<p>&nbsp;ND</p>
</td>
<td class="highlight" style="text-align: right;">
<p>ND</p>
</td>
</tr>
<tr>
<td rowspan="3">
<p>&Oacute;bitos relacionados ao trabalho</p>
</td>
<td style="text-align: center;">
<p>Empregados</p>
</td>
<td style="text-align: right;">
<p>-</p>
</td>
<td style="text-align: right;">
<p>&nbsp; 1</p>
</td>
<td style="text-align: right;">
<p>-</p>
</td>
<td style="text-align: right;">
<p>-</p>
</td>
</tr>
<tr>
<td style="text-align: center;">
<p>Contratados</p>
</td>
<td style="text-align: right;">
<p>&nbsp; 2</p>
</td>
<td style="text-align: right;">
<p>&nbsp; 3</p>
</td>
<td style="text-align: right;">
<p>&nbsp; 2</p>
</td>
<td style="text-align: right;">
<p>5</p>
</td>
</tr>
<tr>
<td class="highlight" style="text-align: center;">
<p>Total</p>
</td>
<td class="highlight" style="text-align: right;">
<p>&nbsp; 2</p>
</td>
<td class="highlight" style="text-align: right;">
<p>&nbsp; 4</p>
</td>
<td class="highlight" style="text-align: right;">
<p>&nbsp; 2</p>
</td>
<td class="highlight" style="text-align: right;">
<p>5</p>
</td>
</tr>
</tbody>
</table>