<table>
<tbody>
<tr>
<td class="destaque" style="text-align: center;" colspan="4">
<p>Cobertura do Sistema de Gest&atilde;o Ambiental na Cemig</p>
</td>
</tr>
<tr>
<td class="destaque" style="text-align: center;">
<p>Atividade</p>
</td>
<td class="destaque" style="text-align: center;">
<p>ISO 14001</p>
</td>
<td class="destaque" style="text-align: center;">
<p>SGA N&iacute;vel 1</p>
</td>
<td class="destaque" style="text-align: center;">
<p>Requisitos m&iacute;nimos<sup>4</sup></p>
</td>
</tr>
<tr>
<td style="text-align: center;">
<p>Gera&ccedil;&atilde;o<sup>1</sup></p>
</td>
<td style="text-align: center;">
<p>52%</p>
</td>
<td style="text-align: center;">
<p>46%</p>
</td>
<td style="text-align: center;">
<p>2%</p>
</td>
</tr>
<tr>
<td style="text-align: center;">
<p>Transmiss&atilde;o<sup>2</sup></p>
</td>
<td style="text-align: center;">
<p>72%</p>
</td>
<td style="text-align: center;">
<p>28%</p>
</td>
<td style="text-align: center;">
<p>0%</p>
</td>
</tr>
<tr>
<td style="text-align: center;">
<p>Distribui&ccedil;&atilde;o<sup>3</sup></p>
</td>
<td style="text-align: center;">
<p>1%</p>
</td>
<td style="text-align: center;">
<p>6%</p>
</td>
<td style="text-align: center;">
<p>93%</p>
</td>
</tr>
</tbody>
</table>
<pre><sup>1</sup> Em rela&ccedil;&atilde;o aos MW gerados.</pre>
<pre><sup>2</sup> Em rela&ccedil;ao &agrave; extens&atilde;o das&nbsp; Linhas de Transmiss&atilde;o da GT.&nbsp;</pre>
<pre><sup>3</sup> Em rela&ccedil;&atilde;o aos consumidores.&nbsp;</pre>
<pre><sup>4</sup> Os Requisitos M&iacute;nimos s&oacute; existem onde n&atilde;o est&aacute; implantado o SGA seja com base na 14001, seja com base no N&iacute;vel 1.</pre>