<table style="height: 207px;" width="486">
<tbody>
<tr>
<td class="destaque" colspan="6">
<p style="text-align: center;">Recursos aplicados em meio ambiente (R$)</p>
</td>
</tr>
<tr>
<td class="destaque">
<p>&nbsp;</p>
</td>
<td class="destaque" style="text-align: center;">
<p>2011</p>
</td>
<td class="destaque" style="text-align: center;">
<p>2012</p>
</td>
<td class="destaque" style="text-align: center;">
<p>2013</p>
</td>
<td class="destaque" style="text-align: center;">
<p>2014</p>
</td>
<td class="destaque" style="text-align: center;">
<p>2015</p>
</td>
</tr>
<tr>
<td>
<p>Investimentos de capital</p>
</td>
<td style="text-align: right;">
<p>10.970.000</p>
</td>
<td style="text-align: right;">
<p>16.960.000</p>
</td>
<td style="text-align: right;">
<p>6.579.000</p>
</td>
<td style="text-align: right;">
<p>3.872.000</p>
</td>
<td style="text-align: right;">
<p>6.819.664</p>
</td>
</tr>
<tr>
<td>
<p>Despesas totais</p>
</td>
<td style="text-align: right;">
<p>36.820.000</p>
</td>
<td style="text-align: right;">
<p>35.810.000</p>
</td>
<td style="text-align: right;">
<p>35.779.958</p>
</td>
<td style="text-align: right;">
<p>37.219.780</p>
</td>
<td style="text-align: right;">
<p>38.527.936</p>
</td>
</tr>
<tr>
<td>
<p>P&amp;D</p>
</td>
<td style="text-align: right;">
<p>5.579.625</p>
</td>
<td style="text-align: right;">
<p>6.663.207</p>
</td>
<td style="text-align: right;">
<p>10.017.000</p>
</td>
<td style="text-align: right;">
<p>11.746.000</p>
</td>
<td style="text-align: right;">
<p>8.492.661</p>
</td>
</tr>
</tbody>
</table>