<table>
<tbody>
<tr>
<td class="destaque" style="text-align: center;">
<p>Ano</p>
</td>
<td class="destaque" style="text-align: center;">
<p>Transformadores para Distribui&ccedil;&atilde;o (<span class="minusculo">unid.</span>)</p>
</td>
<td class="destaque" style="text-align: center;">
<p>Postes de concreto (<span class="minusculo">unid.</span>)</p>
</td>
<td class="destaque" style="text-align: center;">
<p>Cabos (<span class="minusculo">m</span>)</p>
</td>
<td class="destaque" style="text-align: center;">
<p>Cabos (<span class="minusculo">kg</span>)</p>
</td>
<td class="destaque" style="text-align: center;">
<p>Medidores (<span class="minusculo">unid.</span>)</p>
</td>
<td class="destaque" style="text-align: center;">
<p>Ilumina&ccedil;&atilde;o p&uacute;blica, composta por l&acirc;mpadas, rel&eacute;s, reatores, lumin&aacute;rias, bra&ccedil;o, tomada, chicote ignitor e etc. (<span class="minusculo">unid</span>.)</p>
</td>
</tr>
<tr>
<td style="text-align: center;">
<p>2011</p>
</td>
<td style="text-align: right;">
<p>7.138</p>
</td>
<td style="text-align: right;">
<p>36.729</p>
</td>
<td style="text-align: right;">
<p>9.941.812</p>
</td>
<td style="text-align: right;">
<p>2.038.986</p>
</td>
<td style="text-align: right;">
<p>761.259</p>
</td>
<td style="text-align: right;">
<p>1.094.624</p>
</td>
</tr>
<tr>
<td style="text-align: center;">
<p>2012</p>
</td>
<td style="text-align: right;">
<p>13.393</p>
</td>
<td style="text-align: right;">
<p>49.001</p>
</td>
<td style="text-align: right;">
<p>11.915.226</p>
</td>
<td style="text-align: right;">
<p>2.606.570</p>
</td>
<td style="text-align: right;">
<p>548.993</p>
</td>
<td style="text-align: right;">
<p>744.091</p>
</td>
</tr>
<tr>
<td style="text-align: center;">
<p>2013</p>
</td>
<td style="text-align: right;">
<p>14.209</p>
</td>
<td style="text-align: right;">
<p>52.243</p>
</td>
<td style="text-align: right;">
<p>10.795.817</p>
</td>
<td style="text-align: right;">
<p>2.684.791</p>
</td>
<td style="text-align: right;">
<p>843.185</p>
</td>
<td style="text-align: right;">
<p>734.429</p>
</td>
</tr>
<tr>
<td style="text-align: center;">
<p>2014</p>
</td>
<td style="text-align: right;">
<p>11.938</p>
</td>
<td style="text-align: right;">
<p>38.598</p>
</td>
<td style="text-align: right;">
<p>8.901.101</p>
</td>
<td style="text-align: right;">
<p>1.453.548</p>
</td>
<td style="text-align: right;">
<p>480.704</p>
</td>
<td style="text-align: right;">
<p>698.406</p>
</td>
</tr>
<tr>
<td style="text-align: center;">
<p>2015</p>
</td>
<td style="text-align: right;">
<p>16.237</p>
</td>
<td style="text-align: right;">
<p>39.530</p>
</td>
<td style="text-align: right;">
<p>8.927.891</p>
</td>
<td style="text-align: right;">
<p>1.316.413</p>
</td>
<td style="text-align: right;">
<p>555.390</p>
</td>
<td style="text-align: right;">
<p>42.107</p>
</td>
</tr>
</tbody>
</table>