<table>
<tbody>
<tr>
<td class="destaque" style="text-align: center;" colspan="9">
<p>Consumo total de energia (gigajoule - GJ)</p>
</td>
</tr>
<tr>
<td class="destaque" style="text-align: center;">
<p>Ano</p>
</td>
<td class="destaque" style="text-align: center;">
<p>Energia el&eacute;trica</p>
</td>
<td class="destaque" style="text-align: center;">
<p>Varia&ccedil;&atilde;o em rela&ccedil;&atilde;o ao per&iacute;odo anterior (%)</p>
</td>
<td class="destaque" style="text-align: center;">
<p>Combust&iacute;veis para frota, geradores de emerg&ecirc;ncia, equipamentos e m&aacute;quinas*</p>
</td>
<td class="destaque" style="text-align: center;">
<p>Varia&ccedil;&atilde;o em rela&ccedil;&atilde;o ao per&iacute;odo anterior (%)</p>
</td>
<td class="destaque" style="text-align: center;">
<p>Combust&iacute;veis &nbsp;para Usinas T&eacute;rmicas</p>
</td>
<td class="destaque" style="text-align: center;">
<p>Varia&ccedil;&atilde;o em rela&ccedil;&atilde;o ao per&iacute;odo anterior (%)</p>
</td>
<td class="destaque" style="text-align: center;">
<p>TOTAL</p>
</td>
<td class="destaque" style="text-align: center;">
<p>Varia&ccedil;&atilde;o em rela&ccedil;&atilde;o ao per&iacute;odo anterior (%)</p>
</td>
</tr>
<tr>
<td style="text-align: center;">
<p><strong>2011</strong></p>
</td>
<td style="text-align: right;">
<p>168.740</p>
</td>
<td style="text-align: right;">
<p>+0,60</p>
</td>
<td style="text-align: right;">
<p>202.931</p>
</td>
<td style="text-align: right;">
<p>-7,4</p>
</td>
<td style="text-align: right;">
<p>101.315</p>
</td>
<td style="text-align: right;">
<p>-65,24</p>
</td>
<td style="text-align: right;">
<p>472.986</p>
</td>
<td style="text-align: right;">
<p>-30,27</p>
</td>
</tr>
<tr>
<td style="text-align: center;">
<p><strong>2012</strong></p>
</td>
<td style="text-align: right;">
<p>159.345</p>
</td>
<td style="text-align: right;">
<p>-5,57</p>
</td>
<td style="text-align: right;">
<p>183.195</p>
</td>
<td style="text-align: right;">
<p>-9,72</p>
</td>
<td style="text-align: right;">
<p>545.986</p>
</td>
<td style="text-align: right;">
<p>+438,9</p>
</td>
<td style="text-align: right;">
<p>888.526</p>
</td>
<td style="text-align: right;">
<p>+87,85</p>
</td>
</tr>
<tr>
<td style="text-align: center;">
<p><strong>2013</strong></p>
</td>
<td style="text-align: right;">
<p>157.487</p>
</td>
<td style="text-align: right;">
<p>-1,17</p>
</td>
<td style="text-align: right;">
<p>176.972</p>
</td>
<td style="text-align: right;">
<p>-3,40</p>
</td>
<td style="text-align: right;">
<p>1.923.927</p>
</td>
<td style="text-align: right;">
<p>+252,37</p>
</td>
<td style="text-align: right;">
<p>2.258.386</p>
</td>
<td style="text-align: right;">
<p>+154,17</p>
</td>
</tr>
<tr>
<td style="text-align: center;">
<p><strong>2014</strong></p>
</td>
<td style="text-align: right;">
<p>158.993</p>
</td>
<td style="text-align: right;">
<p>+0,96</p>
</td>
<td style="text-align: right;">
<p>173.856</p>
</td>
<td style="text-align: right;">
<p>-1,76</p>
</td>
<td style="text-align: right;">
<p>8.044.681</p>
</td>
<td style="text-align: right;">
<p>+318,14</p>
</td>
<td style="text-align: right;">
<p>8.377.530</p>
</td>
<td style="text-align: right;">
<p>+270,95</p>
</td>
</tr>
<tr>
<td style="text-align: center;">
<p><strong>2015</strong></p>
</td>
<td style="text-align: right;">
<p>160.042</p>
</td>
<td style="text-align: right;">
<p>+0,66</p>
</td>
<td style="text-align: right;">
<p>165.024</p>
</td>
<td style="text-align: right;">
<p>-5,08</p>
</td>
<td style="text-align: right;">
<p>1.965.111</p>
</td>
<td style="text-align: right;">
<p>-75,57</p>
</td>
<td style="text-align: right;">
<p>2.290.177</p>
</td>
<td style="text-align: right;">
<p>-72,66</p>
</td>
</tr>
</tbody>
</table>
<pre>* Os valores referentes ao consumo de combust&iacute;vel para a frota foram recalculados para os anos 2013 e 2014 considerando o consumo do Diesel S-10.</pre>