<table>
<tbody>
<tr>
<td class="destaque" style="text-align: center;" colspan="9">
<p>Parque Gerador Cemig</p>
</td>
</tr>
<tr>
<td class="subtitulo" style="text-align: center;">
<p>Fonte</p>
</td>
<td class="subtitulo" style="text-align: center;" colspan="4">
<p>Capacidade instalada Cemig MW</p>
</td>
<td class="subtitulo" style="text-align: center;" colspan="4">
<p>Gera&ccedil;&atilde;o l&iacute;quida - MW<span class="minusculo">h</span></p>
</td>
</tr>
<tr>
<td class="subtitulo" style="text-align: center;">
<p>&nbsp;</p>
</td>
<td class="subtitulo" style="text-align: center;">
<p>2014</p>
</td>
<td class="subtitulo" style="text-align: center;">
<p>%</p>
</td>
<td class="subtitulo" style="text-align: center;">
<p>2015</p>
</td>
<td class="subtitulo" style="text-align: center;">
<p>%</p>
</td>
<td class="subtitulo" style="text-align: center;">
<p>2014</p>
</td>
<td class="subtitulo" style="text-align: center;">
<p>%</p>
</td>
<td class="subtitulo" style="text-align: center;">
<p>2015</p>
</td>
<td class="subtitulo" style="text-align: center;">
<p>%</p>
</td>
</tr>
<tr>
<td style="text-align: left;">
<p><strong>Hidr&aacute;ulica</strong></p>
</td>
<td style="text-align: right;">
<p>6.950&nbsp;</p>
</td>
<td style="text-align: right;">96,8</td>
<td style="text-align: right;">
<p>7.233</p>
</td>
<td style="text-align: right;">
<p>97,4</p>
</td>
<td style="text-align: right;">
<p>25.110.028</p>
</td>
<td style="text-align: right;">95,4</td>
<td style="text-align: right;">
<p>18.609.916&nbsp;</p>
</td>
<td style="text-align: right;">
<p>98,0</p>
</td>
</tr>
<tr>
<td style="text-align: left;">
<p><strong>T&eacute;rmica - &oacute;leo combust&iacute;vel</strong></p>
</td>
<td style="text-align: right;">
<p>131</p>
</td>
<td style="text-align: right;">&nbsp;1,8</td>
<td style="text-align: right;">
<p>131&nbsp;</p>
</td>
<td style="text-align: right;">
<p>1,8</p>
</td>
<td style="text-align: right;">
<p>742.967</p>
</td>
<td style="text-align: right;">&nbsp;2,8</td>
<td style="text-align: right;">
<p>167.645&nbsp;</p>
</td>
<td style="text-align: right;">
<p>0,9</p>
</td>
</tr>
<tr>
<td style="text-align: left;">
<p><strong>T&eacute;rmica - gases de processo</strong></p>
</td>
<td style="text-align: right;">
<p>53</p>
</td>
<td style="text-align: right;">&nbsp;0,7</td>
<td style="text-align: right;">
<p>13&nbsp;</p>
</td>
<td style="text-align: right;">
<p>0,2</p>
</td>
<td style="text-align: right;">
<p>327.339</p>
</td>
<td style="text-align: right;">1,2</td>
<td style="text-align: right;">
<p>53.975&nbsp;</p>
</td>
<td style="text-align: right;">
<p>0,3</p>
</td>
</tr>
<tr>
<td style="text-align: left;">
<p><strong>E&oacute;lica</strong></p>
</td>
<td style="text-align: right;">
<p>49</p>
</td>
<td style="text-align: right;">&nbsp;0,7</td>
<td style="text-align: right;">
<p>49&nbsp;</p>
</td>
<td style="text-align: right;">
<p>0,7</p>
</td>
<td style="text-align: right;">
<p>142.909</p>
</td>
<td style="text-align: right;">0,5</td>
<td style="text-align: right;">
<p>158.003&nbsp;</p>
</td>
<td style="text-align: right;">
<p>0,8</p>
</td>
</tr>
<tr>
<td class="destaque" style="text-align: left;">
<p>Total</p>
</td>
<td class="destaque" style="text-align: right;">
<p>7.182</p>
</td>
<td class="destaque" style="text-align: right;">
<p>100</p>
</td>
<td class="destaque" style="text-align: right;">
<p>7.426</p>
</td>
<td class="destaque" style="text-align: right;">
<p>100</p>
</td>
<td class="destaque" style="text-align: right;">
<p>26.323.243</p>
</td>
<td class="destaque" style="text-align: right;">
<p>100</p>
</td>
<td class="destaque" style="text-align: right;">
<p>18.989.539</p>
</td>
<td class="destaque" style="text-align: right;">
<p>100</p>
</td>
</tr>
</tbody>
</table>