<table style="height: 289px;" width="833">
<tbody>
<tr>
<td class="destaque" style="text-align: center;" colspan="2">
<p>Indicadores Peixe Vivo</p>
</td>
<td class="destaque" style="text-align: center;">
<p>2015</p>
</td>
</tr>
<tr>
<td style="text-align: center;" rowspan="2">
<p>Programas de Conserva&ccedil;&atilde;o de Peixes e Gest&atilde;o de Bacias</p>
</td>
<td style="text-align: center;">
<p>Investimento em projetos de pesquisa e manejo da ictiofauna (R$)</p>
</td>
<td style="text-align: right;">
<p>6.237.460,96</p>
</td>
</tr>
<tr>
<td style="text-align: center;">
<p>Biomassa Afetada (kg)<sup>1</sup></p>
</td>
<td style="text-align: right;">
<p>2.706</p>
</td>
</tr>
<tr>
<td style="text-align: center;" rowspan="5">
<p>Pesquisa</p>
</td>
<td style="text-align: center;">
<p>Inicia&ccedil;&atilde;o cient&iacute;fica (alunos)</p>
</td>
<td style="text-align: right;">
<p>21</p>
</td>
</tr>
<tr>
<td style="text-align: center;">
<p>Mestrado (alunos)</p>
</td>
<td style="text-align: right;">
<p>19</p>
</td>
</tr>
<tr>
<td style="text-align: center;">
<p>Doutorado (alunos)</p>
<p>&nbsp;</p>
</td>
<td style="text-align: right;">
<p>20</p>
</td>
</tr>
<tr>
<td style="text-align: center;">
<p>Pesquisadores (p&oacute;s-doutorado, apoio t&eacute;cnico e pesquisadores)<sup>2</sup></p>
</td>
<td style="text-align: right;">
<p>53</p>
</td>
</tr>
<tr>
<td style="text-align: center;">
<p>Produ&ccedil;&atilde;o cient&iacute;fica</p>
</td>
<td style="text-align: right;">
<p>95</p>
</td>
</tr>
<tr>
<td style="text-align: center;">
<p>Relacionamento com a Comunidade</p>
</td>
<td style="text-align: center;">
<p>Participantes de peixamentos</p>
</td>
<td style="text-align: right;">
<p>1.676</p>
</td>
</tr>
</tbody>
</table>
<pre><sup>1</sup>&nbsp;Mede a quantidade de peixes mortos (em kg), em decorr&ecirc;ncia da manuten&ccedil;&atilde;o e opera&ccedil;&atilde;o das usinas.</pre>
<pre><sup>2</sup>&nbsp;O dado de &ldquo;Pesquisadores 2015&rdquo; est&aacute; composto por p&oacute;s-doutorado, apoio t&eacute;cnico e pesquisadores.</pre>