<table>
<tbody>
<tr>
<td class="destaque" style="text-align: center;">
<p>Projeto</p>
</td>
<td class="destaque" style="text-align: center;">
<p>Status</p>
</td>
<td class="destaque" style="text-align: center;">
<p>Estimativa de redu&ccedil;&atilde;o anual de <span class="minusculo">t</span>CO<sub>2</sub><span class="minusculo">e</span></p>
</td>
<td class="destaque" style="text-align: center;">
<p>Rastreabilidade</p>
</td>
</tr>
<tr>
<td>
<p>SPE Guanh&atilde;es, 4 PCHs,&nbsp;44 MW</p>
</td>
<td style="text-align: center;">
<p>Registrado</p>
</td>
<td style="text-align: right;">
<p>62.949</p>
</td>
<td style="text-align: center;">
<p><a href="http://cdm.unfccc.int/Projects/DB/RINA1280831660.48/view" target="_blank">http://cdm.unfccc.int/Projects/DB/RINA1280831660.48/view</a></p>
</td>
</tr>
<tr>
<td>
<p>UHE Baguari, 140 MW</p>
</td>
<td style="text-align: center;">
<p>Registrado</p>
</td>
<td style="text-align: right;">
<p>63.234</p>
</td>
<td style="text-align: center;">
<p><a href="http://cdm.unfccc.int/Projects/DB/SGS-UKL1282040767.96/view" target="_blank">http://cdm.unfccc.int/Projects/DB/SGS-UKL1282040767.96/view</a></p>
</td>
</tr>
<tr>
<td>
<p>PCH Cachoeir&atilde;o, 27 MW</p>
</td>
<td style="text-align: center;">
<p>Registrado</p>
</td>
<td style="text-align: right;">
<p>26.400</p>
</td>
<td style="text-align: center;">
<p><a href="http://cdm.unfccc.int/Projects/DB/RINA1305214649.79/view" target="_blank">http://cdm.unfccc.int/Projects/DB/RINA1305214649.79/view</a></p>
</td>
</tr>
<tr>
<td>
<p>E&oacute;licas<br />TerraForm Global<br />(2009), 129 MW</p>
</td>
<td style="text-align: center;">
<p>Registrado</p>
</td>
<td style="text-align: right;">
<p>117.424</p>
</td>
<td style="text-align: center;">
<p><a href="http://cdm.unfccc.int/Projects/DB/LRQA%20Ltd1349355823.93/view" target="_blank">http://cdm.unfccc.int/Projects/DB/LRQA%20Ltd1349355823.93/view</a></p>
</td>
</tr>
<tr>
<td>
<p>Solar Settesolar, 3 MW</p>
</td>
<td style="text-align: center;">
<p>Registrado</p>
</td>
<td style="text-align: right;">
<p>942</p>
</td>
<td style="text-align: center;">
<p><a href="http://cdm.unfccc.int/Projects/DB/RWTUV1356098187.07/view" target="_blank">http://cdm.unfccc.int/Projects/DB/RWTUV1356098187.07/view</a></p>
</td>
</tr>
<tr>
<td>
<p>E&oacute;licas Renova (2010), 162 MW</p>
</td>
<td style="text-align: center;">
<p>Registrado</p>
</td>
<td style="text-align: right;">
<p>166.924</p>
</td>
<td style="text-align: center;">
<p><a href="http://cdm.unfccc.int/Projects/DB/BVQI1350473592.78/view" target="_blank">http://cdm.unfccc.int/Projects/DB/BVQI1350473592.78/view</a></p>
</td>
</tr>
<tr>
<td>
<p>PCH Pipoca, 20 MW</p>
</td>
<td style="text-align: center;">
<p>Registrado</p>
</td>
<td style="text-align: right;">
<p>17.051</p>
</td>
<td style="text-align: center;">
<p><a href="http://cdm.unfccc.int/Projects/DB/RINA1339141027.8/view" target="_blank">http://cdm.unfccc.int/Projects/DB/RINA1339141027.8/view</a></p>
</td>
</tr>
<tr>
<td>
<p>PCH Paracambi, 25 MW</p>
</td>
<td style="text-align: center;">
<p>Registrado</p>
</td>
<td style="text-align: right;">
<p>33.993</p>
</td>
<td style="text-align: center;">
<p><a href="http://cdm.unfccc.int/Projects/DB/RINA1392324439.94/view" target="_blank">http://cdm.unfccc.int/Projects/DB/RINA1392324439.94/view</a></p>
</td>
</tr>
<tr>
<td>
<p>UHE Santo Ant&ocirc;nio, 3568 MW</p>
</td>
<td style="text-align: center;">
<p>Registrado</p>
</td>
<td style="text-align: right;">
<p>4.015.196</p>
</td>
<td style="text-align: center;">
<p><a href="http://cdm.unfccc.int/Projects/DB/PJR%20CDM1356613142.79/view">http://cdm.unfccc.int/Projects/DB/PJR%20CDM1356613142.79/view</a></p>
</td>
</tr>
<tr>
<td>
<p>E&oacute;licas TerraForm<br />Global<br />(2009), 164 MW</p>
</td>
<td style="text-align: center;">
<p>Em registro</p>
</td>
<td style="text-align: right;">
<p>150.801</p>
</td>
<td style="text-align: center;">
<p><a href="http://cdm.unfccc.int/Projects/Validation/DB/XMPL2JRB0KUCLA2A31XXO20P0YLASJ/view.html" target="_blank">http://cdm.unfccc.int/Projects/Validation/DB/XMPL2JRB0KUCLA2A31XXO20P0YLASJ/view.html</a></p>
</td>
</tr>
<tr>
<td>
<p>E&oacute;licas Renova (2011), 213 MW</p>
</td>
<td style="text-align: center;">
<p>Em registro</p>
</td>
<td style="text-align: right;">
<p>215.666</p>
</td>
<td style="text-align: center;">
<p><a href="http://cdm.unfccc.int/Projects/Validation/DB/G5GTD3EVZK265RRN4LQK9QF3AK0W5K/view.html" target="_blank">http://cdm.unfccc.int/Projects/Validation/DB/G5GTD3EVZK265RRN4LQK9QF3AK0W5K/view.html</a></p>
</td>
</tr>
</tbody>
</table>