<table style="height: 236px;" width="595">
<tbody>
<tr>
<td class="destaque" style="text-align: center;">
<p>Usina</p>
</td>
<td class="destaque" style="text-align: center;">
<p>Corpo d'&aacute;gua</p>
</td>
<td class="destaque" style="text-align: center;" colspan="2">
<p>IQA</p>
</td>
<td style="border: none;">&nbsp;</td>
<td class="destaque" style="text-align: center;">
<p>N&iacute;vel de qualidade</p>
</td>
<td class="destaque" style="text-align: center;">
<p>Faixa</p>
</td>
</tr>
<tr>
<td style="text-align: left;">
<p><strong>Cajuru</strong></p>
</td>
<td style="text-align: center;">
<p>Par&aacute;</p>
</td>
<td style="text-align: right;">
<p>88,67</p>
</td>
<td style="background-color: #408c4b;">
<p>&nbsp;</p>
</td>
<td style="border: none;">&nbsp;</td>
<td style="text-align: center;">
<p>Excelente</p>
</td>
<td style="color: #ffffff; text-align: center; background-color: #4a62df;">
<p>90 &lt; IQA &le; 100</p>
</td>
</tr>
<tr>
<td style="text-align: left;">
<p><strong>Jaguara</strong></p>
</td>
<td style="text-align: center;">
<p>Grande</p>
</td>
<td style="text-align: right;">
<p>90,16</p>
</td>
<td style="background-color: #4a62df;">
<p>&nbsp;</p>
</td>
<td style="border: none;">&nbsp;</td>
<td style="text-align: center;">
<p>Bom</p>
</td>
<td style="color: #ffffff; text-align: center; background-color: #408c4b;">
<p>70 &lt; IQA &le; 90</p>
</td>
</tr>
<tr>
<td style="text-align: left;">
<p><strong>Machado Mineiro</strong></p>
</td>
<td style="text-align: center;">
<p>Pardo</p>
</td>
<td style="text-align: right;">
<p>82,20</p>
</td>
<td style="background-color: #408c4b;">
<p>&nbsp;</p>
</td>
<td style="border: none;">&nbsp;</td>
<td style="text-align: center;">
<p>M&eacute;dio</p>
</td>
<td style="text-align: center; background-color: #ebeb42;">
<p>50 &lt; IQA &le; 70</p>
</td>
</tr>
<tr>
<td style="text-align: left;">
<p><strong>S&atilde;o Sim&atilde;o</strong></p>
</td>
<td style="text-align: center;">
<p>Parana&iacute;ba</p>
</td>
<td style="text-align: right;">
<p>77,20</p>
</td>
<td style="background-color: #408c4b;">
<p>&nbsp;</p>
</td>
<td style="border: none;">&nbsp;</td>
<td style="text-align: center;">
<p>Ruim</p>
</td>
<td style="color: #ffffff; text-align: center; background-color: #ebaf41;">
<p>25 &lt; IQA &le; 50</p>
</td>
</tr>
<tr>
<td style="text-align: left;">
<p><strong>Volta Grande</strong></p>
</td>
<td style="text-align: center;">
<p>Grande</p>
</td>
<td style="text-align: right;">
<p>85,00</p>
</td>
<td style="background-color: #408c4b;">
<p>&nbsp;</p>
</td>
<td style="border: none;">&nbsp;</td>
<td style="text-align: center;">
<p>Muito ruim</p>
</td>
<td style="color: #ffffff; text-align: center; background-color: #eb4141;">
<p>0 &lt; IQA &le; 25</p>
</td>
</tr>
</tbody>
</table>