<table>
<tbody>
<tr>
<td class="destaque" style="text-align: center;" colspan="3">
<p><strong>Destina&ccedil;&atilde;o de Res&iacute;duos Perigosos 2014 (t)</strong></p>
</td>
</tr>
<tr>
<td class="destaque" style="text-align: center;">
<p><strong>&nbsp; Res&iacute;duos </strong></p>
</td>
<td class="destaque" style="text-align: center;">
<p><strong>&nbsp;Destina&ccedil;&atilde;o </strong></p>
</td>
<td class="destaque" style="text-align: center;">
<p><strong>2014</strong></p>
</td>
</tr>
<tr>
<td>
<p>L&acirc;mpadas fluorescentes queimadas</p>
</td>
<td>
<p>Descontamina&ccedil;&atilde;o e reciclagem</p>
</td>
<td>
<p> 39</p>
</td>
</tr>
<tr>
<td>
<p>L&acirc;mpadas quebradas</p>
</td>
<td>
<p>Descontamina&ccedil;&atilde;o e reciclagem</p>
</td>
<td>
<p> 33</p>
</td>
</tr>
<tr>
<td>
<p>&Oacute;leo contaminado com enxofre</p>
</td>
<td>
<p>Aliena&ccedil;&atilde;o/Rerrefino</p>
</td>
<td style="text-align: right;">
<p>0</p>
</td>
</tr>
<tr>
<td>
<p>&Oacute;leo mineral isolante</p>
</td>
<td>
<p>Regenera&ccedil;&atilde;o</p>
</td>
<td style="text-align: right;">
<p> 114</p>
</td>
</tr>
<tr>
<td>
<p>&Oacute;leo mineral lubrificante</p>
</td>
<td>
<p>Regenera&ccedil;&atilde;o</p>
</td>
<td style="text-align: right;">
<p>0</p>
</td>
</tr>
<tr>
<td>
<p>Pilhas, baterias de celular, equipamentos eletroeletr&ocirc;nicos</p>
</td>
<td>
<p>Reciclagem</p>
</td>
<td style="text-align: right;">
<p>0</p>
</td>
</tr>
<tr>
<td>
<p>Res&iacute;duo eletroeletr&ocirc;nico</p>
</td>
<td>
<p>Aliena&ccedil;&atilde;o/Reciclagem</p>
</td>
<td style="text-align: right;">
<p>0</p>
</td>
</tr>
<tr>
<td>
<p>Res&iacute;duos contaminados por Ascarel</p>
</td>
<td>
<p>Incinera&ccedil;&atilde;o</p>
</td>
<td style="text-align: right;">
<p>0</p>
</td>
</tr>
<tr>
<td>
<p>Res&iacute;duos de amianto</p>
</td>
<td>
<p>Aterro Classe 1</p>
</td>
<td style="text-align: right;">
<p>0</p>
</td>
</tr>
<tr>
<td>
<p>Res&iacute;duos impregnados com &oacute;leo</p>
</td>
<td>
<p>Coprocessamento</p>
</td>
<td style="text-align: right;">
<p> 156</p>
</td>
</tr>
<tr>
<td>
<p>Res&iacute;duos oleosos diversos</p>
</td>
<td>
<p>Aliena&ccedil;&atilde;o/Rerrefino</p>
</td>
<td style="text-align: right;">
<p> 546</p>
</td>
</tr>
<tr>
<td>
<p>Solventes e outros res&iacute;duos classe I</p>
</td>
<td>
<p>Incinera&ccedil;&atilde;o</p>
</td>
<td style="text-align: right;">
<p> 15</p>
</td>
</tr>
<tr>
<td>
<p>Sucata de baterias</p>
</td>
<td>
<p>Aliena&ccedil;&atilde;o/Reciclagem</p>
</td>
<td style="text-align: right;">
<p> 77</p>
</td>
</tr>
<tr>
<td>
<p>Sucata de chumbo</p>
</td>
<td>
<p>Aliena&ccedil;&atilde;o/Reciclagem</p>
</td>
<td style="text-align: right;">
<p style="text-align: right;">0</p>
</td>
</tr>
<tr>
<td>
<p>Tonner, fitas p/ impressoras e cartuchos</p>
</td>
<td>
<p>Reciclagem</p>
</td>
<td style="text-align: right;">
<p style="text-align: right;">0</p>
</td>
</tr>
<tr>
<td colspan="2">
<p><strong>Total res&iacute;duos destinados</strong></p>
</td>
<td style="text-align: right;">
<p><strong> 980 </strong></p>
</td>
</tr>
</tbody>
</table>
<table style="height: 84px;" width="271">
<tbody>
<tr>
<td>
<p>Incinera&ccedil;&atilde;o e coprocessamento</p>
</td>
<td>
<p style="text-align: right;"> 171</p>
</td>
</tr>
<tr>
<td>
<p>Aliena&ccedil;&atilde;o, reciclagem ou regenera&ccedil;&atilde;o</p>
</td>
<td>
<p style="text-align: right;"> 809</p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>