<table>
<tbody>
<tr>
<td class="destaque" colspan="2">
<p style="text-align: center;">N&uacute;mero de interrup&ccedil;&otilde;es causadas por acidentes com &aacute;rvores no sistema de distribui&ccedil;&atilde;o da Cemig</p>
</td>
</tr>
<tr>
<td style="text-align: center;">
<p>2011</p>
</td>
<td style="text-align: center;">
<p>33.541</p>
</td>
</tr>
<tr>
<td style="text-align: center;">
<p>2012</p>
</td>
<td style="text-align: center;">
<p>32.189</p>
</td>
</tr>
<tr>
<td style="text-align: center;">
<p>2013</p>
</td>
<td style="text-align: center;">
<p>31.337</p>
</td>
</tr>
<tr>
<td style="text-align: center;">
<p>2014</p>
</td>
<td style="text-align: center;">
<p>29.163</p>
</td>
</tr>
<tr>
<td style="text-align: center;">
<p>2015</p>
</td>
<td style="text-align: center;">
<p>39.668</p>
</td>
</tr>
</tbody>
</table>