<table>
<tbody>
<tr>
<td class="destaque" style="text-align: center;">
<p>Denomina&ccedil;&atilde;o</p>
</td>
<td class="destaque" style="text-align: center;">
<p>S&iacute;mbolo</p>
</td>
<td class="destaque" style="text-align: center;">
<p>Moeda</p>
</td>
<td class="destaque" style="text-align: center;">
<p>Fechamento 2014</p>
</td>
<td class="destaque" style="text-align: center;">
<p>Fechamento 2015</p>
</td>
</tr>
<tr>
<td>
<p>Cemig PN</p>
</td>
<td style="text-align: center;">
<p>CMIG4</p>
</td>
<td style="text-align: center;">
<p>R$</p>
</td>
<td style="text-align: right;">
<p>12,40</p>
</td>
<td style="text-align: right;">
<p>5,97</p>
</td>
</tr>
<tr>
<td>
<p>Cemig ON</p>
</td>
<td style="text-align: center;">
<p>CMIG3</p>
</td>
<td style="text-align: center;">
<p>R$</p>
</td>
<td style="text-align: right;">
<p>13,03</p>
</td>
<td style="text-align: right;">
<p>6,28</p>
</td>
</tr>
<tr>
<td>
<p>ADR PN</p>
</td>
<td style="text-align: center;">
<p>CIG</p>
</td>
<td style="text-align: center;">
<p>US$</p>
</td>
<td style="text-align: right;">
<p>4,60</p>
</td>
<td style="text-align: right;">
<p>1,46</p>
</td>
</tr>
<tr>
<td>
<p>ADR ON</p>
</td>
<td style="text-align: center;">
<p>CIG.C</p>
</td>
<td style="text-align: center;">
<p>US$</p>
</td>
<td style="text-align: right;">
<p>5,11</p>
</td>
<td style="text-align: right;">
<p>1,74</p>
</td>
</tr>
<tr>
<td>
<p>Cemig PN (Latibex)</p>
</td>
<td style="text-align: center;">
<p>XCMIG</p>
</td>
<td style="text-align: center;">
<p>Euro</p>
</td>
<td style="text-align: right;">
<p>4,01</p>
</td>
<td style="text-align: right;">
<p>1,43</p>
</td>
</tr>
</tbody>
</table>
<pre>Fonte - Econom&aacute;tica &ndash; cota&ccedil;&otilde;es ajustadas por proventos, inclusive dividendos</pre>