<table>
<tbody>
<tr>
<td class="destaque" colspan="4">
<p>Receitas Operacionais</p>
</td>
</tr>
<tr>
<td class="destaque subtitulo">
<p>R$ Mil</p>
</td>
<td class="destaque subtitulo" style="text-align: center;">
<p>2014</p>
</td>
<td class="destaque subtitulo" style="text-align: center;">
<p>2015</p>
</td>
<td class="destaque subtitulo" style="text-align: center;">
<p>Varia&ccedil;&atilde;o %</p>
</td>
</tr>
<tr>
<td>
<p>Fornecimento Bruto de Energia El&eacute;trica (a)</p>
</td>
<td style="text-align: right;">
<p>17.232.105</p>
</td>
<td style="text-align: right;">
<p>22.526.275</p>
</td>
<td style="text-align: right;">
<p>30,7%</p>
</td>
</tr>
<tr>
<td>
<p>Receita de Uso dos Sistemas El&eacute;tricos de Distribui&ccedil;&atilde;o &ndash; TUSD (b)</p>
</td>
<td style="text-align: right;">
<p>854.945</p>
</td>
<td style="text-align: right;">
<p>1.465.399</p>
</td>
<td style="text-align: right;">
<p>71,4%</p>
</td>
</tr>
<tr>
<td>
<p>CVA e Outros Componentes Financeiros (c)</p>
</td>
<td style="text-align: right;">
<p>1.106.675</p>
</td>
<td style="text-align: right;">
<p>1.703.627</p>
</td>
<td style="text-align: right;">
<p>-</p>
</td>
</tr>
<tr>
<td>
<p>Receita de Transmiss&atilde;o&nbsp;</p>
</td>
<td style="text-align: right;">
<p>&nbsp;</p>
</td>
<td style="text-align: right;">
<p>&nbsp;</p>
</td>
<td style="text-align: right;">
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td>
<p>&nbsp; &nbsp; &nbsp;Receita de Concess&atilde;o de Transmiss&atilde;o (d)</p>
</td>
<td style="text-align: right;">
<p>556.633</p>
</td>
<td style="text-align: right;">
<p>261.470</p>
</td>
<td style="text-align: right;">
<p>-53,0%</p>
</td>
</tr>
<tr>
<td>
<p>&nbsp; &nbsp; &nbsp;Receita de Constru&ccedil;&atilde;o de Transmiss&atilde;o (e)</p>
</td>
<td style="text-align: right;">
<p>80.358</p>
</td>
<td style="text-align: right;">
<p>146.030</p>
</td>
<td style="text-align: right;">
<p>81,7%</p>
</td>
</tr>
<tr>
<td>
<p>&nbsp; &nbsp; &nbsp;Receita de Indeniza&ccedil;&atilde;o de Transmiss&atilde;o (f)</p>
</td>
<td style="text-align: right;">
<p>420.013</p>
</td>
<td style="text-align: right;">
<p>100.528</p>
</td>
<td style="text-align: right;">
<p>-76,1%</p>
</td>
</tr>
<tr>
<td>
<p>Receita de Constru&ccedil;&atilde;o de Distribui&ccedil;&atilde;o (e)</p>
</td>
<td style="text-align: right;">
<p>861.437</p>
</td>
<td style="text-align: right;">
<p>1.105.806</p>
</td>
<td style="text-align: right;">
<p>28,4%</p>
</td>
</tr>
<tr>
<td>
<p>Transa&ccedil;&otilde;es com energia na CCEE (g)</p>
</td>
<td style="text-align: right;">
<p>2.348.483</p>
</td>
<td style="text-align: right;">
<p>2.424.567</p>
</td>
<td style="text-align: right;">
<p>3,2%</p>
</td>
</tr>
<tr>
<td>
<p>Fornecimento de G&aacute;s</p>
</td>
<td style="text-align: right;">
<p>422.379</p>
</td>
<td style="text-align: right;">
<p>1.666.688</p>
</td>
<td style="text-align: right;">
<p>294,6%</p>
</td>
</tr>
<tr>
<td>
<p>Outras Receitas Operacionais (h)</p>
</td>
<td style="text-align: right;">
<p>1.282.230</p>
</td>
<td style="text-align: right;">
<p>1.441.186</p>
</td>
<td style="text-align: right;">
<p>12,4%</p>
</td>
</tr>
<tr>
<td>
<p>Impostos e Encargos Incidentes sobre a Receita (i)</p>
</td>
<td style="text-align: right;">
<p>-5.625.680</p>
</td>
<td style="text-align: right;">
<p>-11.549.365</p>
</td>
<td style="text-align: right;">
<p>105,3%</p>
</td>
</tr>
<tr>
<td class="highlight">
<p>Receita Operacional L&iacute;quida</p>
</td>
<td class="highlight" style="text-align: right;">
<p>19.539.578</p>
</td>
<td class="highlight" style="text-align: right;">
<p>21.292.211</p>
</td>
<td class="highlight" style="text-align: right;">
<p>9,0%</p>
</td>
</tr>
</tbody>
</table>