<table>
<tbody>
<tr>
<td class="destaque" colspan="4">
<p>Outras Receitas</p>
</td>
</tr>
<tr>
<td class="subtitulo">
<p style="text-align: center;">R$ mil</p>
</td>
<td class="subtitulo" style="text-align: center;">
<p>2014</p>
</td>
<td class="subtitulo" style="text-align: center;">
<p>2015</p>
</td>
<td class="subtitulo" style="text-align: center;">
<p>Varia&ccedil;&atilde;o %</p>
</td>
</tr>
<tr>
<td>
<p>Servi&ccedil;o Taxado</p>
</td>
<td style="text-align: right;">
<p>11.136</p>
</td>
<td style="text-align: right;">
<p>13.504</p>
</td>
<td style="text-align: right;">
<p>21,3%</p>
</td>
</tr>
<tr>
<td>
<p>Servi&ccedil;o de Telecomunica&ccedil;&otilde;es</p>
</td>
<td style="text-align: right;">
<p>134.672</p>
</td>
<td style="text-align: right;">
<p>133.894</p>
</td>
<td style="text-align: right;">
<p>-0,6%</p>
</td>
</tr>
<tr>
<td>
<p>Presta&ccedil;&otilde;es de Servi&ccedil;os</p>
</td>
<td style="text-align: right;">
<p>117.767</p>
</td>
<td style="text-align: right;">
<p>130.687</p>
</td>
<td style="text-align: right;">
<p>11,0%</p>
</td>
</tr>
<tr>
<td>
<p>Subven&ccedil;&otilde;es</p>
</td>
<td style="text-align: right;">
<p>790.011</p>
</td>
<td style="text-align: right;">
<p>995.616</p>
</td>
<td style="text-align: right;">
<p>26,0%</p>
</td>
</tr>
<tr>
<td>
<p>Aluguel e Arrendamento</p>
</td>
<td style="text-align: right;">
<p>80.707</p>
</td>
<td style="text-align: right;">
<p>93.119</p>
</td>
<td style="text-align: right;">
<p>15,4%</p>
</td>
</tr>
<tr>
<td>
<p>Outras</p>
</td>
<td style="text-align: right;">
<p>147.937</p>
</td>
<td style="text-align: right;">
<p>74.366</p>
</td>
<td style="text-align: right;">
<p>-49,7%</p>
</td>
</tr>
<tr>
<td class="highlight">
<p>Total</p>
</td>
<td class="highlight" style="text-align: right;">
<p>1.282.230</p>
</td>
<td class="highlight" style="text-align: right;">
<p>1.441.186</p>
</td>
<td class="highlight" style="text-align: right;">
<p>12,4%</p>
</td>
</tr>
</tbody>
</table>