<table>
<tbody>
<tr>
<td class="destaque" style="text-align: center;">
<p>Action</p>
</td>
<td class="destaque" style="text-align: center;">
<p>Target public</p>
</td>
<td class="destaque" style="text-align: center;">
<p>Quantity</p>
</td>
<td class="destaque" style="text-align: center;">
<p>Investment (R '000)</p>
</td>
<td class="destaque" style="text-align: center;">
<p>Energy savings (MWh/year)</p>
</td>
<td class="destaque" style="text-align: center;">
<p>Reduction in peak demand (kW)</p>
</td>
<td class="destaque" style="text-align: center;">
<p>Emissions avoided (tCO<sub>2</sub>e)</p>
</td>
</tr>
<tr>
<td>
<p>Showers replaced by solar heating</p>
</td>
<td style="text-align: center;">
<p>Low-income housing projects</p>
</td>
<td style="text-align: center;">
<p>2,176 solar heating systems</p>
</td>
<td style="text-align: right;">
<p>12.970</p>
</td>
<td style="text-align: right;">
<p>555</p>
</td>
<td style="text-align: right;">
<p>444</p>
</td>
<td style="text-align: right;">
<p>&nbsp; 49,4</p>
</td>
</tr>
<tr>
<td>
<p>Showers replaced by solar heating</p>
</td>
<td style="text-align: center;">
<p>Public hospitals and philanthropic organizations</p>
</td>
<td style="text-align: center;">
<p>14 entities</p>
</td>
<td style="text-align: right;">
<p>1.900</p>
</td>
<td style="text-align: right;">
<p>829</p>
</td>
<td style="text-align: right;">
<p>2159</p>
</td>
<td style="text-align: right;">
<p>&nbsp; 73,8</p>
</td>
</tr>
<tr>
<td>
<p>Showers replaced</p>
</td>
<td style="text-align: center;">
<p>Care homes for the elderly</p>
</td>
<td style="text-align: center;">
<p>41 systems</p>
</td>
<td style="text-align: right;">
<p>&nbsp; 832</p>
</td>
<td style="text-align: right;">
<p>700</p>
</td>
<td style="text-align: right;">
<p>308</p>
</td>
<td style="text-align: right;">
<p>&nbsp; 62,3</p>
</td>
</tr>
<tr>
<td>
<p>Autoclaves replaced</p>
</td>
<td style="text-align: center;">
<p>Public hospitals</p>
</td>
<td style="text-align: center;">
<p>30 autoclaves in 18 hospitals</p>
</td>
<td style="text-align: right;">
<p>1.400</p>
</td>
<td style="text-align: right;">&nbsp;</td>
<td style="text-align: right;">
<p>804</p>
</td>
<td style="text-align: right;">
<p>&nbsp; 283,9</p>
</td>
</tr>
<tr>
<td>
<p>Obsolete lighting in public hospitals replaced by high yield systems</p>
</td>
<td style="text-align: center;">
<p>Public hospitals</p>
</td>
<td style="text-align: center;">&nbsp;</td>
<td style="text-align: right;">
<p>1.900</p>
</td>
<td style="text-align: right;">
<p>874</p>
</td>
<td style="text-align: right;">
<p>201</p>
</td>
<td style="text-align: right;">
<p>&nbsp; 77,8</p>
</td>
</tr>
<tr>
<td>
<p>Farming energy efficiency projects</p>
</td>
<td style="text-align: center;">
<p>Small irrigation systems - Ja&iacute;ba, Minas Gerais</p>
</td>
<td style="text-align: center;">
<p>110 irrigation systems</p>
</td>
<td style="text-align: right;">
<p>1.100</p>
</td>
<td style="text-align: right;">
<p>939</p>
</td>
<td style="text-align: right;">
<p>290</p>
</td>
<td style="text-align: right;">
<p>&nbsp; 83,6</p>
</td>
</tr>
<tr>
<td>
<p><em>Living Together </em>Project - orientations on energy efficiency</p>
</td>
<td style="text-align: center;">
<p>Low-income clients</p>
</td>
<td style="text-align: center;">
<p>57,000 families served. 4,282 refrigerators replaced; 232,445 compact fluorescent lamps</p>
</td>
<td style="text-align: right;">
<p>15.400</p>
</td>
<td style="text-align: right;">
<p>17,177</p>
</td>
<td style="text-align: right;">&nbsp;</td>
<td style="text-align: right;">
<p>&nbsp; 1.528,7</p>
</td>
</tr>
<tr>
<td class="destaque">
<p style="text-align: center;">Total</p>
</td>
<td class="destaque" style="text-align: center;">
<p>-</p>
</td>
<td class="destaque" style="text-align: center;">
<p>-</p>
</td>
<td class="destaque" style="text-align: right;">
<p>35.502</p>
</td>
<td class="destaque" style="text-align: right;">
<p>24.264</p>
</td>
<td class="destaque" style="text-align: right;">
<p>10.548</p>
</td>
<td class="destaque" style="text-align: right;">
<p>&nbsp; 2.159,5</p>
</td>
</tr>
</tbody>
</table>