<table width="653">
<tbody>
<tr>
<td class="destaque" style="text-align: center;" width="281">
<p>LAJIDA - R$ milh&otilde;es</p>
</td>
<td class="destaque" style="text-align: center;" width="101">
<p>2014</p>
</td>
<td class="destaque" style="text-align: center;" width="101">
<p>2015</p>
</td>
<td class="destaque" style="text-align: center;" width="99">
<p>Varia&ccedil;&atilde;o %</p>
</td>
</tr>
<tr>
<td width="281">
<p>Resultado do Exerc&iacute;cio</p>
</td>
<td style="text-align: right;" width="101">
<p>3.137</p>
</td>
<td style="text-align: right;" width="101">
<p>2.492</p>
</td>
<td style="text-align: right;" width="99">
<p>-20,6%</p>
</td>
</tr>
<tr>
<td width="281">
<p>+ Despesa de IR e Contribui&ccedil;&atilde;o Social</p>
</td>
<td style="text-align: right;" width="101">
<p>1.343</p>
</td>
<td style="text-align: right;" width="101">
<p>893</p>
</td>
<td style="text-align: right;" width="99">
<p>-33,5%</p>
</td>
</tr>
<tr>
<td width="281">
<p>+ Resultado Financeiro</p>
</td>
<td style="text-align: right;" width="101">
<p>1.101</p>
</td>
<td style="text-align: right;" width="101">
<p>735</p>
</td>
<td style="text-align: right;" width="99">
<p>-33,2%</p>
</td>
</tr>
<tr>
<td width="281">
<p>+ Deprecia&ccedil;&atilde;o e Amortiza&ccedil;&atilde;o</p>
</td>
<td style="text-align: right;" width="101">
<p>801</p>
</td>
<td style="text-align: right;" width="101">
<p>835</p>
</td>
<td style="text-align: right;" width="99">
<p>4,2%</p>
</td>
</tr>
<tr>
<td class="destaque" width="281">
<p>LAJIDA</p>
</td>
<td class="destaque" style="text-align: right;" width="101">
<p>6.382</p>
</td>
<td class="destaque" style="text-align: right;" width="101">
<p>4.955</p>
</td>
<td class="destaque" style="text-align: right;" width="99">
<p>-22,4%</p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>