<table>
<tbody>
<tr>
<td class="destaque" style="text-align: center;">
<p style="text-align: left;">Indicadores de Seguran&ccedil;a</p>
<p style="text-align: left;">Crit&eacute;rio US 200.000</p>
</td>
<td class="destaque" style="text-align: center;">
<p>2010</p>
</td>
<td class="destaque" style="text-align: center;">
<p>2011</p>
</td>
<td class="destaque" style="text-align: center;">
<p>2012</p>
</td>
<td class="destaque" style="text-align: center;">
<p>2013</p>
</td>
<td class="destaque" style="text-align: center;">
<p>2014</p>
</td>
</tr>
<tr>
<td>
<p>TFA &ndash; Empregados pr&oacute;prios</p>
</td>
<td style="text-align: right;">
<p>0,40</p>
</td>
<td style="text-align: right;">
<p>0,25</p>
</td>
<td style="text-align: right;">
<p>0,23</p>
</td>
<td style="text-align: right;">
<p>0,34</p>
</td>
<td style="text-align: right;">
<p>0,34</p>
</td>
</tr>
<tr>
<td>
<p>TFA&nbsp;&ndash; Terceiros</p>
</td>
<td style="text-align: right;">
<p>0,53</p>
</td>
<td style="text-align: right;">
<p>0,76</p>
</td>
<td style="text-align: right;">
<p>0,51</p>
</td>
<td style="text-align: right;">
<p>0,45</p>
</td>
<td style="text-align: right;">
<p>0,42</p>
</td>
</tr>
<tr>
<td>TFA &ndash; For&ccedil;a de trabalho</td>
<td style="text-align: right;">
<p>0,58</p>
</td>
<td style="text-align: right;">0,63</td>
<td style="text-align: right;">0,44</td>
<td style="text-align: right;">0,42</td>
<td style="text-align: right;">0,40</td>
</tr>
</tbody>
</table>