<table>
<tbody>
<tr>
<td class="destaque" style="text-align: center;" rowspan="2" width="293">
<p>&Aacute;rea de investimento</p>
</td>
<td class="destaque" style="text-align: center;" colspan="3" width="488">
<p>2015 (R$)</p>
</td>
</tr>
<tr>
<td class="destaque" style="text-align: center;" width="162">
<p>Pr&oacute;prio</p>
</td>
<td class="destaque" style="text-align: center;" width="175">
<p>Ren&uacute;ncia fiscal</p>
</td>
<td class="destaque" style="text-align: center;" width="152">
<p>Total</p>
</td>
</tr>
<tr>
<td width="293">
<p>Cultura</p>
</td>
<td style="text-align: right;" width="162">
<p>6.379.129</p>
</td>
<td style="text-align: right;" width="175">
<p>12.655.890</p>
</td>
<td style="text-align: right;" width="152">
<p>19.035.019</p>
</td>
</tr>
<tr>
<td width="293">
<p>Educa&ccedil;&atilde;o</p>
</td>
<td style="text-align: right;" width="162">
<p>455.000</p>
</td>
<td style="text-align: right;" width="175">
<p>-</p>
</td>
<td style="text-align: right;" width="152">
<p>455.000</p>
</td>
</tr>
<tr>
<td width="293">
<p>Esporte</p>
</td>
<td style="text-align: right;" width="162">
<p>-</p>
</td>
<td style="text-align: right;" width="175">
<p>1.939.200</p>
</td>
<td style="text-align: right;" width="152">
<p>1.939.200</p>
</td>
</tr>
<tr>
<td width="293">
<p>A&ccedil;&otilde;es Sociais</p>
</td>
<td style="text-align: right;" width="162">
<p>7.800.000</p>
</td>
<td style="text-align: right;" width="175">
<p>44.582.607</p>
</td>
<td style="text-align: right;" width="152">
<p>52.382.607</p>
</td>
</tr>
<tr>
<td width="293">
<p>&nbsp; &nbsp;FIA / AI6% / Doa&ccedil;&otilde;es</p>
</td>
<td style="text-align: right;" width="162">
<p>7.800.000</p>
</td>
<td style="text-align: right;" width="175">
<p>5.483.310</p>
</td>
<td style="text-align: right;" width="152">
<p>-</p>
</td>
</tr>
<tr>
<td width="293">
<p>&nbsp; &nbsp;Programa Energia Inteligente</p>
</td>
<td style="text-align: right;" width="162">
<p>-</p>
</td>
<td style="text-align: right;" width="175">
<p>39.099.297</p>
</td>
<td style="text-align: right;" width="152">
<p>-</p>
</td>
</tr>
<tr>
<td width="293">
<p>Sa&uacute;de</p>
</td>
<td style="text-align: right;" width="162">
<p>-</p>
</td>
<td style="text-align: right;" width="175">
<p>1.939.200</p>
</td>
<td style="text-align: right;" width="152">
<p>1.939.200</p>
</td>
</tr>
<tr>
<td class="destaque" width="293">
<p>Total</p>
</td>
<td class="destaque" style="text-align: right;" width="162">
<p>14.634.129</p>
</td>
<td class="destaque" style="text-align: right;" width="175">
<p>61.116.897</p>
</td>
<td class="destaque" style="text-align: right;" width="152">
<p>75.751.026</p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<table>
<tbody>
<tr>
<td class="destaque" style="text-align: center;" rowspan="2" width="293">
<p>&Aacute;rea de investimento</p>
</td>
<td class="destaque" style="text-align: center;" colspan="3" width="462">
<p>2014 (R$)</p>
</td>
</tr>
<tr>
<td class="destaque" style="text-align: center;" width="152">
<p>Pr&oacute;prio</p>
</td>
<td class="destaque" style="text-align: center;" width="172">
<p>Ren&uacute;ncia fiscal</p>
</td>
<td class="destaque" style="text-align: center;" width="138">
<p>Total</p>
</td>
</tr>
<tr>
<td width="293">
<p>Cultura</p>
</td>
<td style="text-align: right;" width="152">
<p>7.438.611</p>
</td>
<td style="text-align: right;" width="172">
<p>19.377.222</p>
</td>
<td style="text-align: right;" width="138">
<p>26.815.833</p>
</td>
</tr>
<tr>
<td width="293">
<p>Educa&ccedil;&atilde;o</p>
</td>
<td style="text-align: right;" width="152">
<p>-</p>
</td>
<td style="text-align: right;" width="172">
<p>286.950</p>
</td>
<td style="text-align: right;" width="138">
<p>286.950</p>
</td>
</tr>
<tr>
<td width="293">
<p>Esporte</p>
</td>
<td style="text-align: right;" width="152">
<p>-</p>
</td>
<td style="text-align: right;" width="172">
<p>5.425.102</p>
</td>
<td style="text-align: right;" width="138">
<p>5.425.102</p>
</td>
</tr>
<tr>
<td width="293">
<p>A&ccedil;&otilde;es Sociais</p>
</td>
<td style="text-align: right;" width="152">
<p>6.734.440</p>
</td>
<td style="text-align: right;" width="172">
<p>57.040.099</p>
</td>
<td style="text-align: right;" width="138">
<p>63.774.539</p>
</td>
</tr>
<tr>
<td width="293">
<p>&nbsp; &nbsp;FIA / AI6% / Doa&ccedil;&otilde;es</p>
</td>
<td style="text-align: right;" width="152">
<p>6.734.440</p>
</td>
<td style="text-align: right;" width="172">
<p>5.527.301</p>
</td>
<td style="text-align: right;" width="138">
<p>-</p>
</td>
</tr>
<tr>
<td width="293">
<p>&nbsp; &nbsp;Programa Energia Inteligente</p>
</td>
<td style="text-align: right;" width="152">
<p>-</p>
</td>
<td style="text-align: right;" width="172">
<p>51.512.799</p>
</td>
<td style="text-align: right;" width="138">
<p>-</p>
</td>
</tr>
<tr>
<td width="293">
<p>Sa&uacute;de</p>
</td>
<td style="text-align: right;" width="152">
<p>-</p>
</td>
<td style="text-align: right;" width="172">
<p>9.485.692</p>
</td>
<td style="text-align: right;" width="138">
<p>9.485.692</p>
</td>
</tr>
<tr>
<td class="destaque" width="293">
<p>Total</p>
</td>
<td class="destaque" style="text-align: right;" width="152">
<p>14.173.051</p>
</td>
<td class="destaque" style="text-align: right;" width="172">
<p>91.615.065</p>
</td>
<td class="destaque" style="text-align: right;" width="138">
<p>105.788.116</p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>