<table width="640">
<tbody>
<tr>
<td class=" destaque" width="640">
<p style="text-align: center;">Escopo 1 - Fontes de Emiss&atilde;o</p>
</td>
</tr>
<tr>
<td width="640">
<p>Consumo de combust&iacute;vel da frota corporativa</p>
</td>
</tr>
<tr>
<td width="640">
<p>Consumo de aeronaves e pequenas embarca&ccedil;&otilde;es</p>
</td>
</tr>
<tr>
<td width="640">
<p>Geradores de emerg&ecirc;ncia</p>
</td>
</tr>
<tr>
<td width="640">
<p>Combust&iacute;vel utilizado na partida e opera&ccedil;&atilde;o de usina t&eacute;rmica a g&aacute;s de processo - UTE Barreiro</p>
</td>
</tr>
<tr>
<td width="640">
<p>Combust&iacute;vel utilizado na UTE Igarap&eacute;</p>
</td>
</tr>
<tr>
<td width="640">
<p>M&aacute;quinas e equipamentos</p>
</td>
</tr>
<tr>
<td width="640">
<p>Emiss&otilde;es de SF6 de equipamentos el&eacute;tricos</p>
</td>
</tr>
<tr>
<td width="640">
<p>Fertilizantes utilizados na produ&ccedil;&atilde;o de mudas e plantios</p>
</td>
</tr>
<tr>
<td width="640">
<p>Combust&iacute;veis utilizados em empilhadeiras e guindastes</p>
</td>
</tr>
</tbody>
</table>