<table width="640">
<tbody>
<tr>
<td class=" destaque" width="640">
<p style="text-align: center;">Escopo 2 - Fontes de Emiss&atilde;o</p>
</td>
</tr>
<tr>
<td width="640">
<p>Consumo de energia el&eacute;trica nas unidades administrativas e operacionais</p>
</td>
</tr>
<tr>
<td width="640">
<p>Perdas t&eacute;cnicas de energia el&eacute;trica nos sistemas de Transmiss&atilde;o e Distribui&ccedil;&atilde;o</p>
</td>
</tr>
</tbody>
</table>