<table width="640">
<tbody>
<tr>
<td class=" destaque" width="640">
<p style="text-align: center;">Escopo 3 - Fontes de Emiss&atilde;o</p>
</td>
</tr>
<tr>
<td width="640">
<p>Transporte terceirizado de materiais, res&iacute;duos s&oacute;lidos e equipamentos</p>
</td>
</tr>
<tr>
<td width="640">
<p>Viagens a&eacute;reas</p>
</td>
</tr>
<tr>
<td width="640">
<p>Consumo de gasolina, &aacute;lcool e &oacute;leo diesel pelas empreiteiras da Distribui&ccedil;&atilde;o</p>
</td>
</tr>
<tr>
<td width="640">
<p>Consumo de energia el&eacute;trica pelos consumidores finais</p>
</td>
</tr>
<tr>
<td width="640">
<p>Transporte terceirizado de funcion&aacute;rios</p>
</td>
</tr>
</tbody>
</table>