<table>
<tbody>
<tr>
<td class="destaque" style="text-align: center;">
<p>Objetivo estrat&eacute;gico</p>
</td>
<td class="destaque" style="text-align: center;">
<p>Aspecto material</p>
</td>
<td class="destaque" style="text-align: center;">
<p>Meta</p>
</td>
<td class="destaque" style="text-align: center;">
<p>Status</p>
</td>
<td class="destaque" style="text-align: center;">
<p>Prazo</p>
</td>
<td class="destaque" style="text-align: center;">
<p>Indicadores GRI</p>
</td>
</tr>
<tr>
<td style="text-align: center;" rowspan="3">
<p>Maximizar valor para <br /> os acionistas de forma sustent&aacute;vel e atendendo <br /> ao Plano Diretor</p>
</td>
<td style="text-align: center;" rowspan="2">
<p>Desempenho econ&ocirc;mico</p>
</td>
<td style="text-align: center;">
<p>Manter o endividamento consolidado da Companhia em valor igual ou inferior a 2 (duas) vezes o Lajida (lucro antes de juros, impostos, deprecia&ccedil;&atilde;o e amortiza&ccedil;&atilde;o) da Companhia.</p>
</td>
<td style="text-align: center;">
<p>Conforme delibera&ccedil;&atilde;o da AGE de 02/12/2014, o Conselho de Administra&ccedil;&atilde;o autorizou que excepcionalmente em 2014, por motivos conjunturais, o limite da rela&ccedil;&atilde;o entre endividamento l&iacute;quido e Lajida fosse no m&aacute;ximo de 2,5 vezes. Ao final de 2014, o endividamento l&iacute;quido chegou a 1,8&nbsp;vez o Lajida do exerc&iacute;cio, portanto dentro dos novos limites estabelecidos.</p>
</td>
<td style="text-align: center;">
<p>anualmente</p>
</td>
<td style="text-align: center;" rowspan="3">
<p>4.9 e 4.11</p>
</td>
</tr>
<tr>
<td style="text-align: center;">
<p>Manter uma rela&ccedil;&atilde;o consolidada de endividamento medida por d&iacute;vida l&iacute;quida / (d&iacute;vida l&iacute;quida + patrim&ocirc;nio l&iacute;quido), limitada a 40%.</p>
</td>
<td style="text-align: center;">
<p>Conforme delibera&ccedil;&atilde;o da AGE de 02/12/2014, o Conselho de Administra&ccedil;&atilde;o autorizou que excepcionalmente em 2014, por motivos conjunturais, a rela&ccedil;&atilde;o de endividamento fosse de no m&aacute;ximo 50%. Ao final de 2014, o endividamento l&iacute;quido chegou a 51%.</p>
</td>
<td style="text-align: center;">
<p>anualmente</p>
</td>
</tr>
<tr>
<td style="text-align: center;">
<p>Valor das a&ccedil;&otilde;es</p>
</td>
<td style="text-align: center;">
<p>Distribuir pelo menos 50% do lucro l&iacute;quido <br /> na forma de dividendos.</p>
</td>
<td style="text-align: center;">
<p>A proposta de distribui&ccedil;&atilde;o do resultado do exerc&iacute;cio 2014, sujeita &agrave; aprova&ccedil;&atilde;o da AGO de 30/04/2015, consiste no pagamento de R$ 230 milh&otilde;es a serem pagos em duas etapas (at&eacute; 30/06/2015 e at&eacute; 30/12/2015) sob a forma de juros sobre o capital pr&oacute;prio e R$ 567 milh&otilde;es sob a forma de dividendos de 2014, a serem pagos at&eacute; 30/12/2015. Conforme a proposta, a parte restante dos dividendos de 2014, R$ 797 milh&otilde;es, ser&aacute; mantida como reserva de dividendos obrigat&oacute;rios n&atilde;o distribu&iacute;dos, para serem pagos assim que a situa&ccedil;&atilde;o financeira da Cemig o permitir.</p>
</td>
<td style="text-align: center;">
<p>anualmente</p>
</td>
</tr>
<tr>
<td class="highlight" style="text-align: center;" rowspan="4">
<p>Aumentar a gera&ccedil;&atilde;o de caixa</p>
</td>
<td class="highlight" style="text-align: center;" rowspan="3">
<p>Investimentos para crescimento</p>
</td>
<td class="highlight" style="text-align: center;">
<p>Realizar investimentos na Cemig Gera&ccedil;&atilde;o e Transmiss&atilde;o de R$ 1,6 bilh&atilde;o</p>
</td>
<td class="highlight" style="text-align: center;">
<p>Em 2014 foram realizados investimentos de R$ 1,55 bilh&atilde;o que, somados aos investimentos de 2013, resultaram em um valor acumulado superior a R$ 2 bilh&otilde;es, equivalentes a 127% da meta.</p>
</td>
<td class="highlight" style="text-align: center;">
<p>2017</p>
</td>
<td class="highlight" style="text-align: center;" rowspan="3">
<p>EC1, EC2, EC8, EU26</p>
</td>
</tr>
<tr>
<td class="highlight" style="text-align: center;">
<p>Realizar investimentos na Cemig Distribui&ccedil;&atilde;o <br /> de R$ 4,9 bilh&otilde;es</p>
</td>
<td class="highlight" style="text-align: center;">
<p>Em 2014 foram realizados investimentos da ordem de R$ 1,8 bilh&atilde;o que, somados aos investimentos de 2013, resultaram em um valor acumulado de R$ 3 bilh&otilde;es, equivalentes a 62,7% da meta a ser atingida at&eacute; 2017.</p>
</td>
<td class="highlight" style="text-align: center;">
<p>2017</p>
</td>
</tr>
<tr>
<td class="highlight" style="text-align: center;">
<p>Atender 1,2 milh&atilde;o de novos consumidores <br /> na &aacute;rea urbana</p>
</td>
<td class="highlight" style="text-align: center;">
<p>Foram realizadas 433.270 novas liga&ccedil;&otilde;es</p>
</td>
<td class="highlight" style="text-align: center;">
<p>2017</p>
</td>
</tr>
<tr>
<td class="highlight" style="text-align: center;">
<p>Desempenho econ&ocirc;mico</p>
</td>
<td class="highlight" style="text-align: center;">
<p>Aumentar a gera&ccedil;&atilde;o de caixa: apresentar Lajida de pelo menos R$ 6.447 milh&otilde;es</p>
</td>
<td class="highlight" style="text-align: center;">
<p>Em 2014, o Lajida consolidado chegou a R$ 6.382 milh&otilde;es.</p>
</td>
<td class="highlight" style="text-align: center;">
<p>2017</p>
</td>
<td class="highlight" style="text-align: center;">
<p>EC1, EC2, EC8</p>
</td>
</tr>
<tr>
<td style="text-align: center;" rowspan="13">
<p>Garantir a <br /> sustentabilidade</p>
</td>
<td style="text-align: center;">
<p>&Aacute;gua</p>
</td>
<td style="text-align: center;">
<p>Reduzir o consumo de &aacute;gua em 4% tendo como base o consumo em 2011</p>
</td>
<td style="text-align: center;">
<p>Reduziu-se 10,8% em rela&ccedil;&atilde;o ao consumo de 2011</p>
</td>
<td style="text-align: center;">
<p>2020</p>
</td>
<td style="text-align: center;">
<p>EN8, EN9, EN10</p>
</td>
</tr>
<tr>
<td style="text-align: center;">
<p>Energia</p>
</td>
<td style="text-align: center;">
<p>Reduzir o consumo de energia el&eacute;trica em 4% tendo como base o consumo em 2011</p>
</td>
<td style="text-align: center;">
<p>Reduziu-se 5,8% em rela&ccedil;&atilde;o ao consumo de 2011</p>
</td>
<td style="text-align: center;">
<p>2020</p>
</td>
<td style="text-align: center;">
<p>EN3, EN4, EN5, EN6,EN7</p>
</td>
</tr>
<tr>
<td style="text-align: center;">
<p>Mudan&ccedil;as Clim&aacute;ticas</p>
</td>
<td style="text-align: center;">
<p>reduzir a intensidade de emiss&otilde;es de gases de efeito estufa em (tCO2<sub>eq</sub>/MWh) em 8%, tendo como base as emiss&otilde;es verificadas em 2008</p>
</td>
<td style="text-align: center;">
<p>A intensidade de emiss&otilde;es de gases de efeito estufa em (tCO2eq/MWh) reduziu 5,9%, tendo como base as emiss&otilde;es verificadas em 2008</p>
</td>
<td style="text-align: center;">
<p>2015</p>
</td>
<td style="text-align: center;">
<p>EN15, EN16, EN17, EN18, EN19, EN20, EN21</p>
</td>
</tr>
<tr>
<td style="text-align: center;">
<p>Res&iacute;duos</p>
</td>
<td style="text-align: center;">
<p>Ter 99% dos res&iacute;duos industriais reciclados/regenerados ou alienados</p>
</td>
<td style="text-align: center;">
<p>Em 2014, 99,67% dos res&iacute;duos industriais foram reciclados/regenerados ou alienados</p>
</td>
<td style="text-align: center;">
<p>2020</p>
</td>
<td style="text-align: center;">
<p>EN23, EN24</p>
</td>
</tr>
<tr>
<td style="text-align: center;" rowspan="4">
<p>Biodiversidade</p>
</td>
<td style="text-align: center;">
<p>Ter no m&aacute;ximo 1.772kg de biomassa afetada</p>
</td>
<td style="text-align: center;">
<p>Em 2014 a biomassa afetada foi de 787 kg</p>
</td>
<td style="text-align: center;">
<p>2017</p>
</td>
<td style="text-align: center;" rowspan="4">
<p>EN11, EN12, EN13, EU13</p>
</td>
</tr>
<tr>
<td style="text-align: center;">
<p>Concluir o estudo da efetividade e Sustentabilidade da Mata Ciliar da UHE Volta Grande, MG na Conserva&ccedil;&atilde;o de Processos Ecol&oacute;gicos e Biodiversidade</p>
</td>
<td style="text-align: center;">
<p>A elabora&ccedil;&atilde;o do estudo se encontra dentro do cronograma estabelecido</p>
</td>
<td style="text-align: center;">
<p>2016</p>
</td>
</tr>
<tr>
<td style="text-align: center;">
<p>Concluir o invent&aacute;rio de arboriza&ccedil;&atilde;o urbana em Belo Horizonte, e inserir o produto como ferramenta rotineira de planejamento e programa&ccedil;&atilde;o de trabalho</p>
</td>
<td style="text-align: center;">
<p>At&eacute; dezembro de 2014 foram inventariadas 246.529 &aacute;rvores, restando outras 200.000 para a conclus&atilde;o dos trabalhos.</p>
</td>
<td style="text-align: center;">
<p>2015</p>
</td>
</tr>
<tr>
<td style="text-align: center;">
<p>Incorporar a metodologia de Manejo Integrado de Vegeta&ccedil;&atilde;o como procedimento padr&atilde;o de abertura de faixas de passagem de LT</p>
</td>
<td style="text-align: center;">
<p>Foi conclu&iacute;do o P&amp;D voltado para a elabora&ccedil;&atilde;o de metodologia de Manejo Integrado de Vegeta&ccedil;&atilde;o (MIV) em faixas de passagem de linhas de transmiss&atilde;o</p>
</td>
<td style="text-align: center;">
<p>2017</p>
</td>
</tr>
<tr>
<td style="text-align: center;" rowspan="3">
<p>Atender &agrave; legisla&ccedil;&atilde;o</p>
</td>
<td style="text-align: center;">
<p>Revisar o programa de adequa&ccedil;&atilde;o socioambiental 2014-2018</p>
</td>
<td style="text-align: center;">
<p>O programa foi revisado e aprovado pelo Comit&ecirc; de Acompanhamento do Programa de Adequa&ccedil;&atilde;o Socioambiental</p>
</td>
<td style="text-align: center;">
<p>2014</p>
</td>
<td style="text-align: center;" rowspan="3">
<p>HR3, HR5, HR6</p>
</td>
</tr>
<tr>
<td style="text-align: center;">
<p>Revisar a Declara&ccedil;&atilde;o de Princ&iacute;pios &Eacute;ticos e C&oacute;digo de Conduta Profissional</p>
</td>
<td style="text-align: center;">
<p>O Escopo foi elaborado e a contrata&ccedil;&atilde;o est&aacute; prevista para 2015.</p>
</td>
<td style="text-align: center;">
<p>2015</p>
</td>
</tr>
<tr>
<td style="text-align: center;">
<p>Intensificar Projeto Ouvidoria Itinerante - Realizar 1 evento por m&ecirc;s de intera&ccedil;&atilde;o (esclarecimentos sobre procedimentos da ouvidoria) com &aacute;reas internas da Cemig.</p>
</td>
<td style="text-align: center;">
<p>Devido a ajustes internos e adequa&ccedil;&otilde;es para aplica&ccedil;&atilde;o do projeto Caminho do Entendimento n&atilde;o houve avan&ccedil;os no projeto</p>
</td>
<td style="text-align: center;">
<p>2014</p>
</td>
</tr>
<tr>
<td style="text-align: center;">
<p>Diversidade e Igualdade</p>
</td>
<td style="text-align: center;">
<p>Elaborar a vers&atilde;o reduzida e simplificada do Relat&oacute;rio Anual e de Sustentabilidade</p>
</td>
<td style="text-align: center;">
<p>A vers&atilde;o foi elaborada e divulgada para todos os empregados</p>
</td>
<td style="text-align: center;">
<p>2014</p>
</td>
<td style="text-align: center;">
<p>HR3, EU24</p>
</td>
</tr>
<tr>
<td style="text-align: center;">
<p>Gest&atilde;o de Fornecedores</p>
</td>
<td style="text-align: center;">
<p>Ter &iacute;ndice de qualidade dos servi&ccedil;os contratados acima de 80%</p>
</td>
<td style="text-align: center;">
<p>Meta foi atingida, com 89,92%</p>
</td>
<td style="text-align: center;">
<p>2014</p>
</td>
<td style="text-align: center;">
<p>HR1, HR5, HR6</p>
</td>
</tr>
<tr>
<td class="highlight" style="text-align: center;" rowspan="4">
<p>Assegurar os n&iacute;veis de qualidade definidos pelo regulador</p>
</td>
<td class="highlight" style="text-align: center;" rowspan="2">
<p>Qualidade da energia</p>
</td>
<td class="highlight" style="text-align: center;">
<p>Ter o DEC abaixo de 10,83h</p>
</td>
<td class="highlight" style="text-align: center;">
<p>Atendida, foram apuradas 10,77 horas</p>
</td>
<td class="highlight" style="text-align: center;">
<p>2017</p>
</td>
<td class="highlight" style="text-align: center;">
<p>EU6, EU29</p>
</td>
</tr>
<tr>
<td class="highlight" style="text-align: center;">
<p>Ter o FEC abaixo de 7,56</p>
</td>
<td class="highlight" style="text-align: center;">
<p>Atendida.O &iacute;ndice apurado foi 5,58.</p>
</td>
<td class="highlight" style="text-align: center;">
<p>2017</p>
</td>
<td class="highlight" style="text-align: center;">
<p>EU6, EU28</p>
</td>
</tr>
<tr>
<td class="highlight" style="text-align: center;">
<p>Gest&atilde;o <br /> de Perdas</p>
</td>
<td class="highlight" style="text-align: center;">
<p>Ter perdas totais menores que 10,68%</p>
</td>
<td class="highlight" style="text-align: center;">
<p>As perdas totais foram de 11% em 2014</p>
</td>
<td class="highlight" style="text-align: center;">
<p>2017</p>
</td>
<td class="highlight" style="text-align: center;">
<p>EU6, EU12</p>
</td>
</tr>
<tr>
<td class="highlight" style="text-align: center;">
<p>Clientes e Consumidores</p>
</td>
<td class="highlight" style="text-align: center;">
<p>&Iacute;ndice de Satisfa&ccedil;&atilde;o com a Qualidade Percebida <br /> maior que 82%</p>
</td>
<td class="highlight" style="text-align: center;">
<p>O &Iacute;ndice de Satisfa&ccedil;&atilde;o com a Qualidade Percebida foi de 81,3%</p>
</td>
<td class="highlight" style="text-align: center;">
<p>2017</p>
</td>
<td class="highlight" style="text-align: center;">
<p>PR5</p>
</td>
</tr>
<tr>
<td style="text-align: center;" rowspan="4">
<p>Desenvolver as compet&ecirc;ncias estrat&eacute;gicas de forma sustent&aacute;vel</p>
</td>
<td style="text-align: center;">
<p>Empregados</p>
</td>
<td style="text-align: center;">
<p>Revisar o plano de cargos e remunera&ccedil;&atilde;o</p>
</td>
<td style="text-align: center;">
<p>O plano de cargos e remunera&ccedil;&atilde;o est&aacute; passando por um processo de revis&atilde;o, com previs&atilde;o de conclus&atilde;o para meados de 2015</p>
</td>
<td style="text-align: center;">
<p>2014</p>
</td>
<td style="text-align: center;">
<p>LA13, LA2</p>
</td>
</tr>
<tr>
<td style="text-align: center;">
<p>Empregados</p>
</td>
<td style="text-align: center;">
<p>Revis&atilde;o do Modelo de Gest&atilde;o de Desempenho</p>
</td>
<td style="text-align: center;">
<p>O Modelo de Gest&atilde;o de Desempenho vem sendo aprimorada tendo a previs&atilde;o de conclus&atilde;o revista para meados de 2015.</p>
</td>
<td style="text-align: center;">
<p>2014</p>
</td>
<td style="text-align: center;">
<p>LA11</p>
</td>
</tr>
<tr>
<td style="text-align: center;">
<p>Empregados</p>
</td>
<td style="text-align: center;">
<p>Ter &iacute;ndice de efici&ecirc;ncia de treinamento maior do que 95%</p>
</td>
<td style="text-align: center;">
<p>O valor apurado em 2014 foi de 96,1%</p>
</td>
<td style="text-align: center;">
<p>2014</p>
</td>
<td style="text-align: center;">
<p>LA9, LA10</p>
</td>
</tr>
<tr>
<td style="text-align: center;">
<p>Empregados</p>
</td>
<td style="text-align: center;">
<p>Ter mais de 47 horas de treinamento por empregado</p>
</td>
<td style="text-align: center;">
<p>O valor apurado em 2014 foi de 49,4 horas</p>
</td>
<td style="text-align: center;">
<p>2014</p>
</td>
<td style="text-align: center;">
<p>LA9, LA10</p>
</td>
</tr>
<tr>
<td class="highlight" style="text-align: center;" rowspan="2">
<p>Efetivar a seguran&ccedil;a como valor na cultura empresarial</p>
</td>
<td class="highlight" style="text-align: center;" rowspan="2">
<p>Sa&uacute;de <br /> e seguran&ccedil;a</p>
</td>
<td class="highlight" style="text-align: center;">
<p>Concluir os trabalhos para o Pacto pela <br /> Sa&uacute;de e Seguran&ccedil;a</p>
</td>
<td class="highlight" style="text-align: center;">
<p>Trabalhos conclu&iacute;dos</p>
</td>
<td class="highlight" style="text-align: center;">
<p>2014</p>
</td>
<td class="highlight" style="text-align: center;" rowspan="2">
<p>LA5, LA6, LA7, EU16</p>
</td>
</tr>
<tr>
<td class="highlight" style="text-align: center;">
<p>Na busca da meta Zero acidentes, ter a taxa de frequ&ecirc;ncia de acidentes da for&ccedil;a de trabalho menor do que 2,14</p>
</td>
<td class="highlight" style="text-align: center;">
<p>O valor apurado foi de 2,01</p>
</td>
<td class="highlight" style="text-align: center;">
<p>2014</p>
</td>
</tr>
<tr>
<td style="text-align: center;" rowspan="2">
<p>Ser inovadora na busca de solu&ccedil;&otilde;es tecnol&oacute;gicas para os neg&oacute;cios</p>
</td>
<td style="text-align: center;" rowspan="2">
<p>Inova&ccedil;&atilde;o</p>
</td>
<td style="text-align: center;" rowspan="2">
<p>Desembolsar em pesquisa e desenvolvimento R$ 290 milh&otilde;es</p>
</td>
<td style="text-align: center;" rowspan="2">
<p>Em 2014 foram desenvolvidos mais de 160 projetos em desenvolvimento e um investimento de mais de R$ 60 milh&otilde;es</p>
</td>
<td style="text-align: center;" rowspan="2">
<p>At&eacute; 2018</p>
</td>
<td style="text-align: center;" rowspan="2">
<p>EU8</p>
</td>
</tr>
</tbody>
</table>