<table width="358">
<tbody>
<tr>
<td class="destaque" style="text-align: center;" colspan="3" width="278">
<p>Emiss&otilde;es Totais (<span class="minusculo">t</span>)*</p>
</td>
</tr>
<tr>
<td class="destaque" style="text-align: center;" width="80">
<p>Ano</p>
</td>
<td class="destaque" style="text-align: center;" width="107">
<p>SO<sub>2</sub></p>
</td>
<td class="destaque" style="text-align: center;" width="92">
<p>NO<sub><span class="minusculo">x</span></sub></p>
</td>
</tr>
<tr>
<td style="text-align: center;" width="80">
<p><strong>2011</strong></p>
</td>
<td style="text-align: right;" width="107">
<p>475</p>
</td>
<td style="text-align: right;" width="92">
<p>109</p>
</td>
</tr>
<tr>
<td style="text-align: center;" width="80">
<p><strong>2012</strong></p>
</td>
<td style="text-align: right;" width="107">
<p>551</p>
</td>
<td style="text-align: right;" width="92">
<p>141</p>
</td>
</tr>
<tr>
<td style="text-align: center;" width="80">
<p><strong>2013</strong></p>
</td>
<td style="text-align: right;" width="107">
<p>963</p>
</td>
<td style="text-align: right;" width="92">
<p>177</p>
</td>
</tr>
<tr>
<td style="text-align: center;" width="80">
<p><strong>2014</strong></p>
</td>
<td style="text-align: right;" width="107">
<p>3.049</p>
</td>
<td style="text-align: right;" width="92">
<p>251</p>
</td>
</tr>
<tr>
<td style="text-align: center;" width="80">
<p><strong>2015</strong></p>
</td>
<td style="text-align: right;" width="107">
<p>636</p>
</td>
<td style="text-align: right;" width="92">
<p>32</p>
</td>
</tr>
</tbody>
</table>
<pre>* As emiss&otilde;es entre 2011 e 2014 foram recalculados devido a mudan&ccedil;a nos fatores de emiss&atilde;o.</pre>