<table width="353">
<tbody>
<tr>
<td class="destaque" style="text-align: center;" width="113">
<p><strong>Ano</strong></p>
</td>
<td class="destaque" style="text-align: center;" width="240">
<p><strong>Compensa&ccedil;&otilde;es (R$ milh&otilde;es)</strong></p>
</td>
</tr>
<tr>
<td style="text-align: center;" width="113">
<p>2013</p>
</td>
<td style="text-align: right;" width="240">
<p>24,3</p>
</td>
</tr>
<tr>
<td style="text-align: center;" width="113">
<p>2014</p>
</td>
<td style="text-align: right;" width="240">
<p>20,3</p>
</td>
</tr>
<tr>
<td style="text-align: center;" width="113">
<p>2015</p>
</td>
<td style="text-align: right;" width="240">
<p>37,3</p>
</td>
</tr>
</tbody>
</table>