<table width="85%">
<tbody>
<tr>
<td class="destaque" style="text-align: center;" width="40%">
<p><strong>N&uacute;mero de acidentes com a popula&ccedil;&atilde;o</strong></p>
</td>
<td class="destaque" style="text-align: center;" width="15%">
<p><strong>2012</strong></p>
</td>
<td class="destaque" style="text-align: center;" width="15%">
<p><strong>2013</strong></p>
</td>
<td class="destaque" style="text-align: center;" width="15%">
<p><strong>2014</strong></p>
</td>
<td class="destaque" style="text-align: center;" width="15%">
<p><strong>2015</strong></p>
</td>
</tr>
<tr>
<td width="49%">
<p>Acidentes sem &oacute;bito</p>
</td>
<td style="text-align: right;" width="15%">
<p>82</p>
</td>
<td style="text-align: right;" width="15%">
<p>114</p>
</td>
<td style="text-align: right;" width="15%">
<p>96</p>
</td>
<td style="text-align: right;" width="15%">
<p>82</p>
</td>
</tr>
<tr>
<td width="49%">
<p>Acidentes com &oacute;bito</p>
</td>
<td style="text-align: right;" width="15%">
<p>29</p>
</td>
<td style="text-align: right;" width="15%">
<p>28</p>
</td>
<td style="text-align: right;" width="15%">
<p>19</p>
</td>
<td style="text-align: right;" width="15%">
<p>15</p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>