<table>
<tbody>
<tr>
<td class="destaque" colspan="2" rowspan="2">
<p>1) Base de C&aacute;lculo</p>
</td>
<td class="destaque" colspan="6">
<p align="center">2015</p>
</td>
<td class="destaque" colspan="6">
<p align="center">2014 Reclassificado</p>
</td>
</tr>
<tr>
<td class="destaque" colspan="6">
<p align="center">Valor (Mil Reais)</p>
</td>
<td class="destaque" colspan="6">
<p align="center">Valor (Mil Reais)</p>
</td>
</tr>
<tr>
<td colspan="2">
<p>Receita L&iacute;quida (RL)</p>
</td>
<td colspan="6">
<p align="right">21.292.211</p>
</td>
<td colspan="6">
<p align="right">19.539.578</p>
</td>
</tr>
<tr>
<td colspan="2">
<p>Resultado Operacional (RO)</p>
</td>
<td colspan="6">
<p align="right">4.119.528</p>
</td>
<td colspan="6">
<p align="right">2.139.511</p>
</td>
</tr>
<tr>
<td colspan="2">
<p>Folha de Pagamento Bruta (FPB)</p>
</td>
<td colspan="6">
<p align="right">1.258.081</p>
</td>
<td colspan="6">
<p align="right">1.098.265</p>
</td>
</tr>
<tr>
<td class="destaque" colspan="2">
<p>2) Indicadores Sociais Internos</p>
</td>
<td class="destaque" colspan="2">
<p align="center">Valor <br /> (Mil R$)</p>
</td>
<td class="destaque" colspan="2">
<p align="center">%Sobre FPB</p>
</td>
<td class="destaque" colspan="2">
<p align="center">%Sobre RL</p>
</td>
<td class="destaque" colspan="2">
<p align="center">Valor <br /> (Mil R$)</p>
</td>
<td class="destaque" colspan="2">
<p align="center">%Sobre FPB</p>
</td>
<td class="destaque" colspan="2">
<p align="center">%Sobre RL</p>
</td>
</tr>
<tr>
<td colspan="2">
<p>Alimenta&ccedil;&atilde;o</p>
</td>
<td colspan="2">
<p align="right">75.115</p>
</td>
<td colspan="2">
<p align="right">5,97</p>
</td>
<td colspan="2">
<p align="right">0,35</p>
</td>
<td colspan="2">
<p align="right">79.436</p>
</td>
<td colspan="2">
<p align="right">7,23</p>
</td>
<td colspan="2">
<p align="right">0,41</p>
</td>
</tr>
<tr>
<td colspan="2">
<p>Encargos sociais compuls&oacute;rios</p>
</td>
<td colspan="2">
<p align="right">306.272</p>
</td>
<td colspan="2">
<p align="right">24,34</p>
</td>
<td colspan="2">
<p align="right">1,44</p>
</td>
<td colspan="2">
<p align="right">294.767</p>
</td>
<td colspan="2">
<p align="right">26,84</p>
</td>
<td colspan="2">
<p align="right">1,51</p>
</td>
</tr>
<tr>
<td colspan="2">
<p>Previd&ecirc;ncia privada</p>
</td>
<td colspan="2">
<p align="right">83.669</p>
</td>
<td colspan="2">
<p align="right">6,65</p>
</td>
<td colspan="2">
<p align="right">0,39</p>
</td>
<td colspan="2">
<p align="right">78.644</p>
</td>
<td colspan="2">
<p align="right">7,16</p>
</td>
<td colspan="2">
<p align="right">0,40</p>
</td>
</tr>
<tr>
<td colspan="2">
<p>Sa&uacute;de</p>
</td>
<td colspan="2">
<p align="right">46.145</p>
</td>
<td colspan="2">
<p align="right">3,67</p>
</td>
<td colspan="2">
<p align="right">0,22</p>
</td>
<td colspan="2">
<p align="right">44.369</p>
</td>
<td colspan="2">
<p align="right">4,04</p>
</td>
<td colspan="2">
<p align="right">0,23</p>
</td>
</tr>
<tr>
<td colspan="2">
<p>Seguran&ccedil;a e medicina no trabalho</p>
</td>
<td colspan="2">
<p align="right">23.483</p>
</td>
<td colspan="2">
<p align="right">1,87</p>
</td>
<td colspan="2">
<p align="right">0,11</p>
</td>
<td colspan="2">
<p align="right">21.372</p>
</td>
<td colspan="2">
<p align="right">1,95</p>
</td>
<td colspan="2">
<p align="right">0,11</p>
</td>
</tr>
<tr>
<td colspan="2">
<p>Educa&ccedil;&atilde;o</p>
</td>
<td colspan="2">
<p align="right">896</p>
</td>
<td colspan="2">
<p align="right">0,07</p>
</td>
<td colspan="2">
<p align="right">-</p>
</td>
<td colspan="2">
<p align="right">604</p>
</td>
<td colspan="2">
<p align="right">0,05</p>
</td>
<td colspan="2">
<p align="right">-</p>
</td>
</tr>
<tr>
<td colspan="2">
<p>Cultura</p>
</td>
<td colspan="2">
<p align="right">-</p>
</td>
<td colspan="2">
<p align="right">-</p>
</td>
<td colspan="2">
<p align="right">-</p>
</td>
<td colspan="2">
<p align="right">-</p>
</td>
<td colspan="2">
<p align="right">-</p>
</td>
<td colspan="2">
<p align="right">-</p>
</td>
</tr>
<tr>
<td colspan="2">
<p>Capacita&ccedil;&atilde;o e desenvolvimento profissional</p>
</td>
<td colspan="2">
<p align="right">35.831</p>
</td>
<td colspan="2">
<p align="right">2,85</p>
</td>
<td colspan="2">
<p align="right">0,17</p>
</td>
<td colspan="2">
<p align="right">37.553</p>
</td>
<td colspan="2">
<p align="right">3,42</p>
</td>
<td colspan="2">
<p align="right">0,19</p>
</td>
</tr>
<tr>
<td colspan="2">
<p>Creches ou aux&iacute;lio-creche</p>
</td>
<td colspan="2">
<p align="right">2.477</p>
</td>
<td colspan="2">
<p align="right">0,20</p>
</td>
<td colspan="2">
<p align="right">0,01</p>
</td>
<td colspan="2">
<p align="right">2.183</p>
</td>
<td colspan="2">
<p align="right">0,20</p>
</td>
<td colspan="2">
<p align="right">0,01</p>
</td>
</tr>
<tr>
<td colspan="2">
<p>Participa&ccedil;&atilde;o nos lucros ou resultados</p>
</td>
<td colspan="2">
<p align="right">130.198</p>
</td>
<td colspan="2">
<p align="right">10,35</p>
</td>
<td colspan="2">
<p align="right">0,61</p>
</td>
<td colspan="2">
<p align="right">238.664</p>
</td>
<td colspan="2">
<p align="right">21,73</p>
</td>
<td colspan="2">
<p align="right">1,22</p>
</td>
</tr>
<tr>
<td colspan="2">
<p>Outros</p>
</td>
<td colspan="2">
<p align="right">17.112</p>
</td>
<td colspan="2">
<p align="right">1,36</p>
</td>
<td colspan="2">
<p align="right">0,08</p>
</td>
<td colspan="2">
<p align="right">16.657</p>
</td>
<td colspan="2">
<p align="right">1,52</p>
</td>
<td colspan="2">
<p align="right">0,09</p>
</td>
</tr>
<tr>
<td colspan="2">
<p>Total - Indicadores Sociais Internos</p>
</td>
<td colspan="2">
<p align="right">721.198</p>
</td>
<td colspan="2">
<p align="right">57,33</p>
</td>
<td colspan="2">
<p align="right">3,38</p>
</td>
<td colspan="2">
<p align="right">814.249</p>
</td>
<td colspan="2">
<p align="right">74,14</p>
</td>
<td colspan="2">
<p align="right">4,17</p>
</td>
</tr>
<tr>
<td class="destaque" colspan="2">
<p>3) Indicadores Sociais Externos</p>
</td>
<td class="destaque" colspan="2">
<p align="center">Valor <br /> (Mil R$)</p>
</td>
<td class="destaque" colspan="2">
<p align="center">%Sobre RO</p>
</td>
<td class="destaque" colspan="2">
<p align="center">%Sobre RL</p>
</td>
<td class="destaque" colspan="2">
<p align="center">Valor <br /> (Mil R$)</p>
</td>
<td class="destaque" colspan="2">
<p align="center">%Sobre RO</p>
</td>
<td class="destaque" colspan="2">
<p align="center">%Sobre RL</p>
</td>
</tr>
<tr>
<td colspan="2">
<p>Educa&ccedil;&atilde;o</p>
</td>
<td colspan="2">
<p align="right">455</p>
</td>
<td colspan="2">
<p align="right">-</p>
</td>
<td colspan="2">
<p align="right">-</p>
</td>
<td colspan="2">
<p align="right">287</p>
</td>
<td colspan="2">
<p align="right">-</p>
</td>
<td colspan="2">
<p align="right">-</p>
</td>
</tr>
<tr>
<td colspan="2">
<p>Cultura</p>
</td>
<td colspan="2">
<p align="right">19.035</p>
</td>
<td colspan="2">
<p align="right">0,06</p>
</td>
<td colspan="2">
<p align="right">0,09</p>
</td>
<td colspan="2">
<p align="right">26.816</p>
</td>
<td colspan="2">
<p align="right">0,11</p>
</td>
<td colspan="2">
<p align="right">0,14</p>
</td>
</tr>
<tr>
<td colspan="2">
<p>Outros Doa&ccedil;&otilde;es/Subven&ccedil;&otilde;es/Projeto ASIN/ Esporte</p>
</td>
<td colspan="2">
<p align="right">54.222</p>
</td>
<td colspan="2">
<p align="right">0,17</p>
</td>
<td colspan="2">
<p align="right">0,25</p>
</td>
<td colspan="2">
<p align="right">66.699</p>
</td>
<td colspan="2">
<p align="right">0,27</p>
</td>
<td colspan="2">
<p align="right">0,34</p>
</td>
</tr>
<tr>
<td colspan="2">
<p>Total das Contribui&ccedil;&otilde;es para a Sociedade</p>
</td>
<td colspan="2">
<p align="right">73.712</p>
</td>
<td colspan="2">
<p align="right">0,23</p>
</td>
<td colspan="2">
<p align="right">0,34</p>
</td>
<td colspan="2">
<p align="right">93.802</p>
</td>
<td colspan="2">
<p align="right">0,38</p>
</td>
<td colspan="2">
<p align="right">0,48</p>
</td>
</tr>
<tr>
<td colspan="2">
<p>Tributos (exclu&iacute;dos encargos sociais)</p>
</td>
<td colspan="2">
<p align="right">12.017.068</p>
</td>
<td colspan="2">
<p align="right">36,59</p>
</td>
<td colspan="2">
<p align="right">56,44</p>
</td>
<td colspan="2">
<p align="right">6.634.426</p>
</td>
<td colspan="2">
<p align="right">26,36</p>
</td>
<td colspan="2">
<p align="right">33,95</p>
</td>
</tr>
<tr>
<td colspan="2">
<p>Total &ndash; Indicadores Sociais Externos</p>
</td>
<td colspan="2">
<p align="right">12.090.780</p>
</td>
<td colspan="2">
<p align="right">36,82</p>
</td>
<td colspan="2">
<p align="right">56,78</p>
</td>
<td colspan="2">
<p align="right">6.728.228</p>
</td>
<td colspan="2">
<p align="right">26,74</p>
</td>
<td colspan="2">
<p align="right">34,43</p>
</td>
</tr>
<tr>
<td class="destaque" colspan="2">
<p>4) Indicadores Ambientais</p>
</td>
<td class="destaque" colspan="2">
<p align="center">Valor <br /> (Mil R$)</p>
</td>
<td class="destaque" colspan="2">
<p align="center">%Sobre RO</p>
</td>
<td class="destaque" colspan="2">
<p align="center">%Sobre RL</p>
</td>
<td class="destaque" colspan="2">
<p align="center">Valor <br /> (Mil R$)</p>
</td>
<td class="destaque" colspan="2">
<p align="center">%Sobre RO</p>
</td>
<td class="destaque" colspan="2">
<p align="center">%Sobre RL</p>
</td>
</tr>
<tr>
<td colspan="2">
<p>Relacionados com a opera&ccedil;&atilde;o da empresa</p>
</td>
<td colspan="2">
<p align="right">53.840</p>
</td>
<td colspan="2">
<p align="right">&nbsp;0,16</p>
</td>
<td colspan="2">
<p align="right">0,25</p>
</td>
<td colspan="2">
<p align="right">52.838</p>
</td>
<td colspan="2">
<p align="right">0,21</p>
</td>
<td colspan="2">
<p align="right">0,27</p>
</td>
</tr>
<tr>
<td colspan="2">
<p>Em Programas e/ou projetos externos</p>
</td>
<td colspan="2">
<p align="right">-</p>
</td>
<td colspan="2">
<p align="right">-</p>
</td>
<td colspan="2">
<p align="right">-</p>
</td>
<td colspan="2">
<p align="right">-</p>
</td>
<td colspan="2">
<p align="right">-</p>
</td>
<td colspan="2">
<p align="right">-</p>
</td>
</tr>
<tr>
<td colspan="2">
<p>Total dos Investimentos em Meio Ambiente</p>
</td>
<td colspan="2">
<p align="right">53.840</p>
</td>
<td colspan="2">
<p align="right">0,16</p>
</td>
<td colspan="2">
<p align="right">0,25</p>
</td>
<td colspan="2">
<p align="right">52.838</p>
</td>
<td colspan="2">
<p align="right">0,21</p>
</td>
<td colspan="2">
<p align="right">0,27</p>
</td>
</tr>
<tr>
<td colspan="2">
<p>Quanto ao estabelecimento de metas anuais para minimizar res&iacute;duos, o consumo em geral na produ&ccedil;&atilde;o/opera&ccedil;&atilde;o e aumentar a efic&aacute;cia na utiliza&ccedil;&atilde;o de recursos naturais, a empresa:</p>
</td>
<td colspan="3">
<p align="center">(x) n&atilde;o possui metas</p>
<p align="center">(&nbsp; ) cumpre de 0 a 50%</p>
</td>
<td colspan="3">
<p align="center">(&nbsp; ) cumpre de 51 a 75%<br /> (&nbsp; ) cumpre de 76 a 100%</p>
</td>
<td colspan="3">
<p align="center">(x) n&atilde;o possui metas<br /> (&nbsp; ) cumpre de 0 a 50%</p>
</td>
<td colspan="3">
<p align="center">(&nbsp; ) cumpre de 51 a 75%<br /> (&nbsp; ) cumpre de 76 a 100%</p>
</td>
</tr>
<tr>
<td class="destaque" colspan="2">
<p>5) Indicadores do Corpo Funcional</p>
</td>
<td class="destaque" colspan="6">
<p align="center">2015</p>
</td>
<td class="destaque" colspan="6">
<p align="center">2014</p>
</td>
</tr>
<tr>
<td colspan="2">
<p>N&ordm; de empregados (as) ao final do per&iacute;odo</p>
</td>
<td colspan="6">
<p align="right">7.860</p>
</td>
<td colspan="6">
<p align="right">7.922</p>
</td>
</tr>
<tr>
<td colspan="2">
<p>N&ordm; de admiss&otilde;es durante o per&iacute;odo</p>
</td>
<td colspan="6">
<p align="right">22</p>
</td>
<td colspan="6">
<p align="right">217</p>
</td>
</tr>
<tr>
<td colspan="2">
<p>N&ordm; de empregados (as) terceirizados (as)</p>
</td>
<td colspan="6">
<p align="right">ND</p>
</td>
<td colspan="6">
<p align="right">ND</p>
</td>
</tr>
<tr>
<td colspan="2">
<p>N&ordm; de estagi&aacute;rios (as)</p>
</td>
<td colspan="6">
<p align="right">326</p>
</td>
<td colspan="6">
<p align="right">277</p>
</td>
</tr>
<tr>
<td colspan="2">
<p>N&ordm; de empregados (as) acima de 45 anos</p>
</td>
<td colspan="6">
<p align="right">3.568</p>
</td>
<td colspan="6">
<p align="right">3.596</p>
</td>
</tr>
<tr>
<td colspan="2">
<p>N&ordm; de mulheres que trabalham na empresa</p>
</td>
<td colspan="6">
<p align="right">1.073</p>
</td>
<td colspan="6">
<p align="right">1.087</p>
</td>
</tr>
<tr>
<td colspan="2">
<p>% de cargos de chefia ocupados por mulheres</p>
</td>
<td colspan="6">
<p align="right">3,1</p>
</td>
<td colspan="6">
<p align="right">12,03</p>
</td>
</tr>
<tr>
<td colspan="2">
<p>N&ordm; de negros (as) que trabalham na empresa</p>
</td>
<td colspan="6">
<p align="right">2.528</p>
</td>
<td colspan="6">
<p align="right">2.546</p>
</td>
</tr>
<tr>
<td colspan="2">
<p>% de cargos de chefia ocupados por negros (as)</p>
</td>
<td colspan="6">
<p align="right">1,5</p>
</td>
<td colspan="6">
<p align="right">14,11</p>
</td>
</tr>
<tr>
<td colspan="2">
<p>N&ordm; de portadores (as) de defici&ecirc;ncia ou necessidades especiais</p>
</td>
<td colspan="6">
<p align="right">-</p>
</td>
<td colspan="6">
<p align="right">230</p>
</td>
</tr>
<tr>
<td class="destaque" colspan="2">
<p>6) Informa&ccedil;&otilde;es relevantes quanto ao exerc&iacute;cio da cidadania empresarial</p>
</td>
<td class="destaque" colspan="6">
<p align="center">2015</p>
</td>
<td class="destaque" colspan="6">
<p align="center">Metas 2016</p>
</td>
</tr>
<tr>
<td colspan="2">
<p>Rela&ccedil;&atilde;o entre maior e a menor remunera&ccedil;&atilde;o na empresa</p>
</td>
<td colspan="6">
<p align="right">36,44</p>
</td>
<td colspan="6">
<p align="right">N&atilde;o h&aacute; metas</p>
</td>
</tr>
<tr>
<td colspan="2">
<p>N&uacute;mero total de acidentes de trabalho considerar com empregados</p>
</td>
<td colspan="6">
<p align="right">89</p>
</td>
<td colspan="6">
<p align="right">N&atilde;o h&aacute; metas</p>
</td>
</tr>
<tr>
<td colspan="2">
<p>Os projetos sociais e ambientais desenvolvidos pela empresa foram definidos por:</p>
</td>
<td colspan="2">
<p>( ) dire&ccedil;&atilde;o</p>
</td>
<td colspan="2">
<p>(X) dire&ccedil;&atilde;o e ger&ecirc;ncias</p>
</td>
<td colspan="2">
<p>( ) todos (as) empregados (as)</p>
</td>
<td colspan="2">
<p>( ) dire&ccedil;&atilde;o</p>
</td>
<td colspan="2">
<p>(X) dire&ccedil;&atilde;o e ger&ecirc;ncias</p>
</td>
<td colspan="2">
<p>( ) todos (as) empregados (as)</p>
</td>
</tr>
<tr>
<td colspan="2">
<p>Os padr&otilde;es de seguran&ccedil;a e salubridade no ambiente de trabalho foram definidos por:</p>
</td>
<td colspan="2">
<p>( ) dire&ccedil;&atilde;o e ger&ecirc;ncias</p>
</td>
<td colspan="2">
<p>(X) todos (as) empregados (as)</p>
</td>
<td colspan="2">
<p>( ) Todos (as)<br /> + CIPA</p>
</td>
<td colspan="2">
<p>( ) dire&ccedil;&atilde;o e ger&ecirc;ncias</p>
</td>
<td colspan="2">
<p>(X) todos (as) empregados (as)</p>
</td>
<td colspan="2">
<p>( ) Todos (as)<br /> + CIPA</p>
</td>
</tr>
<tr>
<td colspan="2">
<p>Quanto a liberdade sindical, ao direito de negocia&ccedil;&atilde;o coletiva e &agrave; representa&ccedil;&atilde;o interna dos (as) trabalhadores (as), a empresa:</p>
</td>
<td colspan="2">
<p>( ) n&atilde;o se envolve</p>
</td>
<td colspan="2">
<p>(X) segue as<br /> normas da OIT</p>
</td>
<td colspan="2">
<p>( ) incentiva e segue a OIT</p>
</td>
<td colspan="2">
<p>( ) n&atilde;o se envolver&aacute;</p>
</td>
<td colspan="2">
<p>(X) seguir&aacute; as<br /> normas da OIT</p>
</td>
<td colspan="2">
<p>( ) incentivar&aacute; e<br /> seguir&aacute; a OIT</p>
</td>
</tr>
<tr>
<td colspan="2">
<p>A previd&ecirc;ncia privada contempla:</p>
</td>
<td colspan="2">
<p>( ) dire&ccedil;&atilde;o</p>
</td>
<td colspan="2">
<p>( ) dire&ccedil;&atilde;o e ger&ecirc;ncias</p>
</td>
<td colspan="2">
<p>(X) todos (as) empregados (as)</p>
</td>
<td colspan="2">
<p>( ) dire&ccedil;&atilde;o</p>
</td>
<td colspan="2">
<p>( ) dire&ccedil;&atilde;o e ger&ecirc;ncias</p>
</td>
<td colspan="2">
<p>(X) todos (as) empregados (as)</p>
</td>
</tr>
<tr>
<td colspan="2">
<p>A participa&ccedil;&atilde;o nos lucros ou resultados contempla:</p>
</td>
<td colspan="2">
<p>( ) dire&ccedil;&atilde;o</p>
</td>
<td colspan="2">
<p>( ) dire&ccedil;&atilde;o e ger&ecirc;ncias</p>
</td>
<td colspan="2">
<p>(X) todos (as) empregados (as)</p>
</td>
<td colspan="2">
<p>( ) dire&ccedil;&atilde;o</p>
</td>
<td colspan="2">
<p>( ) dire&ccedil;&atilde;o e ger&ecirc;ncias</p>
</td>
<td colspan="2">
<p>(X) todos (as) empregados (as)</p>
</td>
</tr>
<tr>
<td colspan="2">
<p>Na sele&ccedil;&atilde;o dos fornecedores, os mesmos padr&otilde;es &eacute;ticos e de responsabilidade social e ambiental adotados pela empresa:</p>
</td>
<td colspan="2">
<p>( ) n&atilde;o s&atilde;o considerados</p>
</td>
<td colspan="2">
<p>( ) s&atilde;o<br /> sugeridos</p>
</td>
<td colspan="2">
<p>(X) s&atilde;o<br />exigidos</p>
</td>
<td colspan="2">
<p>( ) n&atilde;o ser&atilde;o considerados</p>
</td>
<td colspan="2">
<p>( ) ser&atilde;o<br /> sugeridos</p>
</td>
<td colspan="2">
<p>(X) ser&atilde;o<br /> exigidos</p>
</td>
</tr>
<tr>
<td colspan="2">
<p>Quanto &agrave; participa&ccedil;&atilde;o de empregados (as) em programas de trabalho volunt&aacute;rio, a empresa:</p>
</td>
<td colspan="2">
<p>( ) n&atilde;o se envolve</p>
</td>
<td colspan="2">
<p>( ) apoia</p>
</td>
<td colspan="2">
<p>(X) organiza e incentiva</p>
</td>
<td colspan="2">
<p>( ) n&atilde;o se envolver&aacute;</p>
</td>
<td colspan="2">
<p>( ) apoiar&aacute;</p>
</td>
<td colspan="2">
<p>(X) organizar&aacute; e incentivar&aacute;</p>
</td>
</tr>
<tr>
<td colspan="2">
<p>N&uacute;mero total de reclama&ccedil;&otilde;es e cr&iacute;ticas de consumidores (as):</p>
</td>
<td colspan="2">
<p>na empresa<br /> ___<u>ND</u>__</p>
</td>
<td colspan="2">
<p>no Procon<br /> ___<u>ND</u>__</p>
</td>
<td colspan="2">
<p>na Justi&ccedil;a<br /> ___<u>ND</u>__</p>
</td>
<td colspan="2">
<p>na empresa<br /> ___<u>ND</u>__</p>
</td>
<td colspan="2">
<p>no Procon<br /> ___<u>ND</u>__</p>
</td>
<td colspan="2">
<p>na Justi&ccedil;a<br /> ___<u>ND</u>__</p>
</td>
</tr>
<tr>
<td colspan="2">
<p>% de reclama&ccedil;&otilde;es e cr&iacute;ticas solucionadas:</p>
</td>
<td colspan="2">
<p>na empresa<br /> ___<u>ND</u>__%</p>
</td>
<td colspan="2">
<p>no Procon<br /> ___<u>ND</u>__%</p>
</td>
<td colspan="2">
<p>na Justi&ccedil;a<br /> ___<u>ND</u>__%</p>
</td>
<td colspan="2">
<p>na empresa<br /> ___<u>ND</u>__%</p>
</td>
<td colspan="2">
<p>no Procon<br /> ___<u>ND</u>__%</p>
</td>
<td colspan="2">
<p>na Justi&ccedil;a<br /> ___<u>ND</u>__%</p>
</td>
</tr>
<tr>
<td class="destaque" colspan="2">
<p>Valor adicionado total a distribuir (em mil R$)</p>
</td>
<td class="destaque" colspan="6">
<p align="center">Em 2015:</p>
</td>
<td class="destaque" colspan="6">
<p align="center">Em 2014:</p>
</td>
</tr>
<tr>
<td colspan="2">
<p>Distribui&ccedil;&atilde;o do Valor Adicionado (DVA)</p>
</td>
<td colspan="6">
<p>61,86% governo &nbsp; 8,77% acionistas<br />8,17% colaboradores(as) &nbsp; 12,65% terceiros &nbsp;8,54% retido</p>
</td>
<td colspan="6">
<p>50,23% governo &nbsp; 12,07% acionistas<br />11,94% colaboradores(as) &nbsp; 14,08% terceiros &nbsp; 11,68% retido</p>
</td>
</tr>
<tr>
<td class="destaque" colspan="14">
<p>7) Outras Informa&ccedil;&otilde;es</p>
</td>
</tr>
<tr>
<td colspan="14">
<p>I. Em 2015, a Cemig investiu um total de R$ 53,8 milh&otilde;es em recursos relacionados &agrave;s quest&otilde;es ambientais, destes, R$ 8,5 milh&otilde;es foram aplicados em projetos de pesquisa relacionados a meio ambiente e R$ 45,3 milh&otilde;es em gest&atilde;o ambiental.</p>
<p>II. Outra importante atua&ccedil;&atilde;o da Cemig ocorre em rela&ccedil;&atilde;o ao monitoramento da qualidade da &aacute;gua dos reservat&oacute;rios. A Cemig monitora regularmente uma rede que contempla as principais bacias hidrogr&aacute;ficas de Minas Gerais, em 42 reservat&oacute;rios e mais de 180 esta&ccedil;&otilde;es de coleta de dados f&iacute;sicos, qu&iacute;micos e biol&oacute;gicos. A rede de monitoramento foi ajustada com o objetivo de aprimorar o suporte na gest&atilde;o da qualidade da &aacute;gua dos reservat&oacute;rios e atender condicionantes e resolu&ccedil;&otilde;es estaduais e federais.</p>
<p>III. Em 2015 foram destinadas 48,3 mil toneladas de res&iacute;duos e materiais inserv&iacute;veis, sendo que 99,8% foram alienadas, recicladas ou regeneradas e 0,2% foram coprocessadas, incineradas ou dispostas em aterro industrial. Dentro desses valores, foram regeneradas e reutilizadas pela empresa 32,3 toneladas de &oacute;leo mineral isolante antes impr&oacute;prio para consumo interno e coprocessadas 87&nbsp;toneladas de res&iacute;duos impregnados com &oacute;leo. Dos valores apresentados, 665 toneladas representam res&iacute;duos perigosos e 47,6 mil toneladas res&iacute;duos n&atilde;o perigosos.</p>
<p>IV. A venda destes res&iacute;duos gerou uma receita de R$ 12,8 milh&otilde;es, sendo R$ 10,5 milh&otilde;es provenientes da venda de res&iacute;duos da Cemig D e R$ 2,3 milh&otilde;es correspondentes a receita da Cemig GT.</p>
</td>
</tr>
</tbody>
</table>