<table>
<tbody>
<tr>
<td class="destaque" colspan="2">
<p>Documentos</p>
</td>
<td class="destaque">
<p>Status</p>
</td>
<td class="destaque">
<p>Quantidade</p>
</td>
<td class="destaque">
<p>Empreendimentos</p>
</td>
</tr>
<tr>
<td style="text-align: center;" rowspan="10">
<p>Novos licenciamentos</p>
</td>
<td style="text-align: center;" rowspan="3">
<p>Autoriza&ccedil;&otilde;es Ambientais de Funcionamento&nbsp;</p>
</td>
<td style="text-align: center;">
<p>Nova obten&ccedil;&atilde;o</p>
</td>
<td style="text-align: center;">
<p>2</p>
</td>
<td>
<p>SE Machado 2; SE Nova Resende</p>
</td>
</tr>
<tr>
<td style="text-align: center;">
<p>Renova&ccedil;&atilde;o</p>
</td>
<td style="text-align: center;">
<p>2</p>
</td>
<td>
<p>LD Paracatu 3 - Paracatu 4; SE Igarap&eacute; 2, 138 Kv</p>
</td>
</tr>
<tr>
<td style="text-align: center;">
<p>Processos em andamento</p>
</td>
<td style="text-align: center;">
<p>6</p>
</td>
<td>
<p>LD Congonhas - CSN; LD Corinto 1 - Tr&ecirc;s Marias; LD Pimenta - Piumhi 2; LD Rio Parana&iacute;ba - S&atilde;o Gotardo; LD Santos Dumont 1 - Santos Dumont 2 - LD1;SE Santa Luzia 4</p>
</td>
</tr>
<tr>
<td style="text-align: center;" rowspan="3">
<p>DAIA - <br /> Documento Autorizativo de Interven&ccedil;&atilde;o Ambiental</p>
</td>
<td style="text-align: center;">
<p>Nova obten&ccedil;&atilde;o</p>
</td>
<td style="text-align: center;">
<p>21</p>
</td>
<td>
<p>DAIA &Uacute;nico Noroeste - Arinos; DAIA &Uacute;nico Noroeste - Jo&atilde;o Pinheiro; DAIA &Uacute;nico Noroeste - Paracatu; DAIA &Uacute;nico Noroeste - Una&iacute;;DAIA &Uacute;nico Norte - Jana&uacute;ba; DAIA &Uacute;nico Norte - Janu&aacute;ria; DAIA &Uacute;nico Norte - Montes Claros; DAIA &Uacute;nico Norte - Pirapora; DAIA &Uacute;nico Norte - Salinas; DAIA &Uacute;nico Norte - S&atilde;o Francisco; LD Almenara - Jequitinhonha; LD Brumadinho - Copasa; LD Capelinha - Itamarandiba;&nbsp; LD Congonhas - CSN; LD Corinto 1 - Tr&ecirc;s Marias, 138kV (LD 2); LD Tronqueiras - Governador Valadades 2; LD Uberaba 3 - Uberaba 10, 138kV; RDR Ouro Preto IRO-17; SE Calafate; SE Itamarandiba; White Martins</p>
</td>
</tr>
<tr>
<td style="text-align: center;">
<p>Renova&ccedil;&atilde;o</p>
</td>
<td style="text-align: center;">
<p>1</p>
</td>
<td>
<p>LD Itanhandu - S&atilde;o Louren&ccedil;o</p>
</td>
</tr>
<tr>
<td style="text-align: center;">
<p>Processos em andamento</p>
</td>
<td style="text-align: center;">
<p>31</p>
</td>
<td>
<p>DAIA &Uacute;nico Centro - Belo Horizonte; DAIA &Uacute;nico Centro - Conselheiro Lafaiete; DAIA &Uacute;nico Centro - Curvelo; DAIA &Uacute;nico Centro - Sete Lagoas; DAIA &Uacute;nico Jequitinhonha - Capelinha; DAIA &Uacute;nico Jequitinhonha - Itamarandiba; DAIA &Uacute;nico Jequitinhonha - Jequitinhonha; DAIA &Uacute;nico Jequitinhonha - Medina; DAIA &Uacute;nico Jequitinhonha - Serro; DAIA &Uacute;nico Leste de Minas - Caratinga; DAIA &Uacute;nico Leste de Minas - Conselheiro Pena; DAIA &Uacute;nico Leste de Minas - Governador Valadares; DAIA &Uacute;nico Leste de Minas - Guanh&atilde;es; DAIA &Uacute;nico Leste de Minas - Jo&atilde;o Monlevade; DAIA &Uacute;nico Leste de Minas - Nanuque; DAIA &Uacute;nico Leste de Minas - Te&oacute;filo Otoni; DAIA &Uacute;nico Leste de Minas - Tim&oacute;teo; DAIA &Uacute;nico Sul - Caxambu; DAIA &Uacute;nico Sul - Lavras; DAIA &Uacute;nico Sul - Passos; DAIA &Uacute;nico Sul - Po&ccedil;os de Caldas; DAIA &Uacute;nico Sul - Pouso Alegre; DAIA &Uacute;nico Sul - S&atilde;o Jo&atilde;o Del Rei; DAIA &Uacute;nico Zona da Mata - Barbacena; DAIA &Uacute;nico Zona da Mata - Carangola; DAIA &Uacute;nico Zona da Mata - Juiz de Fora; DAIA &Uacute;nico Zona da Mata - Manhua&ccedil;u; DAIA &Uacute;nico Zona da Mata - Muria&eacute;; DAIA &Uacute;nico Zona da Mata - Vi&ccedil;osa; Esta&ccedil;&atilde;o Repetidora Itacarambi; Esta&ccedil;&atilde;o Repetidora Padre Carvalho</p>
</td>
</tr>
<tr>
<td style="text-align: center;" rowspan="3">
<p>Declara&ccedil;&otilde;es de N&atilde;o Pass&iacute;veis<br /> &nbsp;de Licenciamentos</p>
</td>
<td style="text-align: center;">
<p>Nova obten&ccedil;&atilde;o</p>
</td>
<td style="text-align: center;">
<p>15</p>
</td>
<td>
<p>FCA Montes Claros; LD Capelinha - Itamarandiba, 138kV(Op.69kV); LD Tronqueiras - Governador Valadades 2; SE Pot&eacute;; RDR - FCA Oliveira; SE Contagem; SE M&oacute;vel Abadia dos Dourados; SE Uberl&acirc;ndia M&oacute;vel; RDR - FCA Uberaba; SE Itamarandiba; LD Almenara - Jequitinhonha; SE S&atilde;o Jo&atilde;o Evangelista; LD Alpin&oacute;polis 2 - Passos 1; RDR Bom Despacho; SE S&atilde;o Sebasti&atilde;o do Oeste</p>
</td>
</tr>
<tr>
<td style="text-align: center;">
<p>Renova&ccedil;&atilde;o</p>
</td>
<td style="text-align: center;">
<p>1</p>
</td>
<td>
<p>SE Itaobim</p>
</td>
</tr>
<tr>
<td style="text-align: center;">
<p>Processos em andamento</p>
</td>
<td style="text-align: center;">
<p>2</p>
</td>
<td>
<p>SE M&oacute;vel Ibirit&eacute;; SE m&oacute;vel Juiz de Fora 8</p>
</td>
</tr>
<tr>
<td style="text-align: center;">
<p>Outorga de direito de uso de &aacute;gua p&uacute;blicas estaduais</p>
</td>
<td style="text-align: center;">
<p>Processos em andamento</p>
</td>
<td style="text-align: center;">
<p>5</p>
</td>
<td>
<p>SE Buritis 2; SE Novo Cruzeiro; SE Papagaios; SE Paracatu 4; SE Una&iacute; 5</p>
</td>
</tr>
</tbody>
</table>