<table>
<tbody>
<tr>
<td class="destaque" colspan="2">
<p>Documentos</p>
</td>
<td class="destaque">
<p>Status</p>
</td>
<td class="destaque" colspan="2">
<p>Quantidade</p>
</td>
<td class="destaque">
<p>Empreendimentos&nbsp;</p>
</td>
</tr>
<tr>
<td>
<p>Autoriza&ccedil;&otilde;es Ambientais de Funcionamento</p>
</td>
<td>
<p>AAF</p>
</td>
<td>
<p>Em an&aacute;lise</p>
</td>
<td colspan="2">
<p>2</p>
</td>
<td>
<p>PCH Luiz Dias<br /> PCH Jacutinga</p>
</td>
</tr>
<tr>
<td>
<p>Licenciamento corretivo</p>
</td>
<td>
<p>LOC</p>
</td>
<td>
<p>Em an&aacute;lise</p>
</td>
<td colspan="2">
<p>22</p>
</td>
<td rowspan="5">
<p>Empreendimentos diversos</p>
</td>
</tr>
<tr>
<td rowspan="5">
<p>Novos Licenciamentos</p>
</td>
<td rowspan="3">
<p>Outorga de Aproveitamento Hidrel&eacute;trico</p>
</td>
<td rowspan="3">
<p>Em an&aacute;lise</p>
</td>
<td rowspan="3">
<p>25</p>
</td>
<td>
<p>01 vinculado a processo de AAF</p>
</td>
</tr>
<tr>
<td>
<p>18 vinculados a processos de LOC</p>
</td>
</tr>
<tr>
<td>
<p>06 vinculados a processo de renova&ccedil;&atilde;o de LOC</p>
</td>
</tr>
<tr>
<td rowspan="2">
<p>Renova&ccedil;&atilde;o de LO</p>
</td>
<td>
<p>Em an&aacute;lise</p>
</td>
<td colspan="2">
<p>11</p>
</td>
</tr>
<tr>
<td>
<p>Obtida</p>
</td>
<td colspan="2">
<p>1</p>
</td>
<td>
<p>Sistema de Transmiss&atilde;o Regional Sudeste</p>
</td>
</tr>
</tbody>
</table>