<table>
<tbody>
<tr>
<td class="destaque" style="text-align: center;">
<p>Stakeholder</p>
</td>
<td class="destaque" style="text-align: center;">
<p>Indicadores materiais&nbsp;</p>
</td>
<td class="destaque" style="text-align: center;">
<p>Fontes consultadas</p>
</td>
<td class="destaque" style="text-align: center;">
<p>Abrang&ecirc;ncia</p>
</td>
</tr>
<tr>
<td>
<p>Investidores</p>
</td>
<td>
<p>Clientes e consumidores (tarifas/comercializa&ccedil;&atilde;o; concess&otilde;es, qualidade de energia); Investimento para Crescimento, Gest&atilde;o de Riscos, Desempenho Econ&ocirc;mico</p>
</td>
<td>
<p>Fale com RI</p>
</td>
<td>
<p>interna e externa</p>
</td>
</tr>
<tr>
<td>
<p>Comunidade</p>
</td>
<td>
<p>Clientes e consumidores (relacionamento com clientes), Sa&uacute;de e Seguran&ccedil;a no Trabalho, Emprego, Investimento para Crescimento, Gest&atilde;o de Riscos, Biodiversidade, Comunidades (comunidades locais, investimento social), Desempenho Econ&ocirc;mico, Gest&atilde;o Ambiental, Tecnologia e Inova&ccedil;&atilde;o, &Aacute;gua, Mudan&ccedil;as Clim&aacute;ticas (emiss&otilde;es)</p>
</td>
<td>
<p>Relat&oacute;rios Face a Face (Irap&eacute;) e Canal de Sustentabilidade</p>
</td>
<td>
<p>interna e externa</p>
</td>
</tr>
<tr>
<td>
<p>Fornecedores</p>
</td>
<td>
<p>Clientes e Consumidores (tarifas/qualidade da energia), Sa&uacute;de e Seguran&ccedil;a no Trabalho, Emprego (treinamento e educa&ccedil;&atilde;o), Investimento para Crescimento, Gest&atilde;o de Riscos, Biodiversidade, Comunidades, Tecnologia e Inova&ccedil;&atilde;o.</p>
</td>
<td>
<p>Entrevista com <br /> gerente da &aacute;rea</p>
</td>
<td>
<p>interna e externa</p>
</td>
</tr>
<tr>
<td>
<p>Clientes Corporativos</p>
</td>
<td>
<p>Clientes e Consumidores (relacionamento com clientes/tarifas/disponibilidade e confiabilidade), Investimento para Crescimento, Biodiversidade, Desempenho Econ&ocirc;mico, Tecnologia e Inova&ccedil;&atilde;o.</p>
</td>
<td>
<p>Agente de <br /> relacionamento <br /> comercial</p>
</td>
<td>
<p>interna e externa</p>
</td>
</tr>
<tr>
<td>
<p>Consumidores Residenciais</p>
</td>
<td>
<p>Clientes e Consumidores (relacionamento com clientes/tarifas/disponibilidade e confiabilidade/ilumina&ccedil;&atilde;o p&uacute;blica/qualidade da energia), Sa&uacute;de e Seguran&ccedil;a no Trabalho, Investimento para Crescimento, Gest&atilde;o de Riscos, Biodiversidade, Comunidades, Tecnologia e Inova&ccedil;&atilde;o.</p>
</td>
<td>
<p>Mix de canais de atendimento, ouvidoria, pesquisas, IASC, Reputa&ccedil;&atilde;o e Marca</p>
</td>
<td>
<p>interna e externa</p>
</td>
</tr>
<tr>
<td>
<p>Imprensa</p>
</td>
<td>
<p>Clientes e Consumidores (relacionamento com cliente/tarifas/disponibilidade e confiabilidade/ilumina&ccedil;&atilde;o p&uacute;blica), Sa&uacute;de e Seguran&ccedil;a no Trabalho, Investimento para Crescimento, Gest&atilde;o de Riscos, Biodiversidade, Comunidades, Tecnologia e Inova&ccedil;&atilde;o.&nbsp;</p>
</td>
<td>
<p>Clipping</p>
</td>
<td>
<p>interna e externa</p>
</td>
</tr>
<tr>
<td>
<p>Empregados</p>
</td>
<td>
<p>Emprego (treinamento)</p>
</td>
<td>
<p>Pesquisa do Clima</p>
</td>
<td>
<p>interna e externa</p>
</td>
</tr>
<tr>
<td>
<p>Audoridades Governamentais</p>
</td>
<td>
<p>Clientes e Consumidores (relacionamento com clientes/disponibilidade e confiabilidade/ilumina&ccedil;&atilde;o p&uacute;blica)</p>
</td>
<td>
<p>Pesquisa IASC com prefeituras</p>
</td>
<td>
<p>interna e externa</p>
</td>
</tr>
</tbody>
</table>