<table>
<tbody>
<tr>
<td class="destaque">
<p>&nbsp;</p>
</td>
<td class="destaque" style="text-align: center;">
<p>Sistema de Capta&ccedil;&atilde;o de Leitura - anterior</p>
</td>
<td class="destaque" style="text-align: center;">
<p>Sistema de Capta&ccedil;&atilde;o de Leitura - atual</p>
</td>
</tr>
<tr>
<td>
<p>Custo com loca&ccedil;&atilde;o e manuten&ccedil;&atilde;o do hardware + software por 48 meses</p>
</td>
<td style="text-align: center;">
<p>R$ 57,6 milh&otilde;es</p>
</td>
<td style="text-align: center;">
<p>R$ 15,4 milh&otilde;es</p>
</td>
</tr>
<tr>
<td>
<p>Pe&ccedil;as (Micro Coletor de Leitura + Impressora)</p>
</td>
<td style="text-align: center;">
<p>2.359 unidades</p>
</td>
<td style="text-align: center;">
<p>3.299 unidades</p>
</td>
</tr>
<tr>
<td>
<p>Software</p>
</td>
<td style="text-align: center;">
<p>Terceirizado</p>
</td>
<td style="text-align: center;">
<p>Pr&oacute;prio</p>
</td>
</tr>
</tbody>
</table>