<table>
<tbody>
<tr>
<td class="destaque" style="text-align: center;" rowspan="2">
<p>Tempo de dura&ccedil;&atilde;o do desligamento</p>
</td>
<td class="destaque" style="text-align: center;">
<p>2013</p>
</td>
<td class="destaque" style="text-align: center;">
<p>2014</p>
</td>
<td class="destaque" style="text-align: center;">
<p>2015</p>
</td>
</tr>
<tr>
<td class="destaque" style="text-align: center;">
<p>Quantidade por tempo de desligamento</p>
</td>
<td class="destaque" style="text-align: center;">
<p>Quantidade por tempo de desligamento</p>
</td>
<td class="destaque" style="text-align: center;">
<p>Quantidade por tempo de desligamento</p>
</td>
</tr>
<tr>
<td style="text-align: center;">&lt; 48 horas&nbsp;</td>
<td style="text-align: right;">
<p>130.075</p>
</td>
<td style="text-align: right;">
<p>169.606</p>
</td>
<td style="text-align: right;">
<p>188.607</p>
</td>
<!--48--></tr>
<tr>
<td style="text-align: center;">
<p>48 horas &ndash; 1 semana</p>
</td>
<td style="text-align: right;">
<p>42.781</p>
</td>
<td style="text-align: right;">
<p>39.927</p>
</td>
<td style="text-align: right;">
<p>41.371</p>
</td>
</tr>
<tr>
<td style="text-align: center;">
<p>1 semana &ndash; 1 m&ecirc;s</p>
</td>
<td style="text-align: right;">
<p>35.317</p>
</td>
<td style="text-align: right;">
<p>32.283</p>
</td>
<td style="text-align: right;">
<p>36.058</p>
</td>
</tr>
<tr>
<td style="text-align: center;">
<p>1 m&ecirc;s &ndash; 1 ano</p>
</td>
<td style="text-align: right;">
<p>66.494</p>
</td>
<td style="text-align: right;">
<p>36.014</p>
</td>
<td style="text-align: right;">
<p>57.756</p>
</td>
</tr>
<tr>
<td style="text-align: center;">
<p>&gt; 1 ano</p>
</td>
<td style="text-align: right;">
<p>14.260</p>
</td>
<td style="text-align: right;">
<p>7.761</p>
</td>
<td style="text-align: right;">
<p>5.159</p>
</td>
</tr>
</tbody>
</table>