<table>
<tbody>
<tr>
<td class=" destaque" style="text-align: center;">
<p>2015</p>
</td>
<td class=" destaque" style="text-align: center;">
<p>N&uacute;mero de participa&ccedil;&otilde;es</p>
</td>
<td class=" destaque" style="text-align: center;">
<p>Homem-Hora Treinado</p>
</td>
</tr>
<tr>
<td style="text-align: center;">
<p>Cemig</p>
</td>
<td style="text-align: center;">
<p>12.152</p>
</td>
<td style="text-align: center;">
<p>299.367</p>
</td>
</tr>
<tr>
<td style="text-align: center;">
<p>Outras empresas</p>
</td>
<td style="text-align: center;">
<p>2.234</p>
</td>
<td style="text-align: center;">
<p>111.100</p>
</td>
</tr>
<tr>
<td style="text-align: center;">
<p>Total</p>
</td>
<td style="text-align: center;">
<p>14.365</p>
</td>
<td style="text-align: center;">
<p>410.466</p>
</td>
</tr>
</tbody>
</table>
<pre>Fonte: Relat&oacute;rio ZHR15 do SAP de 21/12/2015.</pre>