<table>
<tbody>
<tr>
<td class="destaque" style="text-align: center;">
<p>Unidade de Conserva&ccedil;&atilde;o</p>
</td>
<td class="destaque" style="text-align: center;">
<p>Empreendimento</p>
</td>
<td class="destaque" style="text-align: center;">
<p>Localiza&ccedil;&atilde;o</p>
</td>
<td class="destaque" style="text-align: center;">
<p>&Aacute;rea <br /> (hectares)</p>
</td>
</tr>
<tr>
<td>
<p>RPPN Fartura</p>
</td>
<td>
<p>UHE Irap&eacute;</p>
</td>
<td>
<p>Capelinha/MG</p>
</td>
<td align="right">
<p>1.455</p>
</td>
</tr>
<tr>
<td>
<p>RPPN Galheiro</p>
</td>
<td>
<p>UHE Nova Ponte</p>
</td>
<td>
<p>Perdizes/MG</p>
</td>
<td align="right">
<p>2.847</p>
</td>
</tr>
<tr>
<td>
<p>RPPN Jacob</p>
</td>
<td>
<p>UHE Miranda</p>
</td>
<td>
<p>Nova Ponte/MG</p>
</td>
<td align="right">
<p>358</p>
</td>
</tr>
<tr>
<td>
<p>Esta&ccedil;&atilde;o Ambiental Igarap&eacute;</p>
</td>
<td>
<p>UTE Igarap&eacute;</p>
</td>
<td>
<p>Juatuba/MG</p>
</td>
<td align="right">
<p>105</p>
</td>
</tr>
<tr>
<td>
<p>Esta&ccedil;&atilde;o Ambiental Itutinga</p>
</td>
<td>
<p>UHE Itutinga</p>
</td>
<td>
<p>Itutinga/MG</p>
</td>
<td align="right">
<p>35</p>
</td>
</tr>
<tr>
<td>
<p>Esta&ccedil;&atilde;o Ambiental de Peti</p>
</td>
<td>
<p>PCH Peti</p>
</td>
<td>
<p>S&atilde;o Gon&ccedil;alo <br /> do Rio Abaixo/MG</p>
</td>
<td align="right">
<p>459</p>
</td>
</tr>
<tr>
<td>
<p>Esta&ccedil;&atilde;o Ambiental Machado Mineiro</p>
</td>
<td>
<p>PCH Machado Mineiro</p>
</td>
<td>
<p>Ninheira/MG</p>
</td>
<td align="right">
<p>3</p>
</td>
</tr>
<tr>
<td>
<p>Esta&ccedil;&atilde;o Ambiental de Volta Grande</p>
</td>
<td>
<p>UHE Volta Grande</p>
</td>
<td>
<p>Concei&ccedil;&atilde;o das Alagoas/MG<br /> Miguel&oacute;polis/SP</p>
</td>
<td align="right">
<p>391</p>
</td>
</tr>
</tbody>
</table>