<table>
<tbody>
<tr>
<td class="destaque" colspan="2" valign="top">
<p align="center"><strong>Princ&iacute;pios do Pacto Global</strong></p>
</td>
</tr>
<tr>
<td class="subtitulo" colspan="2" valign="top">
<p><strong>Princ&iacute;pios de Direitos Humanos</strong></p>
</td>
</tr>
<tr>
<td style="width: 40px;" valign="top">
<p>PG1</p>
</td>
<td valign="bottom">
<p>Princ&iacute;pio 1 : Respeitar e proteger os direitos humanos</p>
</td>
</tr>
<tr>
<td valign="top">
<p>PG2</p>
</td>
<td valign="bottom">
<p>Princ&iacute;pio 2: Impedir viola&ccedil;&otilde;es de direitos humanos</p>
</td>
</tr>
<tr>
<td class="subtitulo" colspan="2" valign="top">
<p><strong>Princ&iacute;pios de Direitos do Trabalho</strong></p>
</td>
</tr>
<tr>
<td valign="top">
<p>PG3</p>
</td>
<td valign="bottom">
<p>Princ&iacute;pio 3: Apoiar a liberdade de associa&ccedil;&atilde;o no trabalho</p>
</td>
</tr>
<tr>
<td valign="top">
<p>PG4</p>
</td>
<td valign="bottom">
<p>Princ&iacute;pio 4: Abolir o trabalho for&ccedil;ado</p>
</td>
</tr>
<tr>
<td valign="top">
<p>PG5</p>
</td>
<td valign="bottom">
<p>Princ&iacute;pio 5: Abolir o trabalho infantil</p>
</td>
</tr>
<tr>
<td valign="top">
<p>PG6</p>
</td>
<td valign="bottom">
<p>Princ&iacute;pio 6: Eliminar a discrimina&ccedil;&atilde;o no ambiente de trabalho</p>
</td>
</tr>
<tr>
<td class="subtitulo" colspan="2" valign="top">
<p><strong>Princ&iacute;pios de Prote&ccedil;&atilde;o Ambiental</strong></p>
</td>
</tr>
<tr>
<td valign="top">
<p>PG7</p>
</td>
<td valign="bottom">
<p>Princ&iacute;pio 7: Apoiar uma abordagem preventiva aos desafios ambientais</p>
</td>
</tr>
<tr>
<td valign="top">
<p>PG8</p>
</td>
<td>
<p>Princ&iacute;pio 8: Promover a responsabilidade ambiental</p>
</td>
</tr>
<tr>
<td valign="top">
<p>PG9</p>
</td>
<td valign="bottom">
<p>Princ&iacute;pio 9: Encorajar tecnologias que n&atilde;o agridem o meio ambiente</p>
</td>
</tr>
<tr>
<td class="subtitulo" colspan="2" valign="top">
<p><strong>Princ&iacute;pio Contra a Corrup&ccedil;&atilde;o</strong></p>
</td>
</tr>
<tr>
<td valign="top">
<p>PG10</p>
</td>
<td valign="bottom">
<p>Princ&iacute;pio 10: Combater a corrup&ccedil;&atilde;o em todas as suas formas, inclusive extors&atilde;o e propina</p>
</td>
</tr>
</tbody>
</table>